@page "/en/6.0/software-overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Introduction";
}

<h1>Introduction</h1>
Rapid SCADA is a software that automatically collects data communicating with controllers, processes data and provides information to a dispatcher. Rapid SCADA supports commonly used communication standards such as Modbus protocol and OPC that allow using a huge amount of various devices. The list of supported devices can be extended by developing additional drivers.
