@page "/ru/5.8/software-overview/applications"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Описание приложений";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#server-application">Приложение Сервер</a></li>
        <li><a href="#communicator-application">Приложение Коммуникатор</a></li>
        <li><a href="#webstation-application">Приложение Вебстанция</a></li>
        <li><a href="#agent-application">Приложение Агент</a></li>
        <li><a href="#administrator-application">Приложение Администратор</a></li>
        <li><a href="#table-editor-application">Приложение Редактор таблиц</a></li>
        <li><a href="#scheme-editor-application">Приложение Редактор схем</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Описание приложений</h1>
    <h2 id="server-application">Приложение Сервер</h2>
    <p>Приложение Сервер предназначено для управления базой архивных данных системы, ведения резервной копии данных, математических расчётов в соответствии с заданной конфигурацией и предоставления информации по запросам клиентов.</p>
    <figure class="figure">
        <img src="applications-files/scada_server_shell_ru.png" class="figure-img img-fluid" alt="Графическая оболочка для настройки Сервера" />
        <figcaption class="figure-caption">Рис. 1. Графическая оболочка для настройки Сервера</figcaption>
    </figure>
    <p>Сервер является службой, которая не имеет пользовательского интерфейса и работает постоянно в фоновом режиме вне зависимости от входа и выхода пользователей в операционную систему. Графическая оболочка для настройки Сервера встроена в приложение Администратор (рис. 1).</p>
    <p>Программа осуществляет контроль подключенных пользователей и на основе их прав производит ограничение выдаваемых данных и принимаемых команд. Служебная информация о работе приложения сохраняется в текстовом файле журнала. Сервер рассчитан на круглосуточный режим работы.</p>
    <p>Дополнительные серверные модули позволяют расширять функциональность Сервера в соответствии с требованиями Заказчика.</p>

    <h2 id="communicator-application">Приложение Коммуникатор</h2>
    <p>Приложение Коммуникатор выполняет следующие функции:</p>
    <ul>
        <li>сбор данных с устройств, подключенных к системе, выполняемый параллельно по множеству линий связи;</li>
        <li>подача команд подключенным устройствам;</li>
        <li>диагностика и тестирование оборудования;</li>
        <li>передача информации приложению Сервер.</li>
    </ul>
    <figure class="figure">
        <img src="applications-files/scada_comm_shell_ru.png" class="figure-img img-fluid" alt="Графическая оболочка для настройки Коммуникатора" />
        <figcaption class="figure-caption">Рис. 2. Графическая оболочка для настройки Коммуникатора</figcaption>
    </figure>
    <p>Коммуникатор автоматически записывает в текстовые файлы информацию о работе приложения, линий связи, каждого подключенного устройства. Коммуникатор является службой, которая не имеет пользовательского интерфейса. Графическая оболочка для настройки Коммуникатора встроена в приложение Администратор (рис. 2). Режим работы Коммуникатора круглосуточный. Сторонние разработчики имеют возможность реализовывать собственные драйверы для взаимодействия Коммуникатора с различными устройствами.</p>

    <h2 id="webstation-application">Приложение Вебстанция</h2>
    <p>Вебстанция – это веб-приложение, которое предназначено для отображения измеряемых системой данных и управления посредством программы-браузера (рис. 3 и 4). Информация представляется в табличной форме, на графиках, на схемах, а также в отчётах, которые генерируются в привычных форматах HTML и Microsoft Excel.</p>
    <figure class="figure">
        <img src="applications-files/scada_web_scheme_ru.png" class="figure-img img-fluid" alt="Приложение Вебстанция. Мнемосхема" />
        <figcaption class="figure-caption">Рис. 3. Приложение Вебстанция. Мнемосхема</figcaption>
    </figure>
    <figure class="figure">
        <img src="applications-files/scada_web_table_en.png" class="figure-img img-fluid" alt="Приложение Вебстанция. Табличное представление" />
        <figcaption class="figure-caption">Рис. 4. Приложение Вебстанция. Табличное представление</figcaption>
    </figure>
    <p>Для получения информации пользователю достаточно выбрать представление (таблицу или схему) и при необходимости изменить дату просматриваемых данных. Чтобы получить график значений интересующего входного канала, следует щёлкнуть мышкой по пиктограмме параметра в таблице или по элементу на схеме.</p>
    <p>Приложение Вебстанция доступно с любого компьютера или планшета, подключенного к вычислительной сети организации без выполнения какой-либо инсталляции ПО. Вход в систему возможен только при наличии прав доступа, определённых администратором системы.</p>
    <p>Функциональность Вебстанции может быть расширена с помощью дополнительных плагинов. Например, плагин <a href="../modules/plg-chart-pro">Графики Про</a> расширяет возможности для работы с трендами входных каналов: масштабирование, одновременное отображение нескольких графиков, экспорт в форматы PNG и PDF. Плагин <a href="../modules/plg-elastic-report">Гибкий отчёт</a> позволяет генерировать отчёты в соответствии с пользовательской конфигурацией. С помощью данного плагина возможно построить практически любой необходимый отчёт. Сторонние разработчики имеют возможность разрабатывать и встраивать в веб-приложение собственные плагины, отображающие информацию оператору в произвольной форме.</p>

    <h2 id="agent-application">Приложение Агент</h2>
    <p>Агент необходим для передачи конфигурации между экземпляром Rapid SCADA и приложением Администратор. Кроме того, Агент предоставляет журналы работы для отображения в Администраторе. Агент работает как служба на том сервере, на котором установлен контролируемый им экземпляр Rapid SCADA. Экземпляр Rapid SCADA включает в себя приложения Сервер, Коммуникатор и Вебстанция, все либо некоторые из этих приложений.</p>
    <p>Агент взаимодействует с Администратором по протоколу TCP. Поэтому Администратор может быть установлен как на одном компьютере с Агентом, так и на другом компьютере, который доступен по сети. По умолчанию Агент использует TPC-порт 10002. При удалённом подключении входящие соединения по этому порту должны быть разрешены брэндмауэром сервера.</p>
    <p>Агент не имеет пользовательского интерфейса. Для контроля его работы используется журнал, расположенный по умолчанию в директории C:\SCADA\ScadaAgent\Log</p>

    <h2 id="administrator-application">Приложение Администратор</h2>
    <p>Приложение Администратор (рис. 5) предназначено для разработки проектов Rapid SCADA и контроля состояния автоматизированной системы. Администратор представляет собой единую среду разработки, которая позволяет редактировать базу конфигурации, настраивать основные приложения Rapid SCADA, модули Сервера и драйверы устройств.</p>
    <figure class="figure">
        <img src="applications-files/scada_admin_ru.png" class="figure-img img-fluid" alt="Приложение Администратор" />
        <figcaption class="figure-caption">Рис. 5. Приложение Администратор</figcaption>
    </figure>
    <p>Инструменты программы Администратор, позволяющие ускорить процесс конфигурирования:</p>
    <ul>
        <li>Импорт и экспорт таблиц базы конфигурации для обмена готовыми наработками между проектами.</li>
        <li>Мастер автоматического создания входных каналов и каналов управления.</li>
        <li>Функция клонирования каналов, позволяющая сократить ручной ввод.</li>
    </ul>

    <p>Проект содержит набор конфигурационных файлов, в основном использующих формат XML. Благодаря данному подходу, проект легко может быть скопирован на другой компьютер. Для контроля версий проекта и совместной работы рекомендуется использовать систему Git.</p>

    <h2 id="table-editor-application">Приложение Редактор таблиц</h2>
    <p>Приложение Редактор таблиц предназначено для создания табличных представлений, которые отображаются на рабочей станции оператора. Редактор таблиц используется инженерами в процессе конфигурирования Rapid SCADA.</p>
    <figure class="figure">
        <img src="applications-files/scada_table_editor_ru.png" class="figure-img img-fluid" alt="Приложение Редактор таблиц" />
        <figcaption class="figure-caption">Рис. 6. Приложение Редактор таблиц</figcaption>
    </figure>
    <p>В левой части окна программы можно выбрать каналы из базы конфигурации и добавить их в табличное представление. Содержимое редактируемого табличного представления показывается в правой части окна. Скрытые элементы не отображаются веб-интерфейсе приложения <a href="#webstation-application">Вебстанция</a>, но учитываются при фильтрации событий по представлению.</p>
    <p>Редактор таблиц удобно вызывать из приложения Администратор, дважды щелчкнув по узлу редактируемой таблицы в проводнике проекта. В строке состояния Редактора таблиц отображается путь к базе конфигуации проекта, в котором расположена редактируемая таблица.</p>

    <h2 id="scheme-editor-application">Приложение Редактор схем</h2>
    <p>Приложение Редактор схем предназначено для создания мнемосхем, которые отображаются на рабочей станции оператора. Редактор схем используется инженерами в процессе конфигурирования Rapid SCADA.</p>
    <figure class="figure">
        <img src="applications-files/scada_scheme_editor_ru.png" class="figure-img img-fluid" alt="Приложение Редактор схем" />
        <figcaption class="figure-caption">Рис. 7. Приложение Редактор схем</figcaption>
    </figure>
    <p>Схема состоит из текстовых и графических элементов, которые имеют множество свойств, определяющих их внешний вид и поведение. Отображение статических элементов схемы неизменно. Динамические элементы привязываются к каналам базы конфигурации, что позволяет отображать текущие измеряемые значения и состояния, по щелчку пользователя строить графики и отправлять команды телеуправления.</p>
</div>
