@page "/ru/latest/modules/drv-telegram"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Драйвер Telegram";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li>
            <a href="#configuring">Конфигурирование</a>
            <ul>
                <li><a href="#creating-bot">Создание бота</a></li>
                <li><a href="#driver-settings">Настройка драйвера</a></li>
                <li><a href="#manage-subscriptions">Управление подписками</a></li>
            </ul>
        </li>
        <li><a href="#sending-messages">Отправка сообщений</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Драйвер Telegram</h1>
    <h2 id="overview">Обзор</h2>
</div>
