@page "/ru/latest/modules/mod-auto-control"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Модуль автоматического управления";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li>
            <a href="#configuring">Конфигурирование</a>
            <ul>
                <li><a href="#triggers">Триггеры</a></li>
                <li><a href="#commands">Команды</a></li>
                <li><a href="#events">События</a></li>
                <li><a href="#variables">Переменные</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Модуль автоматического управления</h1>
    <h2 id="overview">Обзор</h2>
    <p>Модуль автоматического управления - это дополнительный модуль для приложения Сервер, который отправляет команды и генерирует события при выполнении определённых условий. Модуль позволяет реализовать различные алгоритмы управления и рассылку уведомлений без необходимости программирования, посредством пользовательского интерфейса. На следующем рисунке показана форма для настройки модуля.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/auto-control-ru.png" class="figure-img img-fluid" alt="Модуль автоматического управления" />
    </figure>
    <p>Информация о срабатывании триггеров, отправленных командах и событиях записывается в файл журнала модуля <code>ModAutoControl.log</code>, который можно просмотреть с помощью приложения Администратор или любого текстового редактора.</p>

    <h2 id="installation">Установка</h2>
    <p>Модуль автоматического управления устанавливается по <a href="../installation/install-modules#modules">инструкции</a>. Последовательность установки модуля стандартная.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Настройка модуля заключается в создании триггеров, которые срабатывают при выполнении определённых условий. Триггеры могут быть различных типов, рассмотренных далее. При срабатывании триггера модуль отправляет команды и генерирует события, которые относятся к этому триггеру.</p>
    <p>Чтобы открыть форму для настройки модуля, на странице <strong>Сервер &gt; Модули</strong> выберите модуль <strong>ModAutoControl</strong> и нажмите кнопку <strong>Свойства</strong>. Модуль должен находиться в списке активных модулей. Конфигурация модуля сохраняется в файл <code>ModAutoControl.xml</code>.</p>

    <h3 id="triggers">Триггеры</h3>
    <h4>Триггер на данные канала</h4>
    <p>Триггер на данные канала срабатывает, когда значение и статус канала соответствует условиям, заданным в параметрах триггера. При запуске модуль заполняет список каналов, удовлетворяющих фильтру каналов. Выполнение условий проверяется индивидуально для каждого канала из этого списка. Если фильтр каналов пуст, то триггер работает для всех активных каналов входного типа.</p>
    <p>Триггер имеет состояние, которое позволяет реализовать задержку и повтор сработки триггера. Состояние триггера сохраняется в процессе работы модуля и загружается при запуске Сервера.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/cnl-data-trigger-ru.png" class="figure-img img-fluid" alt="Триггер на данные канала" />
    </figure>

    <h4>Триггер на данные нескольких каналов</h4>
    <p>Этот тип триггера используется, если условие должно учитывать значения более, чем одного канала. Если статус какого-либо из указанных каналов не определён, то считается, что условие для этого канала не выполняется. Состояние триггера сохраняется и загружается модулем.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/multi-cnl-data-trigger-ru.png" class="figure-img img-fluid" alt="Триггер на данные нескольких каналов" />
    </figure>

    <h4>Триггер на изменение данных канала</h4>
    <p>Триггер срабатывает, если значение или статус указанного канала изменились. Для ограничения частоты срабатывания триггера предназначен соответствующий параметр.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/cnl-data-change-trigger-ru.png" class="figure-img img-fluid" alt="Триггер на изменение данных канала" />
    </figure>

    <h4>Триггер на событие</h4>
    <p>Триггер на событие срабатывает, если возникшее в системе событие удовлетворяет указанным условиям. Триггер в том числе срабатывает на события, которые генерируются самим модулем. При срабатывании триггера новые события не могут быть сгенерированы, чтобы избежать бесконечного цикла.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/event-trigger-ru.png" class="figure-img img-fluid" alt="Триггер на событие" />
    </figure>

    <h4>Триггер по времени</h4>
    <p>Триггер по времени может срабатывать каждый день в указанные моменты времени, в определённые дни недели, дни месяца или в конкретную дату.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/time-trigger-ru.png" class="figure-img img-fluid" alt="Триггер по времени" />
    </figure>

    <h4>Триггер на команду</h4>
    <p>Триггер на команду удобно использовать в тех случаях, когда по одной команде необходимо отправить серию команд. Если для триггера задано условие проверки данных, то данные поступающих команд преобразуются в строку, используя кодировку UTF8, а затем проверяются на соответствие условию.</p>
    <p>Триггер срабатывает в том числе на команды, отправленные самим модулем. Максимальная глубина рекурсии ограничена 10 уровнями.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/command-trigger-ru.png" class="figure-img img-fluid" alt="Триггер на команду" />
    </figure>

    <h3 id="commands">Команды</h3>
    <p>На рисунке ниже показаны параметры команды, которая отправляется при сработке или нормализации триггера. Команда может быть отправлена на канал или сразу на устройство. Если команда отправляется на канал, для команды будет выполнена проверка прав и рассчитана выходная формула. Если команда отправляется на устройство, то она будет добавлена в очередь на отправку клиентам как есть без дополнительной обработки. При отправке команды на устройство необходимо указать номер или код команды.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/command-config-ru.png" class="figure-img img-fluid" alt="Параметры команды" />
    </figure>
    <p>Если установлена галочка <strong>Копировать значение</strong>, значение отправляемой команды будет скопировано из значения канала или команды, на которое сработал триггер, если это применимо для данного типа триггера. Строковые данные команд могут содержать переменные, о которых написано ниже.</p>

    <h3 id="events">События</h3>
    <p>На следующем рисунке показаны параметры события, которое генерируется при сработке или нормализации триггера.</p>
    <figure class="figure">
        <img src="mod-auto-control-files/event-config-ru.png" class="figure-img img-fluid" alt="Параметры события" />
    </figure>
    <p>Если в конфигурации модуля серьёзность события установлена по умолчанию (равна 0), то она присваивается Сервером на основе статуса канала. Если серьёзность не нулевая, то событие создаётся с указанным значением серьёзности.</p>
    <p>Если галочка <strong>Требуется квитирование</strong> не установлена, но статус канала в базе конфигурации имеет установленное поле <strong>Квитирование</strong>, то признак необходимости квитирования события присваивается Сервером на основе статуса.</p>
    <p><strong>Пользовательский текст</strong> создаваемого события статический без поддержки переменных.</p>

    <h3 id="variables">Переменные</h3>
    <p>Строковые данные команд, которые отправляются при сработке триггеров, могут содержать переменные. Переменные записываются в фигурных скобках.</p>
    <p>Поддерживаются следующие переменные:</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Переменная</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2"><strong>Для триггеров всех типов</strong></td>
            </tr>
            <tr>
                <td>{n}</td>
                <td>Текущее значение канала n, форматированное, с размерностью. Если n = 0, используется канал триггера (если применимо)</td>
            </tr>
            <tr>
                <td>{Now}</td>
                <td>Текущие дата и время в часовом поясе сервера</td>
            </tr>
            <tr>
                <td>{NowUtc}</td>
                <td>Текущие дата и время UTC</td>
            </tr>
            <tr>
                <td>{Time}</td>
                <td>Время сработки триггера в часовом поясе сервера</td>
            </tr>
            <tr>
                <td>{TimeUtc}</td>
                <td>Время сработки триггера UTC</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Для триггеров на данные канала</strong></td>
            </tr>
            <tr>
                <td>{CnlNum}</td>
                <td>Номер канала</td>
            </tr>
            <tr>
                <td>{CnlName}</td>
                <td>Наименование канала</td>
            </tr>
            <tr>
                <td>{ObjNum}</td>
                <td>Номер объекта</td>
            </tr>
            <tr>
                <td>{ObjName}</td>
                <td>Наименование объекта</td>
            </tr>
            <tr>
                <td>{DevNum}</td>
                <td>Номер устройства</td>
            </tr>
            <tr>
                <td>{DevName}</td>
                <td>Наименование устройства</td>
            </tr>
            <tr>
                <td>{LoLo}</td>
                <td>Нижняя аварийная граница канала</td>
            </tr>
            <tr>
                <td>{Low}</td>
                <td>Нижняя граница канала</td>
            </tr>
            <tr>
                <td>{High}</td>
                <td>Верхняя граница канала</td>
            </tr>
            <tr>
                <td>{HiHi}</td>
                <td>Верхняя аварийная граница канала</td>
            </tr>
            <tr>
                <td>{CnlVal}</td>
                <td>Значение канала, на котором сработал триггер</td>
            </tr>
            <tr>
                <td>{CnlStat}</td>
                <td>Статус канала, на котором сработал триггер</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Для триггеров на события</strong></td>
            </tr>
            <tr>
                <td>{EvID}</td>
                <td>Идентификатор события</td>
            </tr>
            <tr>
                <td>{EvTime}</td>
                <td>Время события в часовом поясе сервера</td>
            </tr>
            <tr>
                <td>{EvObjNum}</td>
                <td>Номер объекта события</td>
            </tr>
            <tr>
                <td>{EvObj}</td>
                <td>Наименование объекта события</td>
            </tr>
            <tr>
                <td>{EvDevNum}</td>
                <td>Номер устройства события</td>
            </tr>
            <tr>
                <td>{EvDev}</td>
                <td>Наименование устройства события</td>
            </tr>
            <tr>
                <td>{EvCnlNum}</td>
                <td>Номер канала события</td>
            </tr>
            <tr>
                <td>{EvCnl}</td>
                <td>Наименование канала события</td>
            </tr>
            <tr>
                <td>{EvText}</td>
                <td>Отображаемый текст события</td>
            </tr>
            <tr>
                <td>{EvSev}</td>
                <td>Отображаемая серьёзность события</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Для триггеров на команды</strong></td>
            </tr>
            <tr>
                <td>{CmdVal}</td>
                <td>Значение команды, на котором сработал триггер</td>
            </tr>
            <tr>
                <td>{CmdDataStr}</td>
                <td>Данные команды в строковом виде</td>
            </tr>
            <tr>
                <td>{CmdDataHex}</td>
                <td>Данные команды в 16-ричном виде</td>
            </tr>
        </tbody>
    </table>
</div>
