@page "/ru/6.1/software-overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Введение";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#about">Что такое Rapid SCADA</a></li>
        <li><a href="#key-features">Ключевые характеристики</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Введение</h1>
    <h2 id="about">Что такое Rapid SCADA</h2>
    <p>Rapid SCADA - это платформа для промышленной автоматизации с открытым исходным кодом. Функционал «из коробки» позволяет быстро создавать системы мониторинга и диспетчеризации. В крупных внедрениях Rapid SCADA выступает как основа для разработки индивидуального SCADA и MES решения для Заказчика. Rapid SCADA входит в <a href="https://reestr.digital.gov.ru/reestr/307000/" target="_blank">Единый реестр российских программ</a>.</p>
    <p>Открытый исходный код Rapid SCADA, доступный на <a href="https://github.com/RapidScada/scada-v6" target="_blank">GitHub</a>, обеспечивает прозрачность и безопасность работы программного обеспечения. Использование лицензии <a href="https://ru.wikipedia.org/wiki/Лицензия_Apache" target="_blank">Apache License 2.0</a> позволяет создавать новые производные программные продукты.</p>
    <p>Rapid SCADA отлично подходит для создания крупных распределённых систем промышленной автоматизации. Rapid SCADA работает на серверах, встраиваемых компьютерах и в облаке. Узлы Rapid SCADA обмениваются информацией между собой и с внешними базами данных в реальном времени.</p>
    <p>Основные классы систем, разрабатываемых с помощью Rapid SCADA:</p>
    <ul>
        <li>Системы промышленной автоматизации и промышленного интернета вещей (IIoT).</li>
        <li>Системы управления технологическими процессами (АСУ ТП).</li>
        <li>Системы учёта энергоресурсов (АСКУЭ, АСТУЭ, АИИС КУЭ).</li>
    </ul>

    <h2 id="key-features">Ключевые характеристики</h2>
    <table class="table table-hover">
        <tr class="table-secondary">
            <th colspan="2">Основное</th>
        </tr>
        <tr>
            <td>Поддерживаемые семейства ОС</td>
            <td>Windows, Linux</td>
        </tr>
        <tr>
            <td>Неограниченное количество каналов, тегов и устройств</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Удаленное конфигурирование и обслуживание проектов</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Одновременная работа над проектами с GIT</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Бесплатная и коммерческая техническая поддержка</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Безопасность</th>
        </tr>
        <tr>
            <td>HTTPS, SSL</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Защита от атак методом перебора</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Капча при входе в систему</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Мониторинг соединений</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Шифрование паролей</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Журналирование действий пользователей</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Избыточность</th>
        </tr>
        <tr>
            <td>Основной и резервный сервер с автоматической синхронизацией данных</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Центральный и удаленные серверы с автоматической синхронизацией данных</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Зеркалирование</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Архивирование</th>
        </tr>
        <tr>
            <td>Хранилища данных</td>
            <td>Файлы, PostgreSQL, InfluxDB</td>
        </tr>
        <tr>
            <td>Макс. количество независимых архивов</td>
            <td>31</td>
        </tr>
        <tr>
            <td>Запись с периодом</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Запись по изменению</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Связь</th>
        </tr>
        <tr>
            <td>Интеграция с базами данных</td>
            <td>Oracle, MS SQL, MySQL, PostgreSQL</td>
        </tr>
        <tr>
            <td>Промышленные протоколы</td>
            <td>OPC UA, OPC Classic, Modbus, MQTT, SNMP и другие</td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Программирование</th>
        </tr>
        <tr>
            <td>REST API</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Примеры модулей с исходным кодом</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Документация для разработчиков</td>
            <td><strong>&check;</strong></td>
        </tr>
    </table>
</div>
