@page
@model Scada.Web.Pages.AccessDeniedModel
@{
    dynamic dict = Locale.GetDictionary("Scada.Web.Pages.AccessDenied");
    ViewBag.Title = dict.PageTitle;
}

<div class="container">
    <h1 class="text-danger">@dict.PageTitle</h1>
    <p>@WebUtils.HtmlEncodeWithBreak(Model.ErrorMessage ?? dict.ErrorMessage)</p>        
</div>
