@page
@model AccessDeniedModel
@{
    dynamic dict = Locale.GetDictionary("Scada.Web.Pages.AccessDenied");
    ViewBag.Title = dict.PageTitle;
}

<div class="container text-center">
    <h1 class="text-danger">@dict.PageTitle</h1>
    <p>@WebUtils.HtmlEncodeWithBreak(Model.ErrorMessage ?? dict.ErrorMessage)</p>

    @if (!string.IsNullOrEmpty(Model.ReturnUrl))
    {
        <a href="@Model.ReturnUrl" class="btn btn-primary link-light">@dict.btnReturn</a>
    }
</div>
