@page
@model Scada.Web.Pages.ConfigReloadModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reload Configuration - @CommonPhrases.ProductName</title>
</head>
<body>
    @Model.Message
</body>
</html>
