@page
@model ErrorModel
@{
    dynamic dict = Locale.GetDictionary("Scada.Web.Pages.Error");
    ViewBag.Title = dict.PageTitle;
    Model.WriteError(); // on get and post
}

<div class="container">
    <h1 class="text-danger">@dict.PageTitle</h1>
    <h2 class="text-danger">@(Model.ErrorMessage ?? dict.ErrorMessage)</h2>

</div>
