@page "{id:int?}"
@model ViewModel
@{
    Layout = "_MainLayout";
    ViewBag.Title = "View";
}

@section Scripts {
    <script src="~/js/pages/view.js" asp-append-version="true"></script>
}

<div id="divViewContainer">
    <h1>View Page</h1>
    <div id="divView"><iframe id="frameView"></iframe></div>
</div>
