@page
@model ViewModel
@{
    Layout = "_MainLayout";
    ViewBag.Title = "View";
}

<div id="divViewContainer">
    <h1>View Page</h1>
    <div id="divView"><iframe id="frameView"></iframe></div>
</div>
