@page "/ru/6.0/overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Введение";
}

<h1>Введение</h1>
Комплекс Rapid SCADA является программным обеспечением верхнего уровня, выполняет функции автоматического сбора, обработки, резервирования данных с различных устройств, управления оборудованием, предоставления информации пользователям в соответствии с правами доступа. Нижний аппаратный уровень системы включает в себя приборы учёта, датчики, контроллеры, интерфейсы связи, сетевое оборудование и др. устройства, выпускаемые различными производителями.
