@page "{id:int?}"
@model MimicViewModel
@{
    Layout = "_BasicLayout";
}

@section Styles {
    <link href="~/plugins/Mimic/css/mimic.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/plugins/Mimic/css/mimic-view.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/view-hub.js" asp-append-version="true"></script>
    <script src="~/plugins/Main/js/main-api.js" asp-append-version="true"></script>
    <script src="~/plugins/Mimic/js/mimic-common.js" asp-append-version="true"></script>
    <script src="~/plugins/Mimic/js/mimic-model.js" asp-append-version="true"></script>
    <script src="~/plugins/Mimic/js/mimic-render.js" asp-append-version="true"></script>
    <script src="~/plugins/Mimic/js/mimic-view.js" asp-append-version="true"></script>
}

<div id="divMimicWrapper" class="mimic-wrapper"></div>
<div id="divToolbar"></div>
