@page "/en/latest/installation/system-requirements"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "System Requirements";
}

<h1>System Requirements</h1>
<h2>Server Software Requirements</h2>
<p>Windows:</p>
<ul>
    <li>Operating system: Microsoft Windows Server 2016/2019/2022, Microsoft Windows 10/11.</li>
    <li>.NET Runtime 8.0.</li>
    <li>Microsoft IIS is required to deploy the web application.</li>
</ul>

<p>Linux:</p>
<ul>
    <li>Operating system: Ubuntu (recommended), Alpine, CentOS, Debian, Fedora, OpenSUSE, Red Hat, and more.</li>
    <li>.NET Runtime 8.0.</li>
    <li>Nginx is required to deploy the web application.</li>
</ul>

<h2>Server Hardware Requirements</h2>
<p>Hardware configuration of a server depends on the scale of the automated system. The minimum configuration is determined by the operating system requirements. The methodology for estimating the required hard disk space is described in the Archives section.</p>
<p>Rapid SCADA uses its own built-in database management system by default, so installing a third-party DBMS is not necessary. The software can run on physical or virtual machines.</p>

<h2>Workstation or Tablet Requirements</h2>
<ul>
    <li>Up-to-date Chrome, Firefox, Safari or Edge browser.</li>
    <li>Microsoft Office or LibreOffice is required to view reports.</li>
</ul>
