root = true

[*.cs]
# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = silent
# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = silent

[**/{Forms,Controls}/**.cs]
# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent
# WFO1000: Property does not configure the code serialization for its property content.
dotnet_diagnostic.WFO1000.severity = silent
