@page "/en/6.0/version-history/agent-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Agent History";
}

<h1>Agent History</h1>
<div>ScadaAgent 6.0.0.0 (In development)</div>
<ul>
    <li>Reverse connection, meaning that the Agent service initiates the connection</li>
    <li>The Agent's login and password are specified in the application configuration</li>
    <li>Supports sending commands to Communicator</li>
    <li>Reads logs of all applications and modules</li>
</ul>
