@page "/en/6.0/version-history/communicator-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Communicator History";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#communicator-app">Communicator Application</a></li>
        <li><a href="#drv-cnl-basic">Basic Communication Channels</a></li>
        <li><a href="#drv-cnl-mqtt">MQTT Communication Channel</a></li>
        <li><a href="#drv-db-import">DB Import</a></li>
        <li><a href="#drv-ds-mqtt">MQTT Data Source</a></li>
        <li><a href="#drv-ds-opc-ua-server">OPC UA Server</a></li>
        <li><a href="#drv-ds-scada-server">Server Data Source</a></li>
        <li><a href="#drv-email">Email</a></li>
        <li><a href="#drv-enron-modbus">Enron Modbus</a></li>
        <li><a href="#drv-http-notif">HTTP Notifications</a></li>
        <li><a href="#drv-modbus">Modbus</a></li>
        <li><a href="#drv-modbus-slave">Modbus Slave</a></li>
        <li><a href="#drv-mqtt-client">MQTT Client</a></li>
        <li><a href="#drv-mqtt-publisher">MQTT Publisher</a></li>
        <li><a href="#drv-opc-classic">OPC Classic</a></li>
        <li><a href="#drv-opc-ua">OPC UA</a></li>
        <li><a href="#drv-simulator">Device Simulator</a></li>
        <li><a href="#drv-sms">SMS</a></li>
        <li><a href="#drv-snmp">SNMP</a></li>
        <li><a href="#drv-telegram">Telegram</a></li>
        <li><a href="#drv-tester">Communication Channel Tester</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Communicator History</h1>
    <h2 id="communicator-app">Communicator Application</h2>
    <div>ScadaComm 6.0.0.2 (February 20, 2023)</div>
    <ul>
        <li>Inactive communication line can be started with a command</li>
    </ul>

    <div>ScadaComm 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Device status is written as 0 or 1</li>
        <li>If line logging is disabled, device information files are not written</li>
    </ul>

    <div>ScadaComm 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Communication channels are implemented using drivers</li>
        <li>Data sources for interaction with other applications</li>
        <li>Queue for sending data to the server</li>
        <li>Device tag codes make it easy to bind tags to channels</li>
        <li>Supports tags that are strings or arrays</li>
        <li>Device status can be bound to a channel</li>
        <li>Communication lines can be started or stopped with commands from the server</li>
        <li>Configuration check: duplicate lines and devices are ignored, calculated channels are not bound to tags</li>
    </ul>

    <h2 id="drv-cnl-basic">Basic Communication Channels</h2>
    <div>DrvCnlBasic 6.0.0.1 (February 20, 2023)</div>
    <ul>
        <li>Fixed a bug in UDP communication channel</li>
    </ul>

    <div>DrvCnlBasic 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the driver</li>
    </ul>

    <h2 id="drv-cnl-mqtt">MQTT Communication Channel</h2>
    <div>DrvCnlMqtt 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Updated MQTTnet dependency</li>
    </ul>

    <div>DrvCnlMqtt 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the driver</li>
    </ul>

    <h2 id="drv-db-import">DB Import</h2>
    <div>DrvDbImport 6.0.0.0 (February 20, 2023)</div>
    <ul>
        <li>Common database connection is used on communication line</li>
        <li>Reads values from row or column</li>
        <li>Supports multiple requests per device</li>
    </ul>

    <h2 id="drv-ds-mqtt">MQTT Data Source</h2>
    <div>DrvDsMqtt 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Updated MQTTnet dependency</li>
    </ul>

    <div>DrvDsMqtt 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the driver</li>
    </ul>

    <h2 id="drv-ds-opc-ua-server">OPC UA Server</h2>
    <div>DrvDsOpcUaServer 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the driver</li>
    </ul>

    <h2 id="drv-ds-scada-server">Server Data Source</h2>
    <div>DrvDsScadaServer 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Added an option to read the configuration database</li>
    </ul>

    <div>DrvDsScadaServer 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the driver</li>
    </ul>

    <h2 id="drv-email">Email</h2>
    <div>DrvEmail 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Email is resent in case of an error</li>
    </ul>

    <h2 id="drv-enron-modbus">Enron Modbus</h2>
    <div>DrvEnronModbus 6.0.0.0 (February 20, 2023)</div>
    <ul>
        <li>Porting the driver to the new version</li>
    </ul>

    <h2 id="drv-http-notif">HTTP Notifications</h2>
    <div>DrvHttpNotif 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Porting the driver to the new version</li>
    </ul>

    <h2 id="drv-modbus">Modbus</h2>
    <div>DrvModbus 6.0.0.2 (In development)</div>
    <ul>
        <li>Fixed channel generation</li>
    </ul>

    <div>DrvModbus 6.0.0.1 (February 20, 2023)</div>
    <ul>
        <li>Fixed bugs in the driver user interface</li>
    </ul>

    <div>DrvModbus 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Added a feature to send commands with a custom function code</li>
        <li>Template elements are both readable and writeable</li>
        <li>Added the <strong>Bit mask</strong> element parameter for generating calculated channels</li>
        <li>Inactive groups are not output to a device state file</li>
        <li>Added a feature to copy element parameters to its group</li>
        <li>Added a template validation feature</li>
    </ul>

    <h2 id="drv-modbus-slave">Modbus Slave</h2>
    <div>DrvModbusSlave 6.0.0.0 (In development)</div>
    <ul>
        <li>Gateway mode for selected channels</li>
    </ul>

    <h2 id="drv-mqtt-client">MQTT Client</h2>
    <div>DrvMqttClient 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Updated MQTTnet dependency</li>
    </ul>

    <div>DrvMqttClient 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>The driver is completely redesigned</li>
    </ul>

    <h2 id="drv-mqtt-publisher">MQTT Publisher</h2>
    <div>DrvMqttPublisher 6.0.0.2 (In development)</div>
    <ul>
        <li>Commands are returned to Communicator</li>
    </ul>

    <div>DrvMqttPublisher 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Updated MQTTnet dependency</li>
    </ul>

    <div>DrvMqttPublisher 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the driver</li>
    </ul>

    <h2 id="drv-opc-classic">OPC Classic</h2>
    <div>DrvOpcClassic 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Client can connect to remote host</li>
        <li>Connection options are common to communication line</li>
        <li>Items are both readable and writeable</li>
        <li>Supports arrays and strings</li>
    </ul>

    <h2 id="drv-opc-ua">OPC UA</h2>
    <div>DrvOpcUa 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Connection options are common to communication line</li>
        <li>Items are both readable and writeable</li>
        <li>Supports arrays and strings</li>
        <li>User can select item data type</li>
    </ul>

    <h2 id="drv-simulator">Device Simulator</h2>
    <div>DrvSimulator 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Added an array device tag</li>
    </ul>

    <h2 id="drv-sms">SMS</h2>
    <div>DrvSms 6.0.0.0 (February 20, 2023)</div>
    <ul>
        <li>Porting the driver to the new version</li>
    </ul>

    <h2 id="drv-snmp">SNMP</h2>
    <div>DrvSnmp 6.0.0.0 (February 20, 2023)</div>
    <ul>
        <li>Porting the driver to the new version</li>
    </ul>

    <h2 id="drv-telegram">Telegram</h2>
    <div>DrvTelegram 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Bot token is stored encrypted</li>
    </ul>

    <h2 id="drv-tester">Communication Channel Tester</h2>
    <div>DrvTester 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the driver</li>
    </ul>
</div>
