@page "/en/6.0/version-history/scada-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "History of Rapid SCADA";
}

<h1>History of Rapid SCADA</h1>

<h2>Rapid SCADA 6.0.0 (In development)</h2>
<ul>
    <li>Server 6.0.0.0</li>
    <li>Communicator 6.0.0.0</li>
    <li>Webstation 6.0.0.0</li>
    <li>Agent 6.0.0.0</li>
    <li>Administrator 6.0.0.0</li>
    <li>Scheme Editor 5.3.1.1</li>
</ul>
