@page "/en/latest/version-history/applications-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "History of Additional Applications";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#auto-report-app">Auto Report</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>History of Additional Applications</h1>
    <h2 id="auto-report-app">Auto Report</h2>
    <div>ScadaAutoReport 6.0.1.0 (January 27, 2024)</div>
    <ul>
        <li>Upgrade to .NET 8.0</li>
    </ul>

    <div>ScadaAutoReport 6.0.0.1 (July 04, 2023)</div>
    <ul>
        <li>Fixed calculation of report period</li>
    </ul>

    <div>ScadaAutoReport 6.0.0.0 (May 24, 2023)</div>
    <ul>
        <li>Report types are loaded dynamically according to the configuration</li>
        <li>Report culture and timezone are set in the configuration</li>
        <li>Built-in task schedule</li>
        <li>Each task has a separate mail recipient</li>
        <li>Convenient options for choosing a report period</li>
    </ul>
</div>
