@import '../_variables';

$loginbox-width: 400px;

body {
    height: 100vh;
}

#divAlert {
    max-width: $loginbox-width;
    
    &.validation-summary-valid {
        display: none;
    }

    ul {
        margin-bottom: 0;
    }
}
.height100 {
    height: 100%;
}
#divLoginBox {
    // background-color: $body-bg;
    max-width: $loginbox-width;
}

#imgCaptcha {
    //width: 100%;
    height: 30px;
    margin-bottom: 0.5rem;
}

.right-container{
    background-color:rgba(225, 217, 217,0.7);
}

.img_logo {
    height: 60px;
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    body {
        background-size: 100% 100%;
        background-image: url('../../images/bg.png');
    }
    .right-container {
        padding-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    body {
        background-color: $gray-100;
    }
}