@import '../layout/basic-layout.scss';

$loginbox-width: 400px;

body {
    background-color: $gray-100;
}

#divAlert {
    max-width: $loginbox-width;
}

#divLoginBox {
    background-color: $body-bg;
    max-width: $loginbox-width;
}
