@import '../_variables';

$loginbox-width: 450px;

body {
    background-color: $gray-100;
}

.login-form {
    height: 100vh;
}

.divLogoSmall img {
    width: 140px;
}

#divAlert {
    max-width: $loginbox-width;

    &.validation-summary-valid {
        display: none;
    }

    ul {
        margin-bottom: 0;
    }
}

#divLoginBox {
    background-color: $body-bg;
    max-width: $loginbox-width;
}
/*已修改*/
#imgCaptcha {
    width: 200%;
    height: auto;
    /*margin-bottom: 0.5rem;*/
}


@media screen and (min-width: 768px) {
    body {
        background-size: 100% 100%;
        background-image: url('../../images/bg.png');
    }
    .right-container {
        padding-top: 100px;
    }
}
@media screen and (max-width: 768px) {
    body {
        background-color: $gray-100;
    }
}
