@import '../_variables';
@import '../_mixins';

body {
    @include link-colored;

    &.modal-page {
        overflow: hidden;
        padding: $spacer * 0.25;
    }
}

.link-colored {
    @include link-colored;
}

.link-no-decor {
    @include link-no-decor;
}

.hidden {
    display: none !important;
}

.box-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
