@page "{id:int?}"
@model TableViewModel
@{
    Layout = "_BasicLayout";
    ViewBag.Title = "TableView";
}

@section Styles {
    <link href="~/plugins/Main/css/table-view.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/plugins/Main/js/table-view.js" asp-append-version="true"></script>
}

@if (Model.ViewError)
{
    <div id="divError" class="box-center fs-2 text-danger">
        @Model.ErrorMessage
    </div>
}
else
{
    <div id="divToolbar" class="toolbar">@*
        *@<span class="toolbar-group"><input type="date" /></span>@*
        *@<span class="toolbar-group"><select>
                <optgroup label="Option group 1">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </optgroup>
            </select> - <select>
                <optgroup label="Option group 1">
                    <option value="">Option 1</option>
                    <option value="">Option 2</option>
                    <option value="">Option 3</option>
                </optgroup>
            </select></span>@*
        *@<span class="toolbar-group"><span class="tool-btn"><i class="fas fa-print"></i></span></span>
    </div>
    <div id="divTableWrapper" class="table-wrapper">@Model.RenderTableView()</div>
}
