@page "/ru/latest/installation/transfer"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Перенос на новый сервер";
}

<h1>Перенос на новый сервер</h1>
<p>В данной статье рассмотрим перенос работающего экземпляра Rapid SCADA с одного сервера на другой. Последовательность действий следующая:</p>

<ol>
    <li>
        Проверить, что на новом сервере настроены подключения к опрашиваемым устройствам:
        <ul>
            <li>существуют последовательные порты, номера которых совпадают с номерами портов на старом сервере;</li>
            <li>контроллеры, опрашиваемые по сети, доступны;</li>
            <li>OPC-серверы установлены и настроены.</li>
        </ul>
    </li>
    <li>Установить Rapid SCADA на новый сервер и проверить работоспособность с конфигурацией по умолчанию.</li>
    <li>На новом сервере остановить службы Сервера и Коммуникатора.</li>
    <li>На старом сервере остановить службы Сервера и Коммуникатора и отключить их автоматический запуск.</li>
    <li>Со старого сервера на новый скопировать архивы данных. Способ копирования архивов зависит от того, являются ли архивы файловыми или используют СУБД.</li>
    <li>Открыть проект в приложении Администратор и передать конфигурацию на новый сервер кнопкой <img src="../common-images/upload.png" />.</li>
    <li>Если используются дополнительные модули, получить и ввести регистрационные ключи для нового сервера, затем повторно передать проект на выполнение.</li>
    <li>Проверить работоспособность нового сервера.</li>
</ol>

<p>Если запустить новый сервер в работу с первого раза не удалось, необходимо остановить на нём службы Сервера и Коммуникатора и запустить эти службы на старом сервере. Информация, которая поможет решить возникшие технические вопросы, содержится в журналах работы приложений и модулей.</p>
