@page "/ru/latest/modules/plg-dashboard"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Дэшборды";
}

@section Styles {
    <link href="~/lib/prismjs/prism.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/prismjs/prism.js"></script>
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li>
            <a href="#configuring">Конфигурирование</a>
            <ul>
                <li><a href="#specifying-dashboards">Подключение дэшбордов</a></li>
                <li><a href="#file-structure">Структура файла дэшборда</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Дэшборды</h1>

    <h2 id="overview">Обзор</h2>
    <p>Плагин Дэшборды отображает полезные виджеты на дэшбордах: графики, текущие данные и произвольные фреймы, например, изображение с камеры видео-наблюдения. Настройки каждого дэшборда позволяют задать количество столбцов и соотношение сторон виджетов. Скачать плагин можно по <a href="https://rapidscada.net/store/Module/ru/PlgDashboard" target="_blank">ссылке</a>. Внешний вид плагина Дэшборды показан на следующем рисунке.</p>

    <h2 id="installation">Установка</h2>


    <h2 id="configuring">Конфигурирование</h2>


    <h3 id="specifying-dashboards">Подключение дэшбордов</h3>


    <h3 id="file-structure">Структура файла дэшборда</h3>


</div>
