@page "/ru/latest/modules/plg-elastic-report"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Гибкий отчёт";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li>
            <a href="#configuring">Конфигурирование</a>
            <ul>
                <li><a href="#report-form">Форма отчёта</a></li>
                <li><a href="#report-list">Список отчётов</a></li>
                <li><a href="#report-styling">Стили</a></li>
                <li><a href="#report-fonts">Шрифты</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Гибкий отчёт</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Гибкий отчёт позволяет генерировать отчёты в соответствии с пользовательской конфигурацией. С помощью данного плагина Вы можете построить практически любой необходимый отчёт. Пользователю достаточно выбрать период и нажать на кнопку генерации отчёта. Администратор предварительно создаёт конфигурации отчёта, которые определяют набор секций различной формы, из которых состоит отчёт, и связывают столбцы и строки отчёта с данными системы. Скачать плагин можно по <a href="https://rapidscada.net/store/Module/ru/PlgElasticReport" target="_blank">ссылке</a>.</p>

    <h2 id="installation">Установка</h2>
    <p>Плагин Гибкий отчёт устанавливается по <a href="../installation/install-modules#plugins">инструкции</a>. В ходе установки выполните дополнительное действие: скопируйте файл <code>PlgElasticReport.xml</code> из дистрибутива плагина в свой проект. Файл должен отображаться в проводнике проекта внутри узла <strong>Вебстанция &gt; Конфигурационные файлы</strong>.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Отчёты состоят из набора секций, которые выводятся в выходной документ одна за другой. Каждая секция имеет свой тип, параметры и привязку к данным. Кроме того, отчёт имеет общие параметры, влияющие на все секции. Один и тот же отчёт может быть сгенерирован в различных форматах. В настоящий момент поддерживаются форматы Excel, PDF и HTML. При этом внешний вид одного и того же отчёта, сгенерированного в разных форматах, может незначительно отличаться.</p>

    <h3 id="report-form">Форма отчёта</h3>
    <p>Для каждой отчётной формы создаётся отдельный файл конфигурации формата XML. Файл конфигурации задаёт форматирование отчёта и определяет привязку данных отчёта к каналам. Он должен быть сохранён в директории интерфейса или в её поддиректории внутри проекта.</p>
    <figure class="figure">
        <img src="plg-elastic-report/report-file-ru.png" class="figure-img img-fluid" alt="Файл отчёта" />
    </figure>
    <p>Редактирование файлов конфигурации может осуществляться в любом текстовом редакторе. Например, для бесплатного редактора <a href="https://notepad-plus-plus.org/" target="_blank">Notepad++</a> существует плагин для удобной работы с файлами XML.</p>
    <p>Пример файла отчёта ElasticReport1.xml содержится в установочном пакете плагина. Данный пример включает подробное описание параметров настройки и демонстрирует формирование секций отчёта всех возможных типов.</p>
    <p>Основные элементы файла конфигурации отчёта:</p>
    <ul>
        <li>Элемент <code>InputOptions</code> содержит настройки входной формы отчёта, с помощью которой пользователь вводит параметры отчёта и запускает формирование документа.</li>
        <li>Элемент <code>OutputOptions</code> содержит настройки форматирования генерируемого документа.</li>
        <li>
            Элемент <code>Document</code> определяет содержимое отчёта.
            <ul>
                <li>Элемент <code>DocumentOptions</code> задаёт основные параметры, относящиеся ко всему документу.</li>
                <li>Элемент <code>Section</code> описывает секцию отчёта, содержащую данные. Отчёт включает одну или несколько секций различных типов.</li>
            </ul>
        </li>
    </ul>
    <p>Поддерживаемые типы секций:</p>
    <ul>
        <li>Секция <code>TimeData</code> отображает данные каналов за выбранный период времени. По горизонтали расположены каналы, по вертикали - временные точки.</li>
        <li>Секция <code>TimeTime</code> отображает данные одного канала в компактной форме. По горизонтали и вертикали расположены временные точки.</li>
        <li>Секция <code>DataData</code> отображает данные в форме таблицы, каждая ячейка которой может быть привязана к своему каналу.</li>
    </ul>
    <p>Плагин позволяет формировать отчёты по историческим данным, отчёты по текущим данным и событиям не поддерживаются. При выборе исторического архива, на основе которого строится отчёт, рекомендуется отдавать предпочтение архиву с периодом сохранения данных, совпадающим или близким к шагу секций отчёта. Это позволит избежать выборки лишних данных.</p>
</div>
