@page "/ru/latest/additional-applications/app-auto-report"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Приложение Автоотчёт";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
        <li><a href="#operation">Запуск</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Приложение Автоотчёт</h1>
    <h2 id="overview">Обзор</h2>
    <p>Приложение Автоотчёт предназначено для автоматического формирования различных отчётов по расписанию, их сохранения на диск и рассылки по электронной почте. Скачать приложение можно по <a href="https://rapidscada.net/store/Module/ru/ScadaAutoReport" target="_blank">ссылке</a>. Отправка отчётов по электронной почте обеспечивается драйвером DrvEmail.dll, который входит в дистрибутив Rapid SCADA и не требует отдельной установки.</p>
    <p>Приложение позволяет расширять перечень формируемых типов отчётов новыми библиотеками. По умолчанию поддерживаются следующие типы отчётов:</p>
    <ul>
        <li>отчёт по историческим данным;</li>
        <li>отчёт по событиям</li>
        <li>гибкий отчёт.</li>
    </ul>
    <p>Автоотчёт работает как служба. По расписанию приложение запускает задачи на формирование отчётов. Сформированные отчёты сохраняются на диск и, если включена соответствующая опция, отправляются по электронной почте. Автоотчёт подключается к приложению Сервер для приёма команд на формирование отчётов и для отправки команд на их рассылку.</p>

    <h2 id="installation">Установка</h2>
    <p>Последовательность установки приложения Автоотчёт на Windows:</p>
    <ol>
        <li>Распаковать архив дистрибутива приложения.</li>
        <li>Скопировать все файлы из папки SCADA дистрибутива в директорию установки Rapid SCADA.</li>
        <li>Запустить файл <code>ScadaAutoReport\svc_install.bat</code> от имени администратора для регистрации службы.</li>
        <li>Создать ярлык на рабочем столе к файлу <code>ScadaAutoReport\ScadaAutoReportConfig.exe</code> для запуска конфигуратора приложения Автоотчёт.</li>
        <li>
            Запустить конфигуратор и выполнить в нём следующие действия:
            <ol type="a">
                <li>Запустить службу Автоотчёт кнопкой <img src="app-auto-report-files/start.png" />.</li>
                <li>Открыть форму регистрации кнопкой <img src="app-auto-report-files/key.png" /> и зарегистрировать приложение.</li>
            </ol>
        </li>
    </ol>
</div>
