@page "/ru/latest/additional-applications/app-auto-report"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Приложение Автоотчёт";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
        <li><a href="#operation">Запуск</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Приложение Автоотчёт</h1>
    <h2 id="overview">Обзор</h2>
    <p>Приложение Автоотчёт предназначено для автоматического формирования различных отчётов по расписанию, их сохранения на диск и рассылки по электронной почте. Скачать приложение можно по <a href="https://rapidscada.net/store/Module/ru/ScadaAutoReport" target="_blank">ссылке</a>. Отправка отчётов по электронной почте обеспечивается драйвером DrvEmail, который входит в дистрибутив Rapid SCADA и не требует отдельной установки.</p>
    <p>Приложение позволяет расширять перечень формируемых типов отчётов новыми библиотеками. По умолчанию поддерживаются следующие типы отчётов:</p>
    <ul>
        <li>отчёт по историческим данным;</li>
        <li>отчёт по событиям</li>
        <li>гибкий отчёт.</li>
    </ul>
    <p>Автоотчёт работает как служба. По расписанию приложение запускает задачи на формирование отчётов. Сформированные отчёты сохраняются на диск и, если включена соответствующая опция, отправляются по электронной почте. Автоотчёт подключается к приложению Сервер для приёма команд на формирование отчётов и для отправки команд на их рассылку.</p>

    <h2 id="installation">Установка</h2>
    <p>Последовательность установки приложения Автоотчёт на Windows:</p>
    <ol>
        <li>Распаковать архив дистрибутива приложения.</li>
        <li>Скопировать содержимое папки <code>SCADA</code> дистрибутива в директорию установки Rapid SCADA.</li>
        <li>Запустить файл <code>ScadaAutoReport\svc_install.bat</code> от имени администратора для регистрации службы.</li>
        <li>Создать ярлык на рабочем столе к файлу <code>ScadaAutoReport\ScadaAutoReportConfig.exe</code> для запуска конфигуратора приложения Автоотчёт.</li>
        <li>
            Запустить конфигуратор и выполнить в нём следующие действия:
            <ol type="a">
                <li>Запустить службу Автоотчёт кнопкой <img src="app-auto-report-files/start.png" />.</li>
                <li>Открыть форму регистрации кнопкой <img src="app-auto-report-files/key.png" /> и зарегистрировать приложение.</li>
            </ol>
        </li>
    </ol>

    <p>Последовательность установки на Linux:</p>
    <ol>
        <li>Распаковать архив дистрибутива приложения.</li>
        <li>Скопировать содержимое папки <code>SCADA</code> дистрибутива в директорию <code>/opt/scada/</code></li>
        <li>Скопировать файл <code>Daemons/scadareport6.service</code> из дистрибутива в директорию <code>/etc/systemd/system</code></li>
        <li>
            Включить службу, выполнив команду
            <pre><code>sudo systemctl enable scadareport6.service</code></pre>
        </li>
        <li>
            Для запуска, перезапуска и остановки службы используйте команды
            <pre><code>sudo systemctl start scadareport6
sudo systemctl restart scadareport6
sudo systemctl stop scadareport6</code></pre>
        </li>
    </ol>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Конфигурация приложения сохраняется в файл <code>ScadaAutoReportConfig.xml</code>, который находится в поддиректории <code>Config</code> приложения. При использовании Автоотчёта на Windows настройка выполняется с помощью программы-конфигуратора, которая запускается из файла <code>ScadaAutoReportConfig.exe</code>. При работе на Linux конфигурационный файл редактируется вручную с помощью текстового редактора.</p>
    <p>На скриншотах ниже показаны параметры приложения Автоотчёт, редактируемые в программе-конфигураторе.</p>
    
    <figure class="figure">
        <img src="app-auto-report-files/general-options-ru.png" class="figure-img img-fluid" alt="Основные параметры" />
    </figure>
    <p>Установите параметр <strong>Культура</strong>, если используемая при формировании отчётов культура должна отличаться от культуры, установленной в приложении Администратор для всех приложений. Установите <strong>Часовой пояс</strong>, если он отличается от часового пояса сервера. Оставьте оба параметра пустыми, чтобы использовать значения по умолчанию.</p>
    <p><strong>Путь CSS</strong> используется при формировании отчётов в формате HTML для тех типов отчётов, которые поддерживают этот формат. <strong>Директория отчётов</strong> задаётся в том случае, если отчёты должны сохраняться в директорию, отличную от директории отчётов по умолчанию - директории <code>Reports</code>, расположенной на уровень выше директори приложения Автоотчёт. </p>
    <p>Если установлена галочка <strong>Архивировать отчёты</strong>, то отчёты будут сохраняться на диск в виде ZIP-архивов. Параметр <strong>Период хранения</strong> определяет, сколько дней хранить отчёты на диске.</p>
    <p>Задайте <strong>Номер канала для приёма команд</strong>, если отчёты необходимо формировать не только по расписанию, но также по команде оператора. <strong>Номер канала для отправки писем</strong> используется при рассылке отчётов по электронной почте, чтобы передавать команды драйверу.</p>

    <figure class="figure">
        <img src="app-auto-report-files/connection-options-ru.png" class="figure-img img-fluid" alt="Параметры соединения" />
    </figure>

    <figure class="figure">
        <img src="app-auto-report-files/elastic-report-type-ru.png" class="figure-img img-fluid" alt="Тип Гибкий отчёт" />
    </figure>

    <figure class="figure">
        <img src="app-auto-report-files/task-options-ru.png" class="figure-img img-fluid" alt="Параметры задачи" />
    </figure>

    <figure class="figure">
        <img src="app-auto-report-files/schedule-options-ru.png" class="figure-img img-fluid" alt="Параметры расписания" />
    </figure>

    <figure class="figure">
        <img src="app-auto-report-files/mail-options-ru.png" class="figure-img img-fluid" alt="Параметры почты" />
    </figure>

    <figure class="figure">
        <img src="app-auto-report-files/report-config-ru.png" class="figure-img img-fluid" alt="Настройки отчёта" />
    </figure>


</div>
