@page "/ru/latest/software-overview/applications"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Приложения";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#server">Сервер</a></li>
        <li><a href="#communicator">Коммуникатор</a></li>
        <li><a href="#webstation">Вебстанция</a></li>
        <li><a href="#agent">Агент</a></li>
        <li><a href="#administrator">Администратор</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Приложения</h1>
    <h2 id="server">Сервер</h2>
    <p>Приложение Сервер предназначено для записи архивных данных системы, ведения резервной копии данных, математических расчётов в соответствии с заданной конфигурацией и предоставления информации по запросам приложений-клиентов.</p>
    <figure class="figure">
        <img src="applications-files/scada-server-ru.png" class="figure-img img-fluid" alt="Графическая оболочка для настройки Сервера" />
        <figcaption class="figure-caption">Рис. 1. Графическая оболочка для настройки Сервера</figcaption>
    </figure>
    <p>Сервер является службой, которая не имеет пользовательского интерфейса и работает постоянно в фоновом режиме вне зависимости от входа и выхода пользователей в операционную систему. Графическая оболочка для настройки Сервера встроена в приложение Администратор (рис. 1).</p>
    <p>Программа осуществляет контроль подключенных пользователей и на основе их прав производит ограничение выдаваемых данных и принимаемых команд. Служебная информация о работе приложения сохраняется в текстовом файле журнала. Сервер рассчитан на круглосуточный режим работы.</p>
    <p>Дополнительные серверные модули позволяют расширять функциональность Сервера в соответствии с требованиями Заказчика.</p>

    <h2 id="communicator">Коммуникатор</h2>
    <p>Приложение Коммуникатор выполняет следующие функции:</p>
    <ul>
        <li>сбор данных с устройств, подключенных к системе, выполняемый параллельно по множеству линий связи;</li>
        <li>отправка команд подключенным устройствам;</li>
        <li>диагностика и тестирование оборудования;</li>
        <li>передача информации приложению Сервер.</li>
    </ul>
    <figure class="figure">
        <img src="applications-files/scada-comm-ru.png" class="figure-img img-fluid" alt="Графическая оболочка для настройки Коммуникатора" />
        <figcaption class="figure-caption">Рис. 2. Графическая оболочка для настройки Коммуникатора</figcaption>
    </figure>
    <p>Коммуникатор является службой, которая не имеет пользовательского интерфейса. Графическая оболочка для настройки Коммуникатора встроена в приложение Администратор (рис. 2). Информация о работе приложения, линий связи, каждого подключенного устройства автоматически записывается в текстовые журналы. Режим работы Коммуникатора круглосуточный.</p>
    <p>Сторонние разработчики имеют возможность реализовывать собственные драйверы для взаимодействия Коммуникатора с различными устройствами.</p>

    <h2 id="webstation">Вебстанция</h2>
    <p>Вебстанция – это веб-приложение, которое предназначено для отображения измеряемых системой данных и управления посредством программы-браузера (рис. 3 и 4). Информация представляется в табличной форме, на графиках, на схемах, а также в отчётах, которые генерируются в привычных форматах Excel, PDF и HTML.</p>
    <figure class="figure">
        <img src="applications-files/scada-web-scheme-en.png" class="figure-img img-fluid" alt="Приложение Вебстанция. Мнемосхема" />
        <figcaption class="figure-caption">Рис. 3. Приложение Вебстанция. Мнемосхема</figcaption>
    </figure>
    <figure class="figure">
        <img src="applications-files/scada-web-table-en.png" class="figure-img img-fluid" alt="Приложение Вебстанция. Табличное представление" />
        <figcaption class="figure-caption">Рис. 4. Приложение Вебстанция. Табличное представление</figcaption>
    </figure>
    <p>Для получения информации пользователю достаточно выбрать представление (таблицу или схему) и при необходимости изменить дату просматриваемых данных. Чтобы получить график значений интересующего канала, следует щёлкнуть мышкой по пиктограмме параметра в таблице или по элементу на схеме.</p>
    <p>Приложение Вебстанция доступно с любого компьютера или планшета, подключенного к вычислительной сети организации без выполнения какой-либо инсталляции ПО. Вход в систему возможен только при наличии прав доступа, определённых администратором системы.</p>
    <p>Функциональность Вебстанции может быть расширена с помощью дополнительных плагинов. Например, плагин <a href="../modules/plg-chart-pro">Графики Про</a> расширяет возможности для работы с трендами входных каналов: масштабирование, одновременное отображение нескольких графиков, экспорт в форматы PNG и PDF. Плагин <a href="../modules/plg-elastic-report">Гибкий отчёт</a> позволяет генерировать отчёты в соответствии с пользовательской конфигурацией. С помощью данного плагина возможно построить практически любой необходимый отчёт. Сторонние разработчики имеют возможность разрабатывать и встраивать в веб-приложение собственные плагины, отображающие информацию оператору в произвольной форме.</p>

    <h2 id="agent">Агент</h2>
    <p>Агент необходим для передачи конфигурации между экземпляром Rapid SCADA и приложением Администратор. Кроме того, Агент предоставляет журналы работы для отображения в Администраторе. Агент работает как служба на том сервере, на котором установлен контролируемый им экземпляр Rapid SCADA. Экземпляр Rapid SCADA включает в себя приложения Сервер, Коммуникатор и Вебстанция, все либо некоторые из этих приложений.</p>
    <p>Агент взаимодействует с Администратором по протоколу TCP. Поэтому Администратор может быть установлен как на одном компьютере с Агентом, так и на другом компьютере, который доступен по сети. По умолчанию Агент использует TPC-порт 10002. При удалённом подключении входящие соединения по этому порту должны быть разрешены брэндмауэром сервера.</p>
    <p>Агент не имеет пользовательского интерфейса. Для контроля его работы используется текстовый журнал.</p>

    <h2 id="administrator">Администратор</h2>
    <p>Приложение Администратор (рис. 5) предназначено для разработки проектов Rapid SCADA и контроля состояния автоматизированной системы. Администратор представляет собой единую среду разработки, которая позволяет редактировать базу конфигурации, настраивать основные приложения Rapid SCADA, модули Сервера и драйверы устройств.</p>
    <figure class="figure">
        <img src="applications-files/scada-admin-ru.png" class="figure-img img-fluid" alt="Приложение Администратор" />
        <figcaption class="figure-caption">Рис. 5. Приложение Администратор</figcaption>
    </figure>
    <p>Инструменты и функции приложения Администратор, позволяющие ускорить процесс конфигурирования:</p>
    <ul>
        <li>Мастеры для создания линий связи, устройств и каналов.</li>
        <li>Импорт и экспорт таблиц базы конфигурации для обмена готовыми наработками между проектами.</li>
        <li>Клонирование каналов, чтобы сократить ручной ввод.</li>
        <li>Поиск, сортировка и фильтрация таблиц базы конфигурации.</li>
    </ul>

    <p>Проект содержит набор конфигурационных файлов, в основном использующих формат XML. Благодаря данному подходу, проект легко может быть скопирован на другой компьютер. Для контроля версий проекта и совместной работы рекомендуется использовать систему Git.</p>
</div>
