@page "/ru/latest/software-overview/architecture"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Архитектура ПО";
}

<h1>Архитектура ПО</h1>

<p>Программный комплекс Rapid SCADA имеет многоуровневую архитектуру. Приложения (сервисы), входящие в состав программного комплекса, взаимодействуют между собой по протоколу TCP. На рис. 1 показана часто используемая архитектура простой системы, которая разворачивается при установке по умолчанию. На рис. 2 показана распределённая архитектура, в которой различные сервисы развёрнуты на отдельных хостах.</p>

<figure class="figure">
    <img src="architecture-files/scada-arc-simple-ru.png" class="figure-img img-fluid" alt="Архитектура по умолчанию" />
    <figcaption class="figure-caption">Рис. 1. Архитектура по умолчанию</figcaption>
</figure>

<figure class="figure">
    <img src="architecture-files/scada-arc-complex-ru.png" class="figure-img img-fluid" alt="Распределённая архитектура" />
    <figcaption class="figure-caption">Рис. 2. Распределённая архитектура</figcaption>
</figure>

<p>В состав Rapid SCADA входят следующие основные приложения:</p>
<ol>
    <li><em>Вебстанция</em> – это веб-приложение, которое предназначено для отображения информации диспетчеру посредством программы-браузера в табличной форме, на схемах и на графиках, а также генерации отчётов.</li>
    <li><em>Сервер</em> предназначен для управления архивами данных, математических расчётов в соответствии с заданной конфигурацией и предоставления информации по запросам приложений-клиентов.</li>
    <li><em>Коммуникатор</em> предназначен для сбора данных с контроллеров и приборов учёта, диагностики и тестирования устройств, передачи информации приложению Сервер по вычислительной сети.</li>
</ol>

<p>Стоит отметить, что Rapid SCADA поддерживает варианты архитектуры, в которых экземпляры приложения Сервер обмениваются данными между собой с целью резервирования и создания необходимой избыточности.</p>
