@page "/ru/latest/version-history/scada-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "История Rapid SCADA";
}

<h1>История Rapid SCADA</h1>

<div>Rapid SCADA 6.2.1 (26.03.2024)</div>
<ul>
    <li>
        Сервер 6.2.0.0
        <ul>
            <li>ModDbExport 6.0.1.1</li>
            <li>ModDiffCalculator 6.0.0.0</li>
        </ul>
    </li>
    <li>
        Коммуникатор 6.2.0.0
        <ul>
            <li>DrvDsOpcUaServer 6.0.0.2</li>
            <li>DrvOpcClassic 6.0.1.2</li>
            <li>DrvOpcUa 6.0.0.1</li>
        </ul>
    </li>
    <li>Вебстанция 6.2.0.1</li>
    <li>Агент 6.2.0.1</li>
    <li>
        Администратор 6.2.0.0
        <ul>
            <li>ExtTableEditor 6.1.0.0</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.2.0 (27.01.2024)</div>
<ul>
    <li>
        Сервер 6.2.0.0
        <ul>
            <li>ModArcPostgreSql 6.1.2.1</li>
            <li>ModDbExport 6.0.1.0</li>
        </ul>
    </li>
    <li>
        Коммуникатор 6.2.0.0
        <ul>
            <li>DrvCnlBasic 6.1.0.0</li>
        </ul>
    </li>
    <li>Вебстанция 6.2.0.0</li>
    <li>Агент 6.2.0.0</li>
    <li>Администратор 6.2.0.0</li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.1.6 (10.12.2023)</div>
<ul>
    <li>
        Сервер 6.1.1.1
        <ul>
            <li>ModActiveDirectory 6.0.2.0</li>
            <li>ModArcPostgreSql 6.1.2.0</li>
            <li>ModDbExport 6.0.0.2</li>
        </ul>
    </li>
    <li>
        Коммуникатор 6.1.1.1
        <ul>
            <li>DrvCsvReader 6.0.0.0</li>
            <li>DrvMqttClient 6.0.0.4</li>
            <li>DrvOpcClassic 6.0.1.1</li>
        </ul>
    </li>
    <li>
        Вебстанция 6.1.2.2
        <ul>
            <li>PlgMain 6.0.3.1</li>
        </ul>
    </li>
    <li>Агент 6.1.0.1</li>
    <li>Администратор 6.1.1.1</li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.1.5 (25.09.2023)</div>
<ul>
    <li>Сервер 6.1.1.1</li>
    <li>
        Коммуникатор 6.1.1.1
        <ul>
            <li>DrvDbImport 6.0.0.1</li>
            <li>DrvDsOpcUaServer 6.0.0.1</li>
            <li>DrvOpcClassic 6.0.1.0</li>
        </ul>
    </li>
    <li>Вебстанция 6.1.2.1</li>
    <li>Агент 6.1.0.0</li>
    <li>
        Администратор 6.1.1.0
        <ul>
            <li>ExtProjectTools 6.0.1.0</li>
            <li>ExtWirenBoard 6.0.0.1</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.1.4 (03.08.2023)</div>
<ul>
    <li>
        Сервер 6.1.1.1
        <ul>
            <li>ModArcPostgreSql 6.1.1.1</li>
        </ul>
    </li>
    <li>Коммуникатор 6.1.1.1</li>
    <li>
        Вебстанция 6.1.2.0
        <ul>
            <li>PlgChart 6.0.2.0</li>
            <li>PlgMain 6.0.3.0</li>
            <li>PlgScheme 6.0.2.0</li>
            <li>PlgSchBasicComp 6.0.2.0</li>
            <li>PlgStore 6.0.0.0</li>
            <li>PlgWebPage 6.0.2.0</li>
        </ul>
    </li>
    <li>Агент 6.1.0.0</li>
    <li>Администратор 6.1.0.3</li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.1.3 (04.07.2023)</div>
<ul>
    <li>
        Сервер 6.1.1.0
        <ul>
            <li>ModArcPostgreSql 6.1.1.0</li>
            <li>ModDbExport 6.0.0.1</li>
        </ul>
    </li>
    <li>
        Коммуникатор 6.1.1.0
        <ul>
            <li>DrvCnlBasic 6.0.1.0</li>
            <li>DrvMqttClient 6.0.0.3</li>
            <li>DrvMqttPublisher 6.0.0.3</li>
            <li>DrvSnmp 6.0.0.1</li>
        </ul>
    </li>
    <li>
        Вебстанция 6.1.1.0
        <ul>
            <li>PlgChart 6.0.1.0</li>
            <li>PlgMain 6.0.2.0</li>
            <li>PlgScheme 6.0.1.0</li>
            <li>PlgSchBasicComp 6.0.1.0</li>
            <li>PlgWebPage 6.0.1.0</li>
        </ul>
    </li>
    <li>Агент 6.1.0.0</li>
    <li>
        Администратор 6.1.0.2
        <ul>
            <li>ExtCommConfig 6.0.1.2</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.1.2 (15.05.2023)</div>
<ul>
    <li>Сервер 6.1.0.2</li>
    <li>
        Коммуникатор 6.1.0.1
        <ul>
            <li>DrvModbus 6.0.0.3</li>
            <li>DrvMqttClient 6.0.0.2</li>
        </ul>
    </li>
    <li>
        Вебстанция 6.1.0.1
        <ul>
            <li>PlgMain 6.0.1.1</li>
            <li>PlgScheme 6.0.0.1</li>
        </ul>
    </li>
    <li>Агент 6.1.0.0</li>
    <li>
        Администратор 6.1.0.2
        <ul>
            <li>ExtServerConfig 6.0.1.1</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.1.1 (02.04.2023)</div>
<ul>
    <li>Сервер 6.1.0.1</li>
    <li>
        Коммуникатор 6.1.0.0
        <ul>
            <li>DrvDsScadaServer 6.0.1.1</li>
        </ul>
    </li>
    <li>Вебстанция 6.1.0.0</li>
    <li>Агент 6.1.0.0</li>
    <li>
        Администратор 6.1.0.1
        <ul>
            <li>ExtCommConfig 6.0.1.1</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.1.0 (21.03.2023)</div>
<ul>
    <li>
        Сервер 6.1.0.0
        <ul>
            <li>ModActiveDirectory 6.0.1.0</li>
            <li>ModArcBasic 6.1.0.0</li>
            <li>ModArcInfluxDb 6.1.0.0</li>
            <li>ModArcPostgreSql 6.1.0.0</li>
        </ul>
    </li>
    <li>
        Коммуникатор 6.1.0.0
        <ul>
            <li>DrvCnlMqtt 6.0.0.2</li>
            <li>DrvDsMqtt 6.0.0.2</li>
            <li>DrvDsScadaServer 6.0.1.0</li>
            <li>DrvModbus 6.0.0.2</li>
            <li>DrvMqttPublisher 6.0.0.2</li>
        </ul>
    </li>
    <li>
        Вебстанция 6.1.0.0
        <ul>
            <li>PlgMain 6.0.1.0</li>
        </ul>
    </li>
    <li>Агент 6.1.0.0</li>
    <li>
        Администратор 6.1.0.0
        <ul>
            <li>ExtCommConfig 6.0.1.0</li>
            <li>ExtProjectTools 6.0.0.2</li>
            <li>ExtServerConfig 6.0.1.0</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.0.2 (20.02.2023)</div>
<ul>
    <li>Сервер 6.0.0.2</li>
    <li>
        Коммуникатор 6.0.0.2
        <ul>
            <li>DrvCnlBasic 6.0.0.1</li>
            <li>DrvDbImport 6.0.0.0</li>
            <li>DrvEnronModbus 6.0.0.0</li>
            <li>DrvModbus 6.0.0.1</li>
            <li>DrvSms 6.0.0.0</li>
            <li>DrvSnmp 6.0.0.0</li>
        </ul>
    </li>
    <li>Вебстанция 6.0.0.1</li>
    <li>Агент 6.0.0.0</li>
    <li>Администратор 6.0.0.1</li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.0.1 (17.01.2023)</div>
<ul>
    <li>
        Сервер 6.0.0.1
        <ul>
            <li>ModActiveDirectory 6.0.0.0</li>
            <li>ModArcInfluxDb 6.0.0.1</li>
            <li>ModDbExport 6.0.0.0</li>
        </ul>
    </li>
    <li>
        Коммуникатор 6.0.0.1
        <ul>
            <li>DrvCnlMqtt 6.0.0.1</li>
            <li>DrvDsMqtt 6.0.0.1</li>
            <li>DrvDsScadaServer 6.0.0.1</li>
            <li>DrvMqttClient 6.0.0.1</li>
            <li>DrvMqttPublisher 6.0.0.1</li>
        </ul>
    </li>
    <li>Вебстанция 6.0.0.1
        <ul>
            <li>PlgChart 6.0.0.1</li>
            <li>PlgSchBasicComp 6.0.0.1</li>
        </ul>
    </li>
    <li>Агент 6.0.0.0</li>
    <li>
        Администратор 6.0.0.1
        <ul>
            <li>ExtProjectTools 6.0.0.1</li>
            <li>ExtServerConfig 6.0.0.1</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.0.0 (03.12.2022)</div>
<ul>
    <li>Сервер 6.0.0.0</li>
    <li>Коммуникатор 6.0.0.0</li>
    <li>Вебстанция 6.0.0.0</li>
    <li>Агент 6.0.0.0</li>
    <li>Администратор 6.0.0.0</li>
    <li>Редактор схем 5.3.1.1</li>
</ul>
