@page "/ru/latest/installation/system-requirements"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Системные требования";
}

<h1>Системные требования</h1>
<h2>Программные требования к серверу</h2>
<p>Windows:</p>
<ul>
    <li>Операционная система: Microsoft Windows Server 2016/2019/2022, Microsoft Windows 10/11.</li>
    <li>.NET Runtime 8.0.</li>
    <li>Microsoft IIS для работы веб-приложения.</li>
</ul>

<p>Linux:</p>
<ul>
    <li>Операционная система: Ubuntu (рекомендуется), Alpine, CentOS, Debian, Fedora, OpenSUSE, Red Hat и другие.</li>
    <li>ОС российской разработки: Astra Linux, Альт, РЕД ОС, РОСА и другие.</li>
    <li>.NET Runtime 8.0.</li>
    <li>Nginx для работы веб-приложения.</li>
</ul>

<h2>Аппаратные требования к серверу</h2>
<p>Аппаратная конфигурация сервера подбирается, исходя из масштаба автоматизированной системы. Минимальная конфигурация определяется требованиями используемой операционной системы. Методика оценки требуемого места на жестком диске описана в разделе Архивы.</p>
<p>Rapid SCADA по умолчанию использует собственную встроенную систему управления базой данных, поэтому установка сторонней СУБД не обязательна. Программный комплекс может работать как в физической, так и в виртуальной среде.</p>

<h2>Требования к рабочим станциям и гаджетам</h2>
<ul>
    <li>Браузер Chrome, Firefox, Safari или Edge актуальной версии.</li>
    <li>Microsoft Office, LibreOffice или совместимый офисный пакет для просмотра отчётов.</li>
</ul>
