@page "/ru/5.8/modules/kp-db-import"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Драйвер импорта из БД";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Драйвер импорта из БД</h1>

    <h2 id="overview">Обзор</h2>
    <p>Драйвер импорта из БД позволяет получать текущие данные из сторонней базы данных, а также записывать информацию в стороннюю БД с помощью команд телеуправления. Данный драйвер входит в дистрибутив Rapid SCADA и отдельная установка драйвера не требуется. Файл библиотеки драйвера - KpDbImport.dll.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Каждый КП, использующий драйвер импорта из БД, содержит один запрос на получение данных и набор команд телеуправления (ТУ) на изменение данных. На одной линии связи может находится один или несколько КП, импортирующих данные.</p>
    <p>Настройка драйвера импорта из БД выполняется с помощью формы свойств КП. Чтобы открыть эту форму, необходимо найти соответствующий КП в настройках Коммуникатора, щёлкнуть на узле КП правой кнопкой мыши и выбрать пункт меню <em>Свойства</em>.</p>

    <figure class="figure">
        <img src="kp-db-import-files/db_import_conn_ru.png" class="figure-img img-fluid" alt="Настройка соединения с БД" />
    </figure>

    <p>На странице <em>База данных</em> необходимо задать тип базы данных и указать параметры соеднинения с БД. Если требуется ввести нестандартные параметры соединения, то допускается редактирование строки соединения напрямую.</p>

    <figure class="figure">
        <img src="kp-db-import-files/db_import_query_ru.png" class="figure-img img-fluid" alt="Настройка извлечения данных" />
    </figure>

    <p>На странице <em>Извлечение данных</em> указывается SQL-запрос для получения текущих данных из БД. Драйвер автоматически создаёт теги КП на основе списка запрашиваемых столбцов таблицы. Если запрос имеет сложный синтаксис, то может потребоваться указать количество тегов вручную.</p>
    
    <figure class="figure">
        <img src="kp-db-import-files/db_import_cmd_ru.png" class="figure-img img-fluid" alt="Настройка команд телеуправления" />
    </figure>

    <p>На странице <em>Команды</em> задаются команды ТУ, поддерживаемые данным КП. Команды обеспечивают передачу информации из Rapid SCADA в базу данных. В SQL-запросе команды доступны переменные cmdVal и cmdNum, которые содержат значение и номер команды соответственно. Для большинства СУБД переменные в запросе имеют префикс <strong>@@</strong>, для Oracle обычно используется префикс <strong>:</strong> (двоеточие).</p>
    <p>Допускается создание команды с номером 0, которая будет выполняться по умолчанию. Если номер отправленной команды не найден в списке команд КП, то будет выполнена команда по умолчанию.</p>
</div>
