[Unit]
Description=Rapid SCADA Webstation

[Service]
WorkingDirectory=/opt/scada/ScadaWeb
ExecStart=/usr/bin/dotnet /opt/scada/ScadaWeb/ScadaWeb.dll --urls=http://0.0.0.0:10008
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=scadaweb6
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
