@page "/ru/latest/modules/plg-chart-pro"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Графики Про";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li>
            <a href="#configuring">Конфигурирование</a>
            <ul>
                <li><a href="#view-mode">Режим представлений</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Графики Про</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Графики Про — это дополнительный плагин для приложения Вебстанция, расширяющий возможности работы с графиками входных каналов: масштабирование, одновременное отображение нескольких графиков, экспорт в форматы PNG и PDF. Скачать плагин можно по <a href="https://rapidscada.net/store/Module/ru/PlgChartPro" target="_blank">ссылке</a>. Внешний вид плагина Графики Про показан на следующем рисунке.</p>
    <figure class="figure">
        <img src="plg-chart-pro-files/chart-pro-ru.png" class="figure-img img-fluid" alt="Плагин Графики Про" />
    </figure>

    <h2 id="installation">Установка</h2>
    <p>Плагин Графики Про устанавливается по <a href="../installation/install-modules#plugins">инструкции</a>. В ходе установки выполните дополнительные действия:</p>
    <ul>
        <li>
            <p>Скопируйте файлы <code>PlgChartPro.xml</code> и <code>PlgChartPro_Config.xml</code> в свой проект. Файл <code>PlgChartPro_Reg.xml</code> будет создан при сохранении регистрационного ключа.</p>
            <figure class="figure">
                <img src="plg-chart-pro-files/chart-pro-files-ru.png" class="figure-img img-fluid" alt="Файлы плагина" />
            </figure>
        </li>
        <li>
            <p>В параметрах приложения Вебстанция в разделе <strong>Назначение плагинов</strong> выберите плагин <strong>PlgChartPro</strong>.</p>
            <figure class="figure">
                <img src="plg-chart-pro-files/chart-pro-assign-ru.png" class="figure-img img-fluid" alt="Назначение плагина графиков" />
            </figure>
        </li>
    </ul>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Плагин Графики Про сконфигурирован по умолчанию. Настройки плагина сохраняются в файлах <code>PlgChartPro.xml</code> и <code>PlgChartPro_Config.xml</code>, которые при необходимости редактируются вручную.</p>
    <p>Файл <code>PlgChartPro_Config.xml</code> содержит список профилей. Профиль - это набор настроек плагина, который может быть выбран пользователем на веб-странице графика. Файл <code>PlgChartPro.xml</code> содержит профиль графика, который включает в себя настройки отображения и настройки данных.</p>
    <p>Чтобы создать новый профиль, скопируйте файл <code>PlgChartPro.xml</code> с новым именем и отредактируйте его. Затем пропишите созданный профиль в файле <code>PlgChartPro_Config.xml</code>.</p>

    <p>В дополнение к файлам конфигурации отображение графика определяется строкой запроса, параметры которой описаны в таблице ниже. Строка запроса имеет вид: <code>http://localhost:10008/ChartPro/ChartPro?cnlNums=101-103&startDate=2023-09-16&mode=fixed&period=2&periodMin=60&title=Demo&profile=PlgChartPro.xml</code></p>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Параметр</th>
                <th>Тип данных</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>cnlNums</td>
                <td>Диапазон целых чисел, разделённых дефисами и запятыми</td>
                <td>Номера каналов, отображаемых на графике</td>
            </tr>
            <tr>
                <td>startDate</td>
                <td>Дата в формате YYYY-MM-DD</td>
                <td>Начальная дата отображаемых данных. Если не указана, используется текущая дата</td>
            </tr>
            <tr>
                <td>mode</td>
                <td>fixed | rolling</td>
                <td>Режим работы графика: фиксированный или скользящий. Если не указан, используется фиксированный режим</td>
            </tr>
            <tr>
                <td>period</td>
                <td>Целое число</td>
                <td>Период графика в днях относительно начальной даты. Может быть как положительным, так и отрицательным. Используется для фиксированного режима</td>
            </tr>
            <tr>
                <td>periodMin</td>
                <td>Целое число</td>
                <td>Период графика в минутах для скользящего режима</td>
            </tr>
            <tr>
                <td>title</td>
                <td>Строка</td>
                <td>Заголовок графика. Если не указан, формируется автоматически</td>
            </tr>
            <tr>
                <td>profile</td>
                <td>Строка</td>
                <td>Имя файла профиля графика. Если не указано, используется первый профиль из списка</td>
            </tr>
        </tbody>
    </table>

    <p>В фиксированном режиме работы плагин отображает график за выбранный период времени. Происходит автоматическое обновление данных на графике с добавлением новых значений в правую часть графика.</p>
    <p>В скользящем режиме плагин отображает график от текущего момента до указанной глубины. Происходит автоматическое обновление данных, при этом график смещается справа налево.</p>

    <p>Следующий рисунок показывает компоновку графика, понимание которой необходимо для настройки отображения плагина.</p>
    <figure class="figure">
        <img src="plg-chart-pro-files/chart-parts.svg" class="figure-img img-fluid" alt="Компоновка графика" />
    </figure>

    <h3 id="view-mode">Режим представлений</h3>
    <p>Плагин Графики Про поддерживает работу в режиме представлений, при котором узел графика добавляется в дерево представлений Вебстанции. Чтобы показать график как представление, необходимо добавить в таблицу представлений строку следующего вида:</p>
    <figure class="figure">
        <img src="plg-chart-pro-files/chart-pro-view-ru.png" class="figure-img img-fluid" alt="Таблица Представления" />
    </figure>
    <p>Поле Путь содержит путь в дереве представлений. Тип представления - График Про. Аргументы представления соответствуют параметрам строки запроса, описанным выше.</p>
</div>
