@page "/ru/latest/modules/drv-db-import"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Драйвер импорта из БД";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Драйвер импорта из БД</h1>
    <h2 id="overview">Обзор</h2>
    <p>Драйвер импорта из БД предназначен для чтения текущих данных из сторонней базы данных, а также для записи в стороннюю БД с помощью команд управления. Поддерживаются СУБД Microsoft SQL Server, Oracle, PostgreSQL и MySQL. Драйвер входит в дистрибутив Rapid SCADA и его отдельная установка не требуется.</p>
    
    <h2 id="configuring">Конфигурирование</h2>

</div>
