@page "/ru/latest/modules/drv-modbus-slave"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Драйвер Modbus Slave";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Драйвер Modbus Slave</h1>
    <h2 id="overview">Обзор</h2>
    <p>Драйвер реализует стандартный протокол обмена данными <a href="https://ru.wikipedia.org/wiki/Modbus" target="_blank">Modbus</a> и работает в качестве ведомого. При использовании драйвера Коммуникатор ожидает входящих запросов и команд от стороннего устройства или приложения, которое является ведущим (мастером). Поддерживаются следующие каналы связи: последовательный порт, TCP-сервер и UDP. Драйвер может работать как в режиме Modbus RTU, так и в режиме Modbus TCP.</p>
    <p>Функции драйвера Modbus Slave:</p>
    <ol>
        <li>Приём данных от ведущего устройства с помощью команд записи.</li>
        <li>Предоставление данных ведущему устройству в ответ на команды чтения.</li>
        <li>Работа в качестве шлюза, то есть трансляция значений каналов, полученных от других устройств.</li>
    </ol>

    <h2 id="installation">Установка</h2>
    <p>Драйвер Modbus Slave устанавливается в соответствии с <a href="../installation/install-modules#drivers">общей последовательностью установки драйверов</a>.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Создайте новую линию связи с помощью мастера, который вызывается кнопкой <img src="../common-images/add-line.png" />. Выберите подходящий тип канала связи и настройте его свойства. На следующем рисунке показан пример свойств канала связи типа TCP-сервер.</p>
    <figure class="figure">
        <img src="drv-modbus-slave-files/tcp-server-channel-ru.png" class="figure-img img-fluid" alt="Свойства канала связи" />
    </figure>

    <p>В разделе пользовательских параметров линии связи необходимо добавить параметр <em>TransMode</em>, который отвечает за режим передачи данных. Он может принимать значения <em>RTU</em> и <em>TCP</em>.</p>
    <figure class="figure">
        <img src="drv-modbus-slave-files/custom-line-options-ru.png" class="figure-img img-fluid" alt="Пользовательские параметры линии связи" />
    </figure>

    <p>С помощью мастера, вызываемого кнопкой <img src="../common-images/add-device.png" />, добавьте на линию связи устройства типа <em>Modbus Slave</em>. Числовой адрес устройства важен - он является идентификатором ведомого устройства согласно спецификации протокола Modbus. В качестве примера были добавлены три устройства, работающие в разных режимах, которые рассмотрены далее. Следующий рисунок показывает узел линии связи в проводнике проекта.</p>
    <figure class="figure">
        <img src="drv-modbus-slave-files/slave-line-node-ru.png" class="figure-img img-fluid" alt="Узел линии связи" />
    </figure>

    <p>Режим <em>Независимое устройство</em> позволяет Коммуникатору принимать данные от контроллера, который является ведущим (мастером). Чтобы передать информацию Коммуникатору, контроллер должен записать данные, используя Modbus-функции <code>0x05</code> и <code>0x06</code>. Кроме того, контроллер может считать ранее записанные теги устройства из Коммуникатора. Чтение осуществляется с использованием Modbus-функций <code>0x01</code>, <code>0x02</code>, <code>0x03</code> и <code>0x04</code>. Тег устройства может быть записан как самим контроллером, так и с помощью команды управления, отправленной оператором.</p>
    <figure class="figure">
        <img src="drv-modbus-slave-files/independent-device-ru.png" class="figure-img img-fluid" alt="Свойства независимого устройства" />
    </figure>
    <p>Параметр <strong>Неопределённое значение</strong> задаёт значение, которое возвращается мастеру, если данные запрошенного регистра не определены. Он действует для числовых регистров, и не действует для флагов. Если установлен <strong>Период действительности данных</strong>, значения тегов будут сбрасываться на неопределённые, если новые данные не поступают от контроллера в течение заданного периода времени.</p>

    <p><strong>Шаблон устройства</strong> определяет структуру и адреса регистров Modbus. Формат шаблона драйвера Modbus Slave (DrvModbusSlave) идентичен формату шаблона устройства, который используется драйвером Modbus Master (DrvModbus).</p>
    <figure class="figure">
        <img src="drv-modbus-slave-files/modbus-template-ru.png" class="figure-img img-fluid" alt="Шаблон устройства" />
    </figure>

    <p>Режим <em>Шлюз устройства</em> используется для того, чтобы предоставить текущие данные каналов выбранного устройства сторонней системе.</p>
    <figure class="figure">
        <img src="drv-modbus-slave-files/device-gateway-ru.png" class="figure-img img-fluid" alt="Шлюз устройства" />
    </figure>
    <p>Каналы устройства, которое является источником данных, и теги устройства, которое является шлюзом, связываются на основе сопоставления кодов тегов каналов и кодов тегов, прописанных в шаблоне шлюза. Если устройство, которе является источником данных, опрашивается по протоколу Modbus, то для работы шлюза может быть использован тот же шаблон устройства.</p>
    <p>Если ведущий выполнит команду записи в тег устройства-шлюза, Коммуникатор отправит на Сервер соответствующую команду на канал, привязанный к тегу. Далее эта команда может быть передана на физическое устройство, данные которого транслируются шлюзом.</p>

    <figure class="figure">
        <img src="drv-modbus-slave-files/channel-gateway-ru.png" class="figure-img img-fluid" alt="Шлюз каналов" />
    </figure>
    <p>Работа драйвера в режиме <em>Шлюз каналов</em> аналогична работе в режиме шлюза устройства. Резница заключается в том, что в параметрах шлюза каналов явно прописываются номера каналов, данные которых транслируются. Параметры шлюза каналов показаны на следующем рисунке.</p>
    <figure class="figure">
        <img src="drv-modbus-slave-files/channel-gateway-options-ru.png" class="figure-img img-fluid" alt="Параметры шлюза каналов" />
    </figure>
    <p>Для каждого выбранного канала необходимо указать начальный <strong>Адрес</strong> регистра Modbus и выбрать <strong>Тип данных</strong>. <strong>Коэффициент</strong> используется в том случае, если необходимо передать вещественное значение канала как целочисленное с определённым количеством десятичных знаков. Параметр <strong>Только чтение</strong> определяет, реагирует ли шлюз на команду записи элемента, полученную от ведущего.</p>
</div>
