@page "/ru/latest/modules/mod-db-export"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Модуль экспорта в БД";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
        <li><a href="#commands">Команды</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Модуль экспорта в БД</h1>
    <h2 id="overview">Обзор</h2>
    <p>Модуль экспорта в БД позволяет в реальном времени экспортировать данные, поступающие от устройств, в популярные базы данных. Поддерживаются СУБД Microsoft SQL Server, Oracle, PostgreSQL и MySQL. Модуль входит в дистрибутив Rapid SCADA и его отдельная установка не требуется. На следующем рисунке показана форма для настройки модуля.</p>
    <figure class="figure">
        <img src="mod-db-export-files/db-export-ru.png" class="figure-img img-fluid" alt="Модуль экспорта в БД" />
    </figure>
    <p>Модуль поддерживает экспорт в несколько различных баз данных параллельно. База данных, в которую выполняется экспорт, называется <strong>цель экспорта</strong>. На основе параметров цели экспорта модуль создаёт <strong>экспортёр</strong> - программный объект, который обрабатывает очереди данных и вызывает SQL-запросы.</p>
    <p>Информация о работе модуля записывается в файл журнала <code>ModDbExport.log</code>, информация по каждому экспортёру записывается в файлы <code>ModDbExport_*.log</code> и <code>ModDbExport_*.txt</code>.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Чтобы открыть форму для настройки модуля, на странице <strong>Сервер &gt; Модули</strong> выберите модуль <strong>ModDbExport</strong> и нажмите кнопку <strong>Свойства</strong>. Модуль должен находиться в списке активных модулей. Конфигурация модуля сохраняется в файл <code>ModDbExport.xml</code>.</p>
    <p>Добавьте новую цель экспорта в конфигурацию модуля с помощью кнопки <img src="mod-db-export-files/add-db.png" />, выбрав СУБД из выпадающего списка. Далее рассмотрим страницы, содержащие различные группы настроек цели экспорта. На скриншотах ниже показаны значения параметров по умолчанию.</p>

    <figure class="figure">
        <img src="mod-db-export-files/general-options-ru.png" class="figure-img img-fluid" alt="Основные параметры" />
    </figure>
    <p>Укажите <strong>Код команды</strong>, если планируется вручную отправлять команды на экспорт архивов. Установите <strong>Номер канала статуса</strong>, чтобы отслеживать состояние экспорта через веб-интерфейс. Канал должен быть создан в базе конфигурации и иметь <em>Расчётный</em> тип. Значения канала: <em>0</em> - норма, <em>1</em> - ошибка. Параметры очереди подбираются экспериментальным путём в зависимости от объёма экспортируемых данных и быстродействия сервера БД.</p>

    <figure class="figure">
        <img src="mod-db-export-files/connection-options-ru.png" class="figure-img img-fluid" alt="Параметры соединения" />
    </figure>
    <p>БД, в которую выполняется экспорт, должна быть предварительно создана и содержать таблицы для хранения информации. Параметры для соединения с БД необходимо уточнить у её администратора. Если сервер БД развёрнут на отдельном компьютере, в настройках брандмауэра сервера необходимо разрешить входящие подключения по используемому TCP-порту.</p>

    <figure class="figure">
        <img src="mod-db-export-files/cur-data-export-ru.png" class="figure-img img-fluid" alt="Экспорт текущих данных" />
    </figure>
    <p>Текущие данные могут экспортироваться <em>При получении</em> Сервером от Коммуникатора или <em>По таймеру</em>. Передача данных при получении позволяет выгрузить в БД все текущие данные, получаемые от опрашиваемых устройств. Передача данных по таймеру уменьшает размер БД и экономит сетевой трафик.</p>

    <figure class="figure">
        <img src="mod-db-export-files/hist-data-export-ru.png" class="figure-img img-fluid" alt="Экспорт исторических данных" />
    </figure>
    <p>Под экспортом исторических данных подразумеваются данные, передаваемые с меткой времени, например:</p>
    <ul>
        <li>архивы, которые скачиваются Коммуникатором из приборов учёта и передаются на Сервер;</li>
        <li>данные получаемые от модуля <a href="mod-rapid-gate">Быстрый шлюз</a> с удалённого сервера при репликации архивов.</li>
    </ul>
    <p><strong>Задержка экспорта</strong> позволяет избежать многократного экспорта расчётных данных, если подряд получены несколько срезов данных с одинаковой меткой времени. <strong>Бит исторического архива</strong> используется для извлечения данных расчётных каналов.</p>

    <figure class="figure">
        <img src="mod-db-export-files/arc-replication-ru.png" class="figure-img img-fluid" alt="Репликация архивов" />
    </figure>
    <p>Репликация архивов обеспечивает идентичность информации в архиве Rapid SCADA и в БД. Если включена репликация архивов и установлена галочка <strong>Автоматический экспорт архивов</strong>, то исторические данные и события, получаемые Сервером от клиентов, не добавляются в очередь на экспорт, чтобы избежать дублирования. Состояние репликации сохраняется в процессе работы модуля и загружается при перезапуске службы Сервера.</p>

    <figure class="figure">
        <img src="mod-db-export-files/query-options-ru.png" class="figure-img img-fluid" alt="Параметры запроса" />
    </figure>
    <p>На рисунке выше показаны параметры SQL-запроса, который вызывается экспортёром при получении Сервером соответствующих данных или при репликации архива. По <a href="https://github.com/RapidScada/scada-v6/tree/master/ScadaServer/OpenModules/ModDbExport.Logic/Scripts" target="_blank">ссылке</a> доступны скрипты для создания модели БД и примеры запросов. SQL-запросы могут содержать параметры, которые указываются с префиксом <code>&commat;</code>. Чтобы просмотреть список доступных параметров, зависящий от разновидности данных запроса, нажмите кнопку <img src="mod-db-export-files/parameters.png" />.</p>
    <p>Если галочка <strong>Одним запросом</strong> снята, SQL-запрос будет вызван для каждого канала, данные которого обрабатываются. Параметры запроса для экспорта значения и статуса канала: <code>&commat;val</code> и <code>&commat;stat</code>.</p>
    <p>Если галочка <strong>Одним запросом</strong> установлена, SQL-запрос будет вызван один раз только для тех каналов, номера которых явно заданы в фильтре запроса. При этом наименования параметров значения и статуса канала содержат номер канала, например, <code>&commat;val101</code> и <code>&commat;stat101</code>.</p>
    <p>Запросы с установленной галочкой <strong>Одним запросом</strong> игнорируются:</p>
    <ol>
        <li>Если текущие данные экспортируются при получении.</li>
        <li>При экспорте исторических данных, полученных от клиентов.</li>
    </ol>

    <h2 id="commands">Команды</h2>
    <p>Модуль экспорта в БД поддерживает приём команд. Для отправки команд модулю в базе конфигурации должны быть созданы каналы выходного типа. <strong>Код тега</strong> канала должен совпадать с <strong>Кодом команды</strong>, который указан в основных параметрах цели экспорта. Команда может быть отправлена через веб-интерфейс приложения Вебстанция или с помощью другого клиента, взаимодействующего с приложением Сервер.</p>
    <p>При получении корректной команды, создаётся задание и добавляется в очередь заданий экспортёра. Максимальная длина очереди заданий равна 10. Если очередь заполнена, новые команды будут проигнорированы.</p>
    <p>Пример команды экспорта архива:</p>
    <pre><code>cmd=ExportArchive
startDT=2025-12-31 10:00:00
endDT=2025-12-31 11:00:00</code></pre>

    <p>Очистить очередь заданий:</p>
    <pre><code>cmd=ClearTaskQueue</code></pre>

    <p>В аргументах команд указывается время UTC.</p>
</div>
