@page "/ru/latest/modules/plg-map"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Плагин Карты";
}

@section Styles {
    <link href="~/lib/prismjs/prism.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/prismjs/prism.js"></script>
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li>
            <a href="#configuring">Конфигурирование</a>
            <ul>
                <li><a href="#plugin-settings">Настройка плагина</a></li>
                <li><a href="#creating-map">Создание карты</a></li>
            </ul>
        </li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Плагин Карты</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Карты отображает состояние и параметры стационарных и движущихся объектов на интерактивных картах OpenStreetMap. Плагин позволяет наглядно контролировать географически распределённые системы и транспорт, по щелчку переходить на страницу детальной информации по интересующему объекту. Скачать плагин можно по <a href="https://rapidscada.net/store/Module/ru/PlgMap" target="_blank">ссылке</a>.</p>

    <h2 id="installation">Установка</h2>
    <p>Плагин Карты устанавливается по <a href="../installation/install-modules#plugins">инструкции</a>. В ходе установки выполните дополнительное действие: скопируйте файл <code>PlgMap.xml</code> из дистрибутива плагина в свой проект. Файл должен отображаться в проводнике проекта внутри узла <strong>Вебстанция &gt; Конфигурационные файлы</strong>.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <h3 id="plugin-settings">Настройка плагина</h3>
    <p>Общие настройки плагина, которые вляют на отображение всех карт, находятся в файле <code>PlgMap.xml</code>.</p>
    <p>
        Секция <code>GeneralOptions</code> содержит общие параметры плагина:<br />
        <code>PopupOnClick</code> - показывать координаты точки на карте, по которой щёлкнул пользователь.
    </p>
    <p>Секция <code>TileLayers</code> содержит настройки слоёв плиток. В зависимости от провайдера плиток каждый слой <code>TileLayer</code> имеет собственный набор параметров. Пользователь может переключать слой плиток на карте.</p>
    <p>В секции <code>MarkerIcons</code> определены значки маркеров, которые доступны на картах. Значки маркеров бывают двух типов:</p>
    <ol>
        <li>Значки типа <code>Classic</code> основаны на графическом файле. Имя файла имеет суффикс, соотвествующий статусу объекта: <code>undefined</code> - не определён, <code>normal</code> - норма, <code>error</code> - ошибка, <code>unbound</code> - статус не привязан к каналу. Файлы значка располагаются в директории <code>SCADA\ScadaWeb\wwwroot\plugins\Map\images</code>.</li>
        <li>Значки типа <code>Awesome</code> используют популярный графический шрифт <a href="https://fontawesome.com/search" target="_blank">Font Awesome</a></li>
    </ol>

    <h3 id="creating-map">Создание карты</h3>

</div>
