@page "/ru/latest/modules/plg-map"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Плагин Карты";
}

@section Styles {
    <link href="~/lib/prismjs/prism.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/prismjs/prism.js"></script>
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Плагин Карты</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Карты отображает состояние и параметры стационарных и движущихся объектов на интерактивных картах OpenStreetMap. Плагин позволяет наглядно контролировать географически распределённые системы и транспорт, по щелчку переходить на страницу детальной информации по интересующему объекту. Скачать плагин можно по <a href="https://rapidscada.net/store/Module/ru/PlgMap" target="_blank">ссылке</a>.</p>
</div>
