@page "/ru/latest/modules/plg-notification"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Уведомления";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Уведомления</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Уведомления позволяет обратить внимание оператора на наиболее важные события. Плагин формирует уведомления на основе событий по заданным правилам и выводит их на панели уведомлений, которая появляется в правой части веб-страницы. Кроме того, плагин включает звуковое оповещение в зависимости от типа уведомлений. Скачать плагин можно по <a href="https://rapidscada.net/store/Module/ru/PlgNotification" target="_blank">ссылке</a>. Панель уведомлений показана на следующем рисунке.</p>
    <figure class="figure">
        <img src="plg-notification-files/notification-panel-ru.png" class="figure-img img-fluid" alt="Панель уведомлений" />
    </figure>
    <p>Плагин отображает только те события, которые требуют квитирования и ещё не квитированы. К отображаемым событиям применяется фильтр, заданный в конфигурации плагина. По щелчку на кнопке <strong>Информация</strong> для пользователя отображается подсказка по уведомлению. Если пользователь квитирует событие, соответствующее уведомление скрывается.</p>

    <h2 id="installation">Установка</h2>
    <p>Плагин Уведомления устанавливается по <a href="../installation/install-modules#plugins">инструкции</a>. В ходе установки выполните дополнительные действия: </p>
    <ul>
        <li>Скопируйте файл <code>PlgNotification.xml</code> из дистрибутива плагина в свой проект. Файл должен отображаться в проводнике проекта внутри узла <strong>Вебстанция &gt; Конфигурационные файлы</strong>.</li>
        <li>В параметрах приложения Вебстанция в разделе <strong>Назначение плагинов</strong> выберите плагин <strong>PlgNotification</strong> в качестве плагина управления уведомлениями.</li>
    </ul>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Файл конфигурации плагина Уведомления <code>PlgNotification.xml</code> содержит параметры, описанные в следующей таблице.</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>XML-элемент</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>EventFilter</strong></td>
                <td>Секция фильтра событий</td>
            </tr>
            <tr>
                <td>ObjNums</td>
                <td>Номера объектов</td>
            </tr>
            <tr>
                <td>DeviceNums</td>
                <td>Номера устройств</td>
            </tr>
            <tr>
                <td>Statuses</td>
                <td>Идентификаторы статусов</td>
            </tr>
            <tr>
                <td>Severities</td>
                <td>Значения серьёзности</td>
            </tr>
            <tr>
                <td><strong>Tips</strong></td>
                <td>Секция подсказок по уведомлениям</td>
            </tr>
            <tr>
                <td><strong>Tip</strong></td>
                <td>Секция, которая определяет одну подсказку</td>
            </tr>
            <tr>
                <td>TipCondition</td>
                <td>Условие подсказки</td>
            </tr>
            <tr>
                <td>Link</td>
                <td>Если параметр определён, он задаёт ссылку для перехода по подсказке</td>
            </tr>
            <tr>
                <td>Html</td>
                <td>HTML-разметка содержимого подсказки</td>
            </tr>
        </tbody>
    </table>

    <p>Если для параметра указывается числовой диапазон, он может содержать запятые и дефисы, например, <em style="white-space:nowrap">1-5,10</em>.</p>
    <p>Плагин Уведомления также использует некоторые параметры из файла <code>ScadaWebConfig.xml</code>, общего конфигурационного файла приложения Вебстанция:</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Параметр</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>RefreshRate</td>
                <td>Частота обновления данных в миллисекундах</td>
            </tr>
            <tr>
                <td>EventArchiveCode</td>
                <td>Код архива событий, на основе которого формируются уведомления</td>
            </tr>
            <tr>
                <td>EventCount</td>
                <td>Количество отображаемых уведомлений</td>
            </tr>
            <tr>
                <td>EventDepth</td>
                <td>Количество дней для запроса событий</td>
            </tr>
        </tbody>
    </table>
</div>
