@page "/en/latest/software-overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Introduction";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#about">What is Rapid SCADA</a></li>
        <li><a href="#key-features">Key Features</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Introduction</h1>
    <h2 id="about">What is Rapid SCADA</h2>
    <p>Rapid SCADA is an open source industrial automation platform. The out of the box software provides tools for rapid creation of monitoring and control systems. In case of large implementation, Rapid SCADA is used as a core for development of custom SCADA and MES solutions for a Customer.</p>
    <p>Open source is the key to software transparency and security. The source code is available on <a href="https://github.com/RapidScada/scada-v6" target="_blank">GitHub</a>. Rapid SCADA is released under <a href="http://en.wikipedia.org/wiki/Apache_License" target="_blank">Apache License 2.0</a> which permits creation of new derivative software products.</p>
    <p>Rapid SCADA is a perfect choice for creating large distributed industrial automation systems. Rapid SCADA runs on servers, embedded computers and in the cloud. Rapid SCADA nodes exchange information between themselves, and interact with external databases in real time.</p>
    <p>The main classes of systems developed using Rapid SCADA are the following:</p>
    <ul>
        <li>Industrial automation systems and IIoT systems.</li>
        <li>Process control systems.</li>
        <li>Energy accounting systems.</li>
    </ul>

    <h2 id="key-features">Key Features</h2>
    <table class="table table-hover">
        <tr class="table-secondary">
            <th colspan="2">General</th>
        </tr>
        <tr>
            <td>Supported OS families</td>
            <td>Windows, Linux</td>
        </tr>
        <tr>
            <td>Unlimited number of channels, tags and devices</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Remote configuration and maintenance of projects</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Simultaneous work on projects with GIT</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Free and paid technical support</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Security</th>
        </tr>
        <tr>
            <td>HTTPS, SSL</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Brute force attack protection</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Captcha on login</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Connection monitoring</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Password encryption</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>User activity logging</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Redundancy</th>
        </tr>
        <tr>
            <td>Primary and backup server with automatic data sync</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Central and remote servers with automatic data sync</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Mirroring</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Archiving</th>
        </tr>
        <tr>
            <td>Data storages</td>
            <td>Files, PostgreSQL, InfluxDB</td>
        </tr>
        <tr>
            <td>Maximum numbers of independent archives</td>
            <td>31</td>
        </tr>
        <tr>
            <td>Writing with period</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Writing on change</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Connectivity</th>
        </tr>
        <tr>
            <td>Integration with databases</td>
            <td>Oracle, MS SQL, MySQL, PostgreSQL</td>
        </tr>
        <tr>
            <td>Industrial protocols</td>
            <td>OPC UA, OPC Classic, Modbus, MQTT, SNMP, etc.</td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Programming</th>
        </tr>
        <tr>
            <td>REST API</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Sample modules with source code</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Developer documentation</td>
            <td><strong>&check;</strong></td>
        </tr>
    </table>
</div>
