@page "/en/latest/configuration/user-management"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "User Management";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#creating-users">Creating Users</a></li>
        <li><a href="#rights-assignment">Rights Assignment</a></li>
        <li><a href="#built-in-roles">Built-in Roles</a></li>
        <li><a href="#custom-roles">Custom Roles</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>User Management</h1>
    <h2 id="creating-users">Creating Users</h2>
    <p>Creating, editing and deleting users is performed in the Administrator application in the Users table (see Figure 1).</p>

    <figure class="figure">
        <img src="user-management-files/users-table-en.png" class="figure-img img-fluid" alt="Users table" />
        <figcaption class="figure-caption">Figure 1. Users table</figcaption>
    </figure>

    <p>Users with IDs from 1 to 12 are created by default from the project template. The <em>ScadaWeb</em> and <em>ScadaComm</em> users are intended to connect the Webstation and Communicator client applications to the Server application. The <em>admin</em> and <em>guest</em> users who use the <a href="#built-in-roles">standard roles</a> are intended to log in to the system. The <em>alex</em>, <em>john</em> and <em>maria</em> users who use <a href="#custom-roles">custom roles</a> are created as an example.</p>

    <h2 id="rights-assignment">Rights Assignment</h2>
    <p>Права назначаются на объекты для ролей. Стоит отметить, что права назаначаются только для собственных ролей, для стандартных ролей проверка прав уже реализована в приложениях. <strong>Роль</strong> - это именованный набор прав.</p>
    <p>Перед назначением прав необходимо заполнить таблицы <strong>Объекты</strong> и <strong>Роли</strong> (рис. 2 и 3). Далее прописать права в таблице <strong>Права на объекты</strong> (рис. 4). Объекты могут образовывать иерархию (рис. 5). Если для объекта верхнего уровня заданы некоторые права, они наследуются объектами нижних уровней.</p>

    <figure class="figure">
        <img src="user-management-files/objects-table-en.png" class="figure-img img-fluid" alt="Objects table" />
        <figcaption class="figure-caption">Figure 2. Objects table</figcaption>
    </figure>

    <figure class="figure">
        <img src="user-management-files/roles-table-en.png" class="figure-img img-fluid" alt="Roles table" />
        <figcaption class="figure-caption">Figure 3. Roles table</figcaption>
    </figure>

    <figure class="figure">
        <img src="user-management-files/object-rights-table-en.png" class="figure-img img-fluid" alt="Object rights table" />
        <figcaption class="figure-caption">Figure 4. Object rights table</figcaption>
    </figure>

    <figure class="figure">
        <img src="user-management-files/object-tree-en.png" class="figure-img img-fluid" alt="Object hierarchy" />
        <figcaption class="figure-caption">Figure 5. Object hierarchy</figcaption>
    </figure>

    <h2 id="built-in-roles">Built-in Roles</h2>
    <p>Стандартные роли - это роли, встроенные в ядро системы.</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Идент.</th>
                <th>Наименование</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>Отключен</td>
                <td>Доступ запрещён</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Администратор</td>
                <td>Полный доступ</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Диспетчер</td>
                <td>Может просматривать информацию и отправлять команды</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Гость</td>
                <td>Может просматривать информацию</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Приложение</td>
                <td>Взаимодействует с сервером</td>
            </tr>
        </tbody>
    </table>

    <p>Особенности стандартных ролей:</p>
    <ul>
        <li>Имеют идентификаторы от 0 до 4.</li>
        <li>Действуют на все объекты.</li>
        <li>Их нельзя изменять.</li>
    </ul>

    <h2 id="custom-roles">Custom Roles</h2>
    <p>Собственные роли - это роли, созданные разработчиком проекта. В примере выше собственные роли - это <em>Моя&nbsp;роль&nbsp;1</em>, <em>Моя&nbsp;роль&nbsp;2</em> и <em>Моя&nbsp;роль&nbsp;3</em>.</p>
    <p>Рекомендуется присваивать собственным ролям идентификаторы, начиная от 101. Поле <strong>Код</strong> роли предназначено для интеграции со сторонними системами и базами данных. Если интеграция не используется, код можно оставить пустым.</p>
    <p>Используя механизм наследования ролей, можно существенно сократить количество записей, которые добавляются в таблицу <strong>Права на объекты</strong>. В таблице <strong>Наследование ролей</strong>, показанной на рис. 6, дочерняя роль <em>Моя&nbsp;роль&nbsp;3</em> наследует от родительских ролей <em>Моя&nbsp;роль&nbsp;1</em> и <em>Моя&nbsp;роль&nbsp;2</em> сумму прав обеих.</p>

    <figure class="figure">
        <img src="user-management-files/role-inheritance-table-en.png" class="figure-img img-fluid" alt="Role inheritance" />
        <figcaption class="figure-caption">Figure 6. Role inheritance</figcaption>
    </figure>

    <p>Чтобы проконтролировать корректность настройки прав, откройте окно <strong>Матрица прав</strong> (рис. 7), которое вызывается с помощью кнопки <img src="../common-images/matrix.png" />, расположенной на панели инструментов приложения Администратор. Рисунок ниже наглядно показывает, как работает наследование ролей.</p>

    <figure class="figure">
        <img src="user-management-files/right-matrix-en.png" class="figure-img img-fluid" alt="Right matrix" />
        <figcaption class="figure-caption">Figure 7. Right matrix</figcaption>
    </figure>
</div>
