@page "/ru/latest/version-history/agent-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "История Агента";
}

<h1>История Агента</h1>
<div>ScadaAgent 6.1.0.1 (10.12.2023)</div>
<ul>
    <li>Исправлена временная директория при передаче конфигурации в другой экземпляр</li>
</ul>

<div>ScadaAgent 6.1.0.0 (21.03.2023)</div>
<ul>
    <li>Использует новый протокол приложений</li>
</ul>

<div>ScadaAgent 6.0.0.0 (03.12.2022)</div>
<ul>
    <li>Обратное соединение, при котором Агент инициирует подключение</li>
    <li>Логин и пароль Агента указываются в конфигурации приложения</li>
    <li>Отправка команд Коммуникатору</li>
    <li>Чтение журналов всех приложений и модулей</li>
</ul>
