@page "/ru/6.1/version-history/applications-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "История дополнительных приложений";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#auto-report-app">Автоотчёт</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>История дополнительных приложений</h1>
    <h2 id="auto-report-app">Автоотчёт</h2>
    <div>ScadaAutoReport 6.0.0.1 (04.07.2023)</div>
    <ul>
        <li>Исправлено вычисление периода отчётов</li>
    </ul>

    <div>ScadaAutoReport 6.0.0.0 (24.05.2023)</div>
    <ul>
        <li>Типы отчётов загружаются динамически согласно конфигурации</li>
        <li>Культура и часовой пояс отчётов устанавливаются в конфигурации</li>
        <li>Встроенное расписание задач</li>
        <li>Каждая задача имеет отдельный адресат почты</li>
        <li>Удобные параметры для выбора периода отчётов</li>
    </ul>
</div>
