@page "/ru/6.1/version-history/server-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "История Сервера";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#server-app">Приложение Сервер</a></li>
        <li><a href="#mod-active-directory">Модуль Active Directory</a></li>
        <li><a href="#mod-arc-basic">Базовый архив</a></li>
        <li><a href="#mod-arc-influx-db">Архив InfluxDB</a></li>
        <li><a href="#mod-arc-postgre-sql">Архив PostgreSQL</a></li>
        <li><a href="#mod-auto-control">Модуль автоматического управления</a></li>
        <li><a href="#mod-db-export">Экспорт в БД</a></li>
        <li><a href="#mod-performance-monitor">Монитор производительности</a></li>
        <li><a href="#mod-rapid-gate">Быстрый шлюз</a></li>
        <li><a href="#mod-replication-helper">Помощник репликации</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>История Сервера</h1>
    <h2 id="server-app">Приложение Сервер</h2>
    <div>ScadaServer 6.1.1.1 (03.08.2023)</div>
    <ul>
        <li>Рефакторинг кода</li>
    </ul>

    <div>ScadaServer 6.1.1.0 (04.07.2023)</div>
    <ul>
        <li>Работает с новой конфигурацией экземпляра</li>
        <li>Время записи в архивы устанавливается как текущее при старте Сервера.</li>
    </ul>

    <div>ScadaServer 6.1.0.2 (15.05.2023)</div>
    <ul>
        <li>Исправлено ожидание остановки сервиса</li>
    </ul>

    <div>ScadaServer 6.1.0.1 (02.04.2023)</div>
    <ul>
        <li>Исправлено считывание базы конфигурации</li>
    </ul>

    <div>ScadaServer 6.1.0.0 (21.03.2023)</div>
    <ul>
        <li>В таблице Каналы добавлен столбец Формат команды</li>
        <li>Новый протокол приложений с увеличенным быстродействием</li>
        <li>Выходная формула может возвращать экземпляр CnlData</li>
        <li>Сторонние приложения можно запускать из скриптов</li>
        <li>Изменения в API модулей</li>
    </ul>

    <div>ScadaServer 6.0.0.2 (20.02.2023)</div>
    <ul>
        <li>Нечисловые значения канала события заменяются нулем</li>
        <li>Зона нечувствительности границы может быть привязана к каналу</li>
    </ul>

    <div>ScadaServer 6.0.0.1 (17.01.2023)</div>
    <ul>
        <li>Исправлено зависание при остановке, если используются некоторые модули</li>
        <li>Добавлен параметр использования архивного статуса каналов</li>
    </ul>

    <div>ScadaServer 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Новая база конфигурации</li>
        <li>База конфигурации может сохраняться как в файлах, так и в базе данных PostgreSQL</li>
        <li>Безопасный и быстрый протокол обмена данными между приложениями</li>
        <li>Расширены возможности формул каналов</li>
        <li>Отсутствует ограничение на количество каналов и устройств</li>
        <li>Гибкая работа с архивами</li>
    </ul>

    @**** ModActiveDirectory ****@
    <h2 id="mod-active-directory">Модуль Active Directory</h2>
    <div>ModActiveDirectory 6.0.2.0 (10.12.2023)</div>
    <ul>
        <li>Информация о пользователе сохраняется в БД PostgreSQL</li>
    </ul>

    <div>ModActiveDirectory 6.0.1.0 (21.03.2023)</div>
    <ul>
        <li>Добавлен параметр, включающий или отключающий поиск в Active Directory</li>
    </ul>

    <div>ModActiveDirectory 6.0.0.0 (17.01.2023)</div>
    <ul>
        <li>С помощью групп безопасности можно назначить пользовательские роли</li>
    </ul>

    @**** ModArcBasic ****@
    <h2 id="mod-arc-basic">Базовый архив</h2>
    <div>ModArcBasic 6.1.0.0 (21.03.2023)</div>
    <ul>
        <li>Рефакторинг и оптимизация</li>
    </ul>

    <div>ModArcBasic 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Первоначальная разработка модуля</li>
    </ul>

    @**** ModArcInfluxDb ****@
    <h2 id="mod-arc-influx-db">Архив InfluxDB</h2>
    <div>ModArcInfluxDb 6.1.0.0 (21.03.2023)</div>
    <ul>
        <li>Рефакторинг и оптимизация</li>
    </ul>

    <div>ModArcInfluxDb 6.0.0.1 (17.01.2023)</div>
    <ul>
        <li>Исправлена загрузка конфигурации модуля</li>
    </ul>

    <div>ModArcInfluxDb 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Первоначальная разработка модуля</li>
    </ul>

    @**** ModArcPostgreSql ****@
    <h2 id="mod-arc-postgre-sql">Архив PostgreSQL</h2>
    <div>ModArcPostgreSql 6.1.2.0 (10.12.2023)</div>
    <ul>
        <li>Добавлен размер секции равный одному дню</li>
    </ul>

    <div>ModArcPostgreSql 6.1.1.1 (03.08.2023)</div>
    <ul>
        <li>Исправлен размер пакета</li>
    </ul>

    <div>ModArcPostgreSql 6.1.1.0 (04.07.2023)</div>
    <ul>
        <li>Изменения в параметрах архивов</li>
    </ul>

    <div>ModArcPostgreSql 6.1.0.0 (21.03.2023)</div>
    <ul>
        <li>Рефакторинг и оптимизация</li>
    </ul>

    <div>ModArcPostgreSql 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Первоначальная разработка модуля</li>
    </ul>

    @**** ModAutoControl ****@
    <h2 id="mod-auto-control">Модуль автоматического управления</h2>
    <div>ModAutoControl 6.0.0.3 (10.12.2023)</div>
    <ul>
        <li>Исправлено копирование значения команды в триггере на изменение данных</li>
        <li>Исправлено копирование триггера на форме конфигурации</li>
    </ul>

    <div>ModAutoControl 6.0.0.2 (25.09.2023)</div>
    <ul>
        <li>Исправления на форме конфигурации модуля</li>
    </ul>

    <div>ModAutoControl 6.0.0.1 (15.05.2023)</div>
    <ul>
        <li>Исправлено форматирование значений переменных в командах</li>
    </ul>

    <div>ModAutoControl 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Добавлены новые переменные, доступные в тексте команд</li>
        <li>Каналы, устройства и другие сущности можно выбирать из справочников</li>
        <li>Реализованы функции копирования и вставки триггеров</li>
    </ul>

    @**** ModDbExport ****@
    <h2 id="mod-db-export">Экспорт в БД</h2>
    <div>ModDbExport 6.0.0.2 (10.12.2023)</div>
    <ul>
        <li>Исправлено редактирование фильтра запроса</li>
        <li>Дополнен список доступных параметров запроса</li>
    </ul>

    <div>ModDbExport 6.0.0.1 (04.07.2023)</div>
    <ul>
        <li>Оптимизация исходного кода конфигурации модуля</li>
    </ul>

    <div>ModDbExport 6.0.0.0 (17.01.2023)</div>
    <ul>
        <li>Статус экспорта может быть привязан к каналу</li>
        <li>Добавлена функция экспорта текущих данных по таймеру</li>
        <li>Добавлены функции экспорта квитирования событий и команд</li>
        <li>В параметры запросов добавлен фильтр по объектам</li>
        <li>Очередь заданий модуля</li>
    </ul>

    @**** ModPerformanceMonitor ****@
    <h2 id="mod-performance-monitor">Монитор производительности</h2>
    <div>ModPerformanceMonitor 6.0.0.0 (21.03.2023)</div>
    <ul>
        <li>Первоначальная разработка модуля</li>
    </ul>

    @**** ModRapidGate ****@
    <h2 id="mod-rapid-gate">Быстрый шлюз</h2>
    <div>ModRapidGate 6.0.1.3 (10.12.2023)</div>
    <ul>
        <li>Исправлена ошибка при передаче квитирований</li>
    </ul>

    <div>ModRapidGate 6.0.1.2 (04.07.2023)</div>
    <ul>
        <li>Оптимизация исходного кода конфигурации модуля</li>
    </ul>

    <div>ModRapidGate 6.0.1.1 (02.04.2023)</div>
    <ul>
        <li>Изменена обработка команд</li>
        <li>Исправлен расчёт статистики для текущих данных</li>
    </ul>

    <div>ModRapidGate 6.0.1.0 (21.03.2023)</div>
    <ul>
        <li>Пакетная передача текущих данных</li>
    </ul>

    <div>ModRapidGate 6.0.0.1 (17.01.2023)</div>
    <ul>
        <li>Рефакторинг кода</li>
    </ul>

    <div>ModRapidGate 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Реализован режим автоматического скачивания архива с резервного сервера</li>
        <li>Передача событий при репликации архивов</li>
        <li>Передача квитирования событий</li>
        <li>Опция репликации только по команде</li>
        <li>Маска архивов для приёма и передачи</li>
        <li>Признак расчёта по формулам и генерации событий при передаче</li>
        <li>Проверка адреса сервера для защиты от зацикливания</li>
        <li>Управление шлюзами по коду команды без использования номера канала</li>
        <li>Очередь заданий модуля</li>
    </ul>

    @**** ModReplicationHelper ****@
    <h2 id="mod-replication-helper">Помощник репликации</h2>
    <div>ModReplicationHelper 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Первоначальная разработка модуля</li>
    </ul>
</div>
