@page "/ru/latest/version-history/webstation-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "История Вебстанции";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#webstation-app">Приложение Вебстанция</a></li>
        <li><a href="#plg-audit">Журнал аудита</a></li>
        <li><a href="#plg-chart">Графики</a></li>
        <li><a href="#plg-chart-pro">Графики Про</a></li>
        <li><a href="#plg-dashboard">Дэшборды</a></li>
        <li><a href="#plg-elastic-report">Гибкий отчёт</a></li>
        <li><a href="#plg-guard">Защитник</a></li>
        <li><a href="#plg-main">Основной плагин</a></li>
        <li><a href="#plg-map">Карты</a></li>
        <li><a href="#plg-notification">Плагин Уведомления</a></li>
        <li><a href="#plg-scheme">Схемы</a></li>
        <li><a href="#plg-sch-basic-comp">Основные компоненты схем</a></li>
        <li><a href="#plg-sch-extra-comp">Дополнительные компоненты схем</a></li>
        <li><a href="#plg-store">Магазин</a></li>
        <li><a href="#plg-web-page">Веб-страницы</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>История Вебстанции</h1>
    <h2 id="webstation-app">Приложение Вебстанция</h2>
    <div>ScadaWeb 6.1.2.2 (10.12.2023)</div>
    <ul>
        <li>Исправлена обработка авторизации</li>
        <li>Новые возможности модальных форм</li>
        <li>Изменения в CSS и JavaScript</li>
    </ul>

    <div>ScadaWeb 6.1.2.1 (25.09.2023)</div>
    <ul>
        <li>Исправлен перевод на странице выбора каналов</li>
    </ul>

    <div>ScadaWeb 6.1.2.0 (03.08.2023)</div>
    <ul>
        <li>Исправлен список объектов, доступных пользователю</li>
        <li>Изменения в общих классах</li>
    </ul>

    <div>ScadaWeb 6.1.1.0 (04.07.2023)</div>
    <ul>
        <li>Работает с новой конфигурацией экземпляра</li>
        <li>Поддержка журнала аудита</li>
        <li>Плагины могут добавлять JavaScript на главную страницу</li>
    </ul>

    <div>ScadaWeb 6.1.0.1 (15.05.2023)</div>
    <ul>
        <li>Поддержка автофокуса для модальных форм</li>
    </ul>

    <div>ScadaWeb 6.1.0.0 (21.03.2023)</div>
    <ul>
        <li>Поддержка внешних пользователей</li>
    </ul>

    <div>ScadaWeb 6.0.0.1 (17.01.2023)</div>
    <ul>
        <li>Изменения в общих классах JavaScript</li>
    </ul>

    <div>ScadaWeb 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Настройка приложения осуществляется через Администратор</li>
        <li>Поддержка временных зон</li>
        <li>Капча при входе в систему</li>
        <li>Возможность автоматического входа в систему</li>
        <li>Гибкая настройка внешнего вида</li>
    </ul>

    <h2 id="plg-audit">Журнал аудита</h2>
    <div>PlgAudit 6.0.0.0 (03.08.2023)</div>
    <ul>
        <li>Первоначальная разработка плагина</li>
    </ul>

    <h2 id="plg-chart">Графики</h2>
    <div>PlgChart 6.0.2.0 (03.08.2023)</div>
    <ul>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgChart 6.0.1.0 (04.07.2023)</div>
    <ul>
        <li>Поддержка журнала аудита</li>
        <li>Рефакторинг JavaScript</li>
    </ul>

    <div>PlgChart 6.0.0.1 (17.01.2023)</div>
    <ul>
        <li>Изменения в JavaScript</li>
    </ul>

    <div>PlgChart 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Добавлен параметр адресной строки, задающий архив для выбора данных</li>
        <li>Вывод наименования статуса канала после значения</li>
        <li>Разрыв графика при недостоверном статусе</li>
    </ul>

    <h2 id="plg-chart-pro">Графики Про</h2>
    <div>PlgChartPro 6.0.2.2 (10.12.2023)</div>
    <ul>
        <li>Исправлены ссылки на диалоговые страницы и API</li>
    </ul>

    <div>PlgChartPro 6.0.2.1 (25.09.2023)</div>
    <ul>
        <li>Исправлен перевод</li>
    </ul>

    <div>PlgChartPro 6.0.2.0 (03.08.2023)</div>
    <ul>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgChartPro 6.0.1.0 (04.07.2023)</div>
    <ul>
        <li>Поддержка журнала аудита</li>
        <li>Рефакторинг JavaScript</li>
    </ul>

    <div>PlgChartPro 6.0.0.3 (27.04.2023)</div>
    <ul>
        <li>Исправлена загрузка графика за прошедший период</li>
    </ul>

    <div>PlgChartPro 6.0.0.2 (02.04.2023)</div>
    <ul>
        <li>Исправлен цвет кнопки масштаба</li>
    </ul>

    <div>PlgChartPro 6.0.0.1 (17.01.2023)</div>
    <ul>
        <li>Изменения в JavaScript</li>
    </ul>

    <div>PlgChartPro 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Выбор профиля настроек графика</li>
        <li>Поддержка представлений, позволяющая вывести график с заданными аргументами</li>
        <li>Отображаются данные за будущее время, если они существуют</li>
        <li>Опция фиксированного диапазона по оси Y</li>
        <li>Опция цвета графика в соответствии со статусом канала</li>
    </ul>

    <h2 id="plg-dashboard">Дэшборды</h2>
    <div>PlgDashboard 6.0.1.0 (03.08.2023)</div>
    <ul>
        <li>Исправлено отображение длинных строк</li>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgDashboard 6.0.0.0 (04.07.2023)</div>
    <ul>
        <li>Ссылки на графики и отправка команд из виджетов текущих данных</li>
    </ul>

    <h2 id="plg-elastic-report">Гибкий отчёт</h2>
    <div>PlgElasticReport 6.0.2.0 (03.08.2023)</div>
    <ul>
        <li>Поддерживает загрузку шрифтов</li>
        <li>Обозначения фраз конвертированы в формат camel-casing</li>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgElasticReport 6.0.1.0 (04.07.2023)</div>
    <ul>
        <li>Конечная дата в аргументах отчёта на 1 день больше</li>
        <li>Поддержка журнала аудита</li>
    </ul>

    <div>PlgElasticReport 6.0.0.0 (15.05.2023)</div>
    <ul>
        <li>Поддержка формата XLSX</li>
        <li>Выбор архива как параметра отчёта</li>
        <li>Цвет текста устанавливается в соответствии со статусом данных</li>
        <li>Настройка стилей для формата XLSX с помощью XML-файла</li>
        <li>Добавлены новые возможности секций отчёта</li>
    </ul>

    <h2 id="plg-guard">Защитник</h2>
    <div>PlgGuard 6.0.1.0 (03.08.2023)</div>
    <ul>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgGuard 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Первоначальная разработка плагина</li>
    </ul>

    <h2 id="plg-main">Основной плагин</h2>
    <div>PlgMain 6.0.3.1 (10.12.2023)</div>
    <ul>
        <li>Исправлена ссылка на диалоговые страницы</li>
        <li>Окно событий отключается, если количество отображаемых событий равно 0</li>
    </ul>

    <div>PlgMain 6.0.3.0 (03.08.2023)</div>
    <ul>
        <li>Изменения в JavaScript API</li>
        <li>Исправлен запрос текущих данных для пустого списка каналов</li>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgMain 6.0.2.0 (04.07.2023)</div>
    <ul>
        <li>Поддержка журнала аудита</li>
        <li>Улучшена работа фильтров при использовании API плагина</li>
        <li>При запросе событий при необходимости загружается представление</li>
        <li>Рефакторинг JavaScript</li>
    </ul>

    <div>PlgMain 6.0.1.1 (15.05.2023)</div>
    <ul>
        <li>Изменены стили табличного представления</li>
        <li>Автофокус на форме команды</li>
    </ul>

    <div>PlgMain 6.0.1.0 (21.03.2023)</div>
    <ul>
        <li>Использует формат команды канала</li>
    </ul>

    <div>PlgMain 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Новый формат файлов табличных представлений</li>
        <li>На форме команды выводится сообщение об ошибке, полученное от сервера</li>
        <li>На форме команды выводится описание формата канала, если формат строковый</li>
        <li>Период времени отчётов задаётся с точностью до минут</li>
        <li>Выбор архива, по которому формируются отчёты</li>
        <li>Максимальный период отчётов задаётся в конфигурации</li>
    </ul>

    <h2 id="plg-map">Карты</h2>
    <div>PlgMap 6.0.0.0 (03.08.2023)</div>
    <ul>
        <li>Переключение между слоями плиток</li>
        <li>Настраиваемые значки маркеров</li>
        <li>Подписи к маркерам</li>
        <li>Кнопка Домой на карте</li>
        <li>Отображение движущихся объектов</li>
        <li>Отображение геометрических фигур</li>
    </ul>

    <h2 id="plg-notification">Плагин Уведомления</h2>
    <div>PlgNotification 6.0.1.0 (03.08.2023)</div>
    <ul>
        <li>Обозначения фраз конвертированы в формат camel-casing</li>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgNotification 6.0.0.0 (04.07.2023)</div>
    <ul>
        <li>Добавлена кнопка "Подтвердить все"</li>
    </ul>

    <h2 id="plg-scheme">Схемы</h2>
    <div>PlgScheme 6.0.2.0 (03.08.2023)</div>
    <ul>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgScheme 6.0.1.0 (04.07.2023)</div>
    <ul>
        <li>Поддержка журнала аудита</li>
        <li>Исправлена загрузка заголовка схемы</li>
        <li>Рефакторинг JavaScript</li>
    </ul>

    <div>PlgScheme 6.0.0.1 (15.05.2023)</div>
    <ul>
        <li>Исправлен стиль компонентов схемы</li>
    </ul>

    <div>PlgScheme 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Схема располагается горизонтально по центру</li>
    </ul>

    <h2 id="plg-sch-basic-comp">Основные компоненты схем</h2>
    <div>PlgSchBasicComp 6.0.2.0 (03.08.2023)</div>
    <ul>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgSchBasicComp 6.0.1.0 (04.07.2023)</div>
    <ul>
        <li>Рефакторинг JavaScript</li>
    </ul>

    <div>PlgSchBasicComp 6.0.0.1 (17.01.2023)</div>
    <ul>
        <li>Исправлена запись состояния компонента Ссылка</li>
    </ul>

    <div>PlgSchBasicComp 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Портирование плагина на новую версию</li>
    </ul>

    <h2 id="plg-sch-extra-comp">Дополнительные компоненты схем</h2>
    <div>PlgSchExtraComp 6.0.1.0 (03.08.2023)</div>
    <ul>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgSchExtraComp 6.0.0.1 (04.07.2023)</div>
    <ul>
        <li>Исправлена ошибка при отображении представления во фрейме</li>
    </ul>

    <div>PlgSchExtraComp 6.0.0.0 (17.01.2023)</div>
    <ul>
        <li>Портирование плагина на новую версию</li>
    </ul>

    <h2 id="plg-store">Магазин</h2>
    <div>PlgStore 6.0.0.0 (03.08.2023)</div>
    <ul>
        <li>Поиск по модулям</li>
    </ul>

    <h2 id="plg-web-page">Веб-страницы</h2>
    <div>PlgWebPage 6.0.2.0 (03.08.2023)</div>
    <ul>
        <li>Предоставляет описание плагина</li>
    </ul>

    <div>PlgWebPage 6.0.1.0 (04.07.2023)</div>
    <ul>
        <li>Поддержка журнала аудита</li>
    </ul>

    <div>PlgWebPage 6.0.0.0 (03.12.2022)</div>
    <ul>
        <li>Портирование плагина на новую версию</li>
    </ul>
</div>
