@page "/zh/6.0/software-overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "介绍";
}

<h1>介绍</h1>
Rapid SCADA是一种可自动收集与控制器通信的数据，处理数据并向调度员提供信息的软件。Rapid SCADA支持常用的通信标准，如Modbus协议和OPC，支持使用大量各种设备。并可以通过开发其他驱动程序来扩展支持的设备列表。
