@page "/zh/6.0/software-overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "介绍";
}
 
<nav class="doc-toc">
    <div class="h6">在这个页面上</div>
    <hr>
    <ul>
        <li><a href="#about">Rapid SCADA是什么</a></li>
        <li><a href="#key-features">主要特点</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>介绍</h1>
    <h2 id="about">Rapid SCADA是什么？</h2>
    <p>Rapid SCADA是一个开源的工业自动化平台。开箱即用的软件为快速创建监控和控制系统提供了工具。在大规模实施的场景下，Rapid SCADA被用作为客户开发定制SCADA和MES解决方案的核心。</p>
    <p>开源是软件透明度和安全的关键 。源代码可在 <a href="https://github.com/RapidScada/scada-v6" target="_blank">GitHub</a> 上找到。 Rapid SCADA 在 <a href="http://en.wikipedia.org/wiki/Apache_License" target="_blank">Apache License 2.0</a>  下发布， 允许创建新的衍生软件产品。</p>
    <p>Rapid SCADA 是创建大型分布式工业自动化系统的完美选择。 Rapid SCADA 可以运行在服务器，嵌入式计算机和云中运行。 Rapid SCADA 节点之间交换信息，并与外部数据库实时交互。</p>
    <p>使用 Rapid SCADA 可以开发以下主要类型的系统:</p>
    <ul>
        <li>工业自动化系统和工业物联网系统。</li>
        <li>过程控制系统。</li>
        <li>能源核算系统。</li>
    </ul>

    <h2 id="key-features">主要特点</h2>
    <table class="table table-hover">
        <tr class="table-secondary">
            <th colspan="2">常规</th>
        </tr>
        <tr>
            <td>支持的操作系统系列</td>
            <td>Windows, Linux</td>
        </tr>
        <tr>
            <td>无限数量的频道、标签和设备</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>项目的远程配置和维护</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>与GIT同步协作完成项目</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>免费和付费的技术支持</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">安全</th>
        </tr>
        <tr>
            <td>HTTPS, SSL</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>暴力攻击保护</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>登录验证码</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>连接监控</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>密码加密</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>用户活动日志记录</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">冗余</th>
        </tr>
        <tr>
            <td>具有自动数据同步功能的主服务器和备份服务器</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>具有自动数据同步功能的中央和远程服务器</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>镜像</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">归档</th>
        </tr>
        <tr>
            <td>数据存储</td>
            <td>Files, PostgreSQL, InfluxDB</td>
        </tr>
        <tr>
            <td>独立归档的最大数量</td>
            <td>31</td>
        </tr>
        <tr>
            <td>周期性写入</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>发生变化写入</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">连接</th>
        </tr>
        <tr>
            <td>与数据库集成</td>
            <td>Oracle, MS SQL, MySQL, PostgreSQL</td>
        </tr>
        <tr>
            <td>工业协议</td>
            <td>OPC UA, OPC Classic, Modbus, MQTT, SNMP, etc.</td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">编程</th>
        </tr>
        <tr>
            <td>REST API</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>带有源码的示例模块</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>开发人员文档</td>
            <td><strong>&check;</strong></td>
        </tr>
    </table>
</div>
