@page "{key}"
@model MimicEditModel
@{
    Layout = "_BasicLayout";
}

@section Styles {
    <link href="~/plugins/MimicEditor/css/mimic-edit.min.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/components/splitter.js" asp-append-version="true"></script>
    <script src="~/plugins/Mimic/js/mimic-common.js" asp-append-version="true"></script>
    <script src="~/plugins/Mimic/js/mimic-model.js" asp-append-version="true"></script>
    <script src="~/plugins/Mimic/js/mimic-render.js" asp-append-version="true"></script>
    <script src="~/plugins/MimicEditor/js/mimic-edit.js" asp-append-version="true"></script>
    <script>
        editorKey = "@Model.EditorKey";
    </script>
}

@if (Model.HasError)
{
    <div class="box-center fs-2 text-danger">
        @Model.ErrorMessage
    </div>
    return;
}

<div id="divToolbar"></div>
<div id="divMain">
    <div id="divLeftPanel"></div>
    <div id="divSplitter" class="splitter vert"></div>
    <div id="divMimicWrapper"></div>
</div>
