@page "/en/latest/configuration/device-polling"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Device Polling";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#line-options">Communication Line Options</a></li>
        <li><a href="#device-options">Device Options</a></li>
        <li><a href="#sync-settings">Synchronizing Settings</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Device Polling</h1>
    <p>Interaction with devices is performed by the Communicator application, which requests data and sends commands to devices, acting as a master or slave. The polled devices are controllers, input/output modules, metering devices, as well as external data sources, which are also conventionally called devices. All devices belong to communication lines that are independent and operate in parallel.</p>
    <p>Devices are polled using various communication protocols, such as Modbus, OPC or MQTT. Each protocol is implemented by a corresponding driver. Some drivers are installed by default during the Rapid SCADA installation process. Other drivers can be installed additionally.</p>

    <h2 id="line-options">Communication Line Options</h2>
    <p>Figure 1 shows an example of setting up the main options of a communication line. Pay attention to the communication channel settings. A communication channel defines a physical interface or network protocol used to poll devices. The following communication channels are supported: Serial port, TCP client, TCP server, UDP and MQTT client. In some cases, if device connection is implemented directly by a driver (for example, OPC), the communication channel should be left unspecified.</p>
    
    <figure class="figure">
        <img src="device-polling-files/line-options-en.png" class="figure-img img-fluid border" alt="Main line options" />
        <figcaption class="figure-caption">Figure 1. Main line options</figcaption>
    </figure>

    <p>Custom line options are specific to the driver being used. They are configured using a user interface implemented by the driver, or can be set according to instructions for a certain device type.</p>

    <h2 id="device-options">Device Options</h2>
    <p>In the <strong>Device Polling</strong> section, individual polling options are configured for each device related to the communication line.</p>

    <figure class="figure">
        <img src="device-polling-files/device-options-en.png" class="figure-img img-fluid" alt="Device polling options" />
        <figcaption class="figure-caption">Figure 2. Device polling options</figcaption>
    </figure>

    <p>The table below clarifies the device polling options.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Option</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Активно</td>
                <td>Означает, что устройство опрашивается</td>
            </tr>
            <tr>
                <td>Опрос только по команде</td>
                <td>Чтобы выполнить опрос устройства, необходимо отправить команду</td>
            </tr>
            <tr>
                <td>Привязано к базе конфигурации</td>
                <td>Если параметр включен, теги устройства привязываются к каналам базы конфигурации, и полученные данные отправляются приложению Сервер</td>
            </tr>
            <tr>
                <td>Номер</td>
                <td>Номер устройства. Должен соответствовать номеру устройства в базе конфигурации</td>
            </tr>
            <tr>
                <td>Наименование</td>
                <td>Наименование устройства</td>
            </tr>
            <tr>
                <td>Драйвер</td>
                <td>Драйвер, который реализует протокол обмена данными, поддерживаемый устройством</td>
            </tr>
            <tr>
                <td>Числовой адрес</td>
                <td>Адрес устройства в виде числа</td>
            </tr>
            <tr>
                <td>Строковый адрес или имя сервера</td>
                <td>Адрес устройства в виде строки. Обычно это IP-адрес</td>
            </tr>
            <tr>
                <td>Таймаут</td>
                <td>Длительность ожидания ответа от устройства в миллисекундах</td>
            </tr>
            <tr>
                <td>Пауза</td>
                <td>Задержка после приёма данных в миллисекундах</td>
            </tr>
            <tr>
                <td>Время и Период</td>
                <td>Если оба параметра нулевые, то опрос устройства производится непрерывно циклически. Если указано время, а период равен нулю, то опрос выполняется один раз в сутки в указанное время. Если период не нулевой, то опрос выполняется периодически, начиная с заданного времени</td>
            </tr>
            <tr>
                <td>Командная строка</td>
                <td>Дополнительные параметры, которые определяются драйвером и указаны в его описании</td>
            </tr>
            <tr>
                <td>Параметры</td>
                <td>Аналогично командной строке, но более структурированы</td>
            </tr>
        </tbody>
    </table>

    <p>Если устройство имеет специфичные для данного типа устройств параметры, то для их настройки нужно нажать кнопку <strong>Свойства</strong>, чтобы открыть окно настроек, предоставляемое драйвером. Кнопка <strong>Сброс</strong> возвращает параметры опроса устройства к значениям по умолчанию, которые определяются выбранным драйром.</p>

    <h2 id="sync-settings">Synchronizing Settings</h2>
    <p>Функция синхронизации позволяет создать линии связи и устройства в настройках Коммуникатора на основе данных из таблиц <strong>Линии связи</strong> и <strong>Устройства</strong> базы конфигурации. И наоборот, заполнить таблицы базы конфигурации на основе настроек Коммуникатора. Чтобы вызвать диалог синхронизации, в проводнике проекта щёлкните правой кнопкой мыши на узле <strong>Линии связи</strong> или на узле конкретной линии связи, затем в контекстном меню выберите пункт <strong>Синхронизировать</strong>.</p>

    <figure class="figure">
        <img src="device-polling-files/line-device-sync-en.png" class="figure-img img-fluid" alt="Synchronize line and devices" />
        <figcaption class="figure-caption">Figure 3. Synchronize line and devices</figcaption>
    </figure>

</div>
