@page "/ru/5.8/software-configuration/configuration-basics"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Основы настройки";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#creating-project">Создание проекта</a></li>
        <li><a href="#project-structure">Структура проекта</a></li>
        <li><a href="#configuration-sequence">Общая последовательность настройки</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Основы настройки</h1>

    <h2 id="creating-project">Создание проекта</h2>
    <p>Настройка Rapid SCADA выполняется в рамках проектов. Проект представляет собой набор файлов в различных форматах, которые сохраняются в директории проекта. Для создания и редактирования проектов предназначено приложение Администратор. При запуске Администратора открывается <em>Стартовая страница</em>, с помощью которой можно создать новый или открыть существующий проект (рис. 1).</p>

    <figure class="figure">
        <img src="configuration-basics-files/admin_start_page_ru.png" class="figure-img img-fluid border" alt="Стартовая страница" />
        <figcaption class="figure-caption">Рис. 1. Стартовая страница</figcaption>
    </figure>

    <figure class="figure">
        <img src="configuration-basics-files/admin_new_proj_ru.png" class="figure-img img-fluid" alt="Форма создания проекта" />
        <figcaption class="figure-caption">Рис. 2. Форма создания проекта</figcaption>
    </figure>

    <p>При создании проекта (рис. 2) необходимо обратить внимание на используемый шаблон. Шаблон определяет первоначальную конфигурацию, которая добавляется в проект. В качестве шаблона можно использовать другой существующий проект.</p>

    <h2 id="project-structure">Структура проекта</h2>
    <p>Конфигурация Rapid SCADA представлена в проводнике проекта, который расположен в левой части главного окна Администратора. Проект состоит из следующих основных частей (рис. 3):</p>

    <ul>
        <li>База конфигурации - это структурированное описание всей автоматизированной системы. База конфигурации определяет систему в целом, а детальные настройки относятся к соответствующим приложениям Rapid SCADA.</li>
        <li>Интерфейс. Данный раздел конфигурации содержит файлы представлений и конфигурационные файлы отчётов. Примеры представлений: мнемосхемы, таблицы, карты и дэшборды.</li>
        <li>Настройки приложения Сервер.</li>
        <li>Настройки приложения Коммуникатор.</li>
        <li>Настройки веб-приложения Вебстанция. Настройки Вебстанции удобнее редактировать через веб-интерфейс, а затем загружать в проект.</li>
    </ul>

    <figure class="figure">
        <img src="configuration-basics-files/proj_struct_ru.png" class="figure-img img-fluid border" alt="Структура проекта" />
        <figcaption class="figure-caption">Рис. 3. Структура проекта</figcaption>
    </figure>

    <p>Экземпляр - это компьютер, на котором развернут программный комплекс Rapid SCADA. Один проект может включать в себя несколько экземпляров Rapid SCADA, между которыми происходит обмен данными. Приложение Администратор поддерживает подключение к удалённым серверам для скачивания и передачи конфигурации, поэтому настройка Rapid SCADA может осуществляться с одной рабочей станции.</p>

    <h2 id="configuration-sequence">Общая последовательность настройки</h2>
    <p>Начиная работу с Rapid SCADA, рекомендуется придерживаться общей последовательности настройки, приведённой ниже. Получив определённый опыт работы с комплексом, лучше поняв механизмы взаимодействия приложений, можно варьировать последовательность настройки для удобства.</p>
    <ol>
        <li>Создать новый или открыть существующий проект.</li>
        <li>Добавить объекты, линии связи и КП в базу конфигурации. Для создания линий связи и КП рекомендуется использовать мастеры, которые вызываются с помощью кнопок <img src="../common-images/add_line.png" /> и <img src="../common-images/add_device.png" />, расположенных на панели инструментов Администратора.</li>
        <li>Проверить, что добавленные линии связи и КП присутствуют в настройках Коммуникатора. При необходимости импортировать их, выбрав пункт меню <em>Импортировать</em> в контекстном меню узла <em>Линии связи</em> проводника проекта.</li>
        <li><a href="communication-with-devices">Настроить обмен данными с устройствами</a> в Коммуникаторе.</li>
        <li>Создать входные каналы и каналы управления в базе конфигурации. Рекомендуется использовать мастер, вызываемый кнопкой <img src="../common-images/create_cnls.png" />.</li>
        <li><a href="creating-views">Создать представления</a> и прописать их в таблице <em>Интерфейс</em> базы конфигурации.</li>
        <li>Передать проект на сервер с помощью кнопки <img src="../common-images/upload.png" />.</li>
    </ol>
</div>
