@page "/en/latest/version-history/administrator-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Administrator History";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#administrator-app">Administrator Application</a></li>
        <li><a href="#ext-comm-config">Communicator Configurator</a></li>
        <li><a href="#ext-dep-agent">Deployment with Agent</a></li>
        <li><a href="#ext-dep-postgre-sql">Deployment to Postgre SQL</a></li>
        <li><a href="#ext-project-tools">Project Tools</a></li>
        <li><a href="#ext-server-config">Server Configurator</a></li>
        <li><a href="#ext-table-editor">Table Editor</a></li>
        <li><a href="#ext-web-config">Webstation Configurator</a></li>
        <li><a href="#ext-wiren-board">Wiren Board</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Administrator History</h1>
    <h2 id="administrator-app">Administrator Application</h2>
    <div>ScadaAdmin 6.1.1.1 (December 10, 2023)</div>
    <ul>
        <li>Fixed creation of channel limits</li>
    </ul>

    <div>ScadaAdmin 6.1.1.0 (September 25, 2023)</div>
    <ul>
        <li>Added the Code column to the Channels table</li>
        <li>Can reload the configuration database</li>
        <li>Increased length of the Arguments column in the Views table</li>
        <li>Changes in common classes</li>
    </ul>

    <div>ScadaAdmin 6.1.0.3 (August 03, 2023)</div>
    <ul>
        <li>Code refactoring</li>
    </ul>

    <div>ScadaAdmin 6.1.0.2 (May 15, 2023)</div>
    <ul>
        <li>Instance status form remains responsive if Agent is not available</li>
    </ul>

    <div>ScadaAdmin 6.1.0.1 (April 02, 2023)</div>
    <ul>
        <li>UI fixes</li>
    </ul>

    <div>ScadaAdmin 6.1.0.0 (March 21, 2023)</div>
    <ul>
        <li>Uses new configuration database and application protocol</li>
    </ul>

    <div>ScadaAdmin 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Updated control for editing DB connection options</li>
    </ul>

    <div>ScadaAdmin 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Supports extensions</li>
        <li>Indicates a progress of configuration transfer</li>
        <li>Added a feature to import configuration database tables from CSV files</li>
    </ul>

    <h2 id="ext-comm-config">Communicator Configurator</h2>
    <div>ExtCommConfig 6.0.1.2 (July 04, 2023)</div>
    <ul>
        <li>Added inactive device icon</li>
    </ul>

    <div>ExtCommConfig 6.0.1.1 (April 02, 2023)</div>
    <ul>
        <li>Fixed layout of controls</li>
    </ul>

    <div>ExtCommConfig 6.0.1.0 (March 21, 2023)</div>
    <ul>
        <li>Added new application options</li>
    </ul>

    <div>ExtCommConfig 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>

    <h2 id="ext-dep-agent">Deployment with Agent</h2>
    <div>ExtDepAgent 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>

    <h2 id="ext-dep-postgre-sql">Deployment to Postgre SQL</h2>
    <div>ExtDepPostgreSql 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>

    <h2 id="ext-project-tools">Project Tools</h2>
    <div>ExtProjectTools 6.0.1.0 (September 25, 2023)</div>
    <ul>
        <li>Object map</li>
        <li>Channel cloning form updated</li>
        <li>Encrypted password is hidden</li>
    </ul>

    <div>ExtProjectTools 6.0.0.2 (March 21, 2023)</div>
    <ul>
        <li>BOM signature is written when exporting a table in CSV format</li>
    </ul>

    <div>ExtProjectTools 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Added password encryption form</li>
    </ul>

    <div>ExtProjectTools 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>

    <h2 id="ext-server-config">Server Configurator</h2>
    <div>ExtServerConfig 6.0.1.1 (May 15, 2023)</div>
    <ul>
        <li>Fixed module interface initialization</li>
    </ul>

    <div>ExtServerConfig 6.0.1.0 (March 21, 2023)</div>
    <ul>
        <li>Added new application options</li>
    </ul>

    <div>ExtServerConfig 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Added an option whether to use archival channel status</li>
    </ul>

    <div>ExtServerConfig 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>

    <h2 id="ext-table-editor">Table Editor</h2>
    <div>ExtTableEditor 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>

    <h2 id="ext-web-config">Webstation Configurator</h2>
    <div>ExtWebConfig 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>

    <h2 id="ext-wiren-board">Wiren Board</h2>
    <div>ExtWirenBoard 6.0.0.1 (September 25, 2023)</div>
    <ul>
        <li>Code refactoring</li>
    </ul>

    <div>ExtWirenBoard 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the extension</li>
    </ul>
</div>
