@page "/en/latest/version-history/agent-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Agent History";
}

<h1>Agent History</h1>
<div>ScadaAgent 6.1.0.1 (December 10, 2023)</div>
<ul>
    <li>Fixed temporary directory when configuration is uploaded to another instance</li>
</ul>

<div>ScadaAgent 6.1.0.0 (March 21, 2023)</div>
<ul>
    <li>Uses new application protocol</li>
</ul>

<div>ScadaAgent 6.0.0.0 (December 03, 2022)</div>
<ul>
    <li>Reverse connection, meaning that the Agent service initiates the connection</li>
    <li>The Agent's login and password are specified in the application configuration</li>
    <li>Supports sending commands to Communicator</li>
    <li>Reads logs of all applications and modules</li>
</ul>
