@page "/en/6.1/version-history/webstation-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Webstation History";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#webstation-app">Webstation Application</a></li>
        <li><a href="#plg-audit">Audit Log</a></li>
        <li><a href="#plg-chart">Chart</a></li>
        <li><a href="#plg-chart-pro">Chart Pro</a></li>
        <li><a href="#plg-dashboard">Dashboard</a></li>
        <li><a href="#plg-elastic-report">Elastic Report</a></li>
        <li><a href="#plg-guard">Guard</a></li>
        <li><a href="#plg-main">Main Plugin</a></li>
        <li><a href="#plg-notification">Notification Plugin</a></li>
        <li><a href="#plg-scheme">Schemes</a></li>
        <li><a href="#plg-sch-basic-comp">Basic Scheme Components</a></li>
        <li><a href="#plg-sch-extra-comp">Extra Scheme Components</a></li>
        <li><a href="#plg-store">Store</a></li>
        <li><a href="#plg-web-page">Web Pages</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Webstation History</h1>
    <h2 id="webstation-app">Webstation Application</h2>
    <div>ScadaWeb 6.1.2.2 (December 10, 2023)</div>
    <ul>
        <li>Fixed authorization handling</li>
        <li>New features of modal forms</li>
        <li>Changes in CSS and JavaScript</li>
    </ul>

    <div>ScadaWeb 6.1.2.1 (September 25, 2023)</div>
    <ul>
        <li>Fixed translation on the channel selection page</li>
    </ul>

    <div>ScadaWeb 6.1.2.0 (August 03, 2023)</div>
    <ul>
        <li>Fixed list of objects available to user</li>
        <li>Changes in common classes</li>
    </ul>

    <div>ScadaWeb 6.1.1.0 (July 04, 2023)</div>
    <ul>
        <li>Works with new instance configuration</li>
        <li>Supports audit log</li>
        <li>Plugins can add JavaScript to the main page</li>
    </ul>

    <div>ScadaWeb 6.1.0.1 (May 15, 2023)</div>
    <ul>
        <li>Autofocus support for modal forms</li>
    </ul>

    <div>ScadaWeb 6.1.0.0 (March 21, 2023)</div>
    <ul>
        <li>Support for external users</li>
    </ul>

    <div>ScadaWeb 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Changes in common JavaScript classes</li>
    </ul>

    <div>ScadaWeb 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>The web application is configured using the Administrator application</li>
        <li>Timezone support</li>
        <li>Captcha when logging in</li>
        <li>Automatic login option</li>
        <li>Flexible appearance customization</li>
    </ul>

    <h2 id="plg-audit">Audit Log</h2>
    <div>PlgAudit 6.0.0.0 (August 03, 2023)</div>
    <ul>
        <li>Initial development of the plugin</li>
    </ul>

    <h2 id="plg-chart">Chart</h2>
    <div>PlgChart 6.0.2.0 (August 03, 2023)</div>
    <ul>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgChart 6.0.1.0 (July 04, 2023)</div>
    <ul>
        <li>Supports audit log</li>
        <li>JavaScript refactoring</li>
    </ul>

    <div>PlgChart 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Changes in JavaScript</li>
    </ul>

    <div>PlgChart 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Added an address bar parameter to specify an archive for selecting data</li>
        <li>Channel status is displayed after a channel value</li>
        <li>Trend breaks when the data status is unreliable</li>
    </ul>

    <h2 id="plg-chart-pro">Chart Pro</h2>
    <div>PlgChartPro 6.0.2.2 (December 10, 2023)</div>
    <ul>
        <li>Fixed links to dialog pages and API</li>
    </ul>

    <div>PlgChartPro 6.0.2.1 (September 25, 2023)</div>
    <ul>
        <li>Translation fixed</li>
    </ul>

    <div>PlgChartPro 6.0.2.0 (August 03, 2023)</div>
    <ul>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgChartPro 6.0.1.0 (July 04, 2023)</div>
    <ul>
        <li>Supports audit log</li>
        <li>JavaScript refactoring</li>
    </ul>

    <div>PlgChartPro 6.0.0.3 (April 27, 2023)</div>
    <ul>
        <li>Fixed loading chart for the past period</li>
    </ul>

    <div>PlgChartPro 6.0.0.2 (April 02, 2023)</div>
    <ul>
        <li>Fixed zoom button color</li>
    </ul>

    <div>PlgChartPro 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Changes in JavaScript</li>
    </ul>

    <div>PlgChartPro 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Chart configuration profile is selectable</li>
        <li>Supports views to display a chart with given arguments</li>
        <li>Displays data for the future if data exists</li>
        <li>Y-axis fixed range option</li>
        <li>Option to display trend color according to channel status</li>
    </ul>

    <h2 id="plg-dashboard">Dashboard</h2>
    <div>PlgDashboard 6.0.1.0 (August 03, 2023)</div>
    <ul>
        <li>Fixed display of long strings</li>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgDashboard 6.0.0.0 (July 04, 2023)</div>
    <ul>
        <li>Links to charts and sending commands from current data widgets</li>
    </ul>

    <h2 id="plg-elastic-report">Elastic Report</h2>
    <div>PlgElasticReport 6.0.2.0 (August 03, 2023)</div>
    <ul>
        <li>Supports loading fonts</li>
        <li>Phrase names converted to camel-casing format</li>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgElasticReport 6.0.1.0 (July 04, 2023)</div>
    <ul>
        <li>End date in report arguments is 1 day more</li>
        <li>Supports audit log</li>
    </ul>

    <div>PlgElasticReport 6.0.0.0 (May 15, 2023)</div>
    <ul>
        <li>Supports XLSX format</li>
        <li>Archive can be selected as a report parameter</li>
        <li>Text color is set according to data status</li>
        <li>Styles for XLSX format are configured using XML file</li>
        <li>Added new features of report sections</li>
    </ul>

    <h2 id="plg-guard">Guard</h2>
    <div>PlgGuard 6.0.1.0 (August 03, 2023)</div>
    <ul>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgGuard 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Initial development of the plugin</li>
    </ul>

    <h2 id="plg-main">Main Plugin</h2>
    <div>PlgMain 6.0.3.1 (December 10, 2023)</div>
    <ul>
        <li>Fixed link to dialog pages</li>
        <li>Event window is disabled if the number of displayed events is 0</li>
    </ul>

    <div>PlgMain 6.0.3.0 (August 03, 2023)</div>
    <ul>
        <li>Changes in JavaScript API</li>
        <li>Fixed current data request for empty channel list</li>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgMain 6.0.2.0 (July 04, 2023)</div>
    <ul>
        <li>Supports audit log</li>
        <li>Improved filters when using plugin API</li>
        <li>When requesting events, a view is loaded if necessary</li>
        <li>JavaScript refactoring</li>
    </ul>

    <div>PlgMain 6.0.1.1 (May 15, 2023)</div>
    <ul>
        <li>Table view styles changed</li>
        <li>Autofocus on the command form</li>
    </ul>

    <div>PlgMain 6.0.1.0 (March 21, 2023)</div>
    <ul>
        <li>Uses channel command format</li>
    </ul>

    <div>PlgMain 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>New file format of table views</li>
        <li>The command form displays an error message received from the server</li>
        <li>The command form displays a description of the channel format, if the format is a string</li>
        <li>Reporting period can be specified up to minutes</li>
        <li>An archive for which a report is generated can be selected</li>
        <li>The maximum reporting period is specified in the configuration</li>
    </ul>

    <h2 id="plg-map">Map</h2>
    <div>PlgMap 6.0.0.0 (August 03, 2023)</div>
    <ul>
        <li>Switch between tile layers</li>
        <li>Customizable marker icons</li>
        <li>Marker labels</li>
        <li>Home button on a map</li>
        <li>Displays moving objects</li>
        <li>Displays geometric shapes</li>
    </ul>

    <h2 id="plg-notification">Notification Plugin</h2>
    <div>PlgNotification 6.0.1.0 (August 03, 2023)</div>
    <ul>
        <li>Phrase names converted to camel-casing format</li>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgNotification 6.0.0.0 (July 04, 2023)</div>
    <ul>
        <li>Added the Ack All button</li>
    </ul>

    <h2 id="plg-scheme">Schemes</h2>
    <div>PlgScheme 6.0.2.0 (August 03, 2023)</div>
    <ul>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgScheme 6.0.1.0 (July 04, 2023)</div>
    <ul>
        <li>Supports audit log</li>
        <li>Fixed loading scheme title</li>
        <li>JavaScript refactoring</li>
    </ul>

    <div>PlgScheme 6.0.0.1 (May 15, 2023)</div>
    <ul>
        <li>Fixed scheme component style</li>
    </ul>

    <div>PlgScheme 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Scheme is horizontally centered</li>
    </ul>

    <h2 id="plg-sch-basic-comp">Basic Scheme Components</h2>
    <div>PlgSchBasicComp 6.0.2.0 (August 03, 2023)</div>
    <ul>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgSchBasicComp 6.0.1.0 (July 04, 2023)</div>
    <ul>
        <li>JavaScript refactoring</li>
    </ul>

    <div>PlgSchBasicComp 6.0.0.1 (January 17, 2023)</div>
    <ul>
        <li>Fixed writing state of Link component</li>
    </ul>

    <div>PlgSchBasicComp 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Porting the plugin to the new version</li>
    </ul>

    <h2 id="plg-sch-extra-comp">Extra Scheme Components</h2>
    <div>PlgSchExtraComp 6.0.1.0 (August 03, 2023)</div>
    <ul>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgSchExtraComp 6.0.0.1 (July 04, 2023)</div>
    <ul>
        <li>Fixed a bug with displaying a view in a frame</li>
    </ul>

    <div>PlgSchExtraComp 6.0.0.0 (January 17, 2023)</div>
    <ul>
        <li>Porting the plugin to the new version</li>
    </ul>

    <h2 id="plg-store">Store</h2>
    <div>PlgStore 6.0.0.0 (August 03, 2023)</div>
    <ul>
        <li>Module search</li>
    </ul>

    <h2 id="plg-web-page">Web Pages</h2>
    <div>PlgWebPage 6.0.2.0 (August 03, 2023)</div>
    <ul>
        <li>Provides plugin description</li>
    </ul>

    <div>PlgWebPage 6.0.1.0 (July 04, 2023)</div>
    <ul>
        <li>Supports audit log</li>
    </ul>

    <div>PlgWebPage 6.0.0.0 (December 03, 2022)</div>
    <ul>
        <li>Porting the plugin to the new version</li>
    </ul>
</div>
