@page "/zh/6.0/installation/system-requirements"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "系统要求";
}

<h1>系统要求</h1>
<h2>服务器软件要求</h2>
<p>Windows:</p>
<ul>
    <li>操作系统: 微软 Windows Server 2016/2019/2022, 微软 Windows 10/11。</li>
    <li>.NET 运行时 6.0。</li>
    <li>部署 Web 应用程序需要 Microsoft IIS。</li>
</ul>

<p>Linux:</p>
<ul>
    <li>操作系统: Ubuntu (recommended), Alpine, CentOS, Debian, Fedora, OpenSUSE, Red Hat等。</li>
    <li>.NET 运行时 6.0.</li>
    <li>部署 Web 应用程序需要 Nginx </li>
</ul>

<h2>服务器硬件要求</h2>
<p> 服务器的硬件配置取决于自动化系统的规模。最低配置由操作系统要求确定。估计所需硬盘空间的方法在“存档”部分中进行了描述。</p>
<p> Rapid SCADA 使用自己的内置数据库管理系统，因此不需要安装第三方DBMS。该软件可以在物理机或虚拟机上运行。</p>

<h2>工作站或平板要求</h2>
<ul>
    <li>最新的Chrome，Firefox，Safari或Edge浏览器。</li>
    <li>需要 Microsoft Office 或 LibreOffice 才能查看报表。</li>
</ul>
