@page "/zh/6.0/version-history/administrator-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "管理员版本历史";
}

<nav class="doc-toc">
    <div class="h6">在这个页面上</div>
    <hr>
    <ul>
        <li><a href="#administrator-app">管理员应用</a></li>
        <li><a href="#ext-comm-config">通信器配置</a></li>
        <li><a href="#ext-dep-agent">使用代理进行部署</a></li>
        <li><a href="#ext-dep-postgre-sql">部署到 Postgre SQL</a></li>
        <li><a href="#ext-project-tools">项目工具</a></li>
        <li><a href="#ext-server-config">服务器配置器</a></li>
        <li><a href="#ext-table-editor">表格编辑器</a></li>
        <li><a href="#ext-web-config">网站配置器</a></li>
        <li><a href="#ext-wiren-board">线板</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>管理员版本历史</h1>
    <h2 id="administrator-app">管理员应用</h2>
    <div>ScadaAdmin 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>支持扩展</li>
        <li>根据通道状态显示趋势颜色的选项</li>
        <li>添加了从 CSV 文件导入配置数据库表的功能</li>
    </ul>

    <h2 id="ext-comm-config">通讯器配置器</h2>
    <div>ExtCommConfig 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>

    <h2 id="ext-dep-agent">使用代理进行部署</h2>
    <div>ExtDepAgent 6.0.0.0 (2022年12月03)</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>

    <h2 id="ext-dep-postgre-sql">部署到 Postgre SQL</h2>
    <div>ExtDepPostgreSql 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>

    <h2 id="ext-project-tools">项目工具</h2>
    <div>ExtProjectTools 6.0.0.1 (2023年1月 17 )</div>
    <ul>
        <li>添加了密码加密表单</li>
    </ul>

    <div>ExtProjectTools 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>

    <h2 id="ext-server-config">服务器 配置器</h2>
    <div>ExtServerConfig 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>

    <h2 id="ext-table-editor">表格编辑器</h2>
    <div>ExtTableEditor 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>

    <h2 id="ext-web-config">网站配置器</h2>
    <div>ExtWebConfig 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>

    <h2 id="ext-wiren-board">线板</h2>
    <div>ExtWirenBoard 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>扩展的初步开发</li>
    </ul>
</div>
