@page "/zh/6.0/version-history/agent-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "代理版本历史";
}

<h1>代理版本历史</h1>
<div>ScadaAgent 6.0.0.0 (2022年12月 03 )</div>
<ul>
    <li>反向连接, 表示代理服务启动连接</li>
    <li>代理的登录名和密码在应用程序配置中指定</li>
    <li>支持向通信器发送命令</li>
    <li>读取所有应用程序和模块的日志</li>
</ul>
