@page "/zh/6.0/version-history/webstation-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "网站版本历史";
}

<nav class="doc-toc">
    <div class="h6">在此页面上</div>
    <hr>
    <ul>
        <li><a href="#webstation-app">网站应用</a></li>
        <li><a href="#plg-chart">图表</a></li>
        <li><a href="#plg-chart-pro">Chart Pro</a></li>
        <li><a href="#plg-guard">Guard</a></li>
        <li><a href="#plg-main">主插件</a></li>
        <li><a href="#plg-scheme">方案</a></li>
        <li><a href="#plg-sch-basic-comp">基本方案组件</a></li>
        <li><a href="#plg-sch-extra-comp">额外方案组件</a></li>
        <li><a href="#plg-web-page">网页</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>网站版本历史</h1>
    <h2 id="webstation-app">网站应用</h2>
    <div>ScadaWeb 6.0.0.1 (开发中)</div>
    <ul>
        <li>更改常见 JavaScript 类</li>
    </ul>

    <div>ScadaWeb 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>使用管理员应用程序配置Web 应用程序 </li>
        <li>支持时区</li>
        <li>登录时支持验证码</li>
        <li>自动登录选项</li>
        <li>灵活的外观定制</li>
    </ul>

    <h2 id="plg-chart">Chart</h2>
    <div>PlgChart 6.0.0.1 (正在开发)</div>
    <ul>
        <li>JavaScript中的修改</li>
    </ul>

    <div>PlgChart 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>添加了地址栏参数以指定用于选择数据的存档</li>
        <li>通道状态显示在通道值之后</li>
        <li>当数据状态不可靠时，趋势中断</li>
    </ul>

    <h2 id="plg-chart-pro">Chart Pro</h2>
    <div>PlgChartPro 6.0.0.1 (正在开发)</div>
    <ul>
        <li>JavaScript中的修改</li>
    </ul>

    <div>PlgChartPro 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>图表配置文件可选择的</li>
        <li>支持视图显示具有给定参数的图表</li>
        <li>显示将来的数据（如果存在数据）</li>
        <li>Y 轴固定量程选项</li>
        <li>根据通道状态显示趋势颜色的选项</li>
    </ul>

    <h2 id="plg-guard">Guard</h2>
    <div>PlgGuard 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>插件初始开发完成</li>
    </ul>

    <h2 id="plg-main">主插件</h2>
    <div>PlgMain 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>新的文件格式的表格视图</li>
        <li>命令显示从服务器收到的错误消息</li>
        <li>命令窗体显示通道格式的说明（如果格式为字符串）</li>
        <li>报告周期最多可指定几分钟</li>
        <li>可以选择为其生成报告的存档</li>
        <li>在配置中指定最大报告周期</li>
    </ul>

    <h2 id="plg-scheme">方案</h2>
    <div>PlgScheme 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>方案是水平居中</li>
    </ul>

    <h2 id="plg-sch-basic-comp">基础方案组件</h2>
    <div>PlgSchBasicComp 6.0.0.1 (开发中)</div>
    <ul>
        <li>修复了链接组件的写入状态</li>
    </ul>

    <div>PlgSchBasicComp 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>将插件移植到新版本</li>
    </ul>

    <h2 id="plg-sch-extra-comp">额外方案组件</h2>
    <div>PlgSchExtraComp 6.0.0.0 (开发中)</div>
    <ul>
        <li>将插件移植到新版本</li>
    </ul>

    <h2 id="plg-web-page">网页</h2>
    <div>PlgWebPage 6.0.0.0 (2022年12月 03 )</div>
    <ul>
        <li>将插件移植到新版本</li>
    </ul>
</div>
