@page "/en/5.8/version-history/table-editor-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Table Editor History";
}

@section Styles {
    <link href="~/css/history.min.css" rel="stylesheet" />
}

<h1>Table Editor History</h1>

<pre>5.1.0.1 (August 29, 2019)
- Fixed position recovery when using two monitors

5.1.0.0 (June 03, 2019)
- The editor is completely redesigned</pre>
