@page "/ru/latest/enterprise-edition/overview"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Обзор редакции Enterprise";
}

<h1>Обзор редакции Enterprise</h1>
<p>Программный комплекс Rapid SCADA в редакции Enterprise является проприетарным программным обеспечением, построенным на основе открытого ядра. Rapid SCADA Enterprise предназначен для крупных внедрений с повышенными требованиями к безопасности. Ключевые особенности редакции Enterprise:</p>
<ol>
    <li>Лицензия действует на основной и резервный серверы.</li>
    <li>Включены все программные модули, входящие в состав редакции Standard, плюс корпоративные модули.</li>
    <li>Допускается перенос программного обеспечения на другой сервер по запросу.</li>
</ol>

<p>Корпоративные модули, распространяемые только в редакции Enterprise:</p>
<ul>
    <li><a href="plg-audit">Плагин Журнал аудита</a></li>
    <li><a href="plg-guard">Плагин Защитник</a></li>
    <li>Плагин Отчёт по БД</li>
    <li>Плагин Табличный отчёт</li>
    <li>Модуль Помощник репликации</li>
    <li>Модуль Монитор производительности</li>
</ul>

<p>Процесс установки Rapid SCADA Enterprise включает в себя установку базового дистрибутива Rapid SCADA Standard и последующую установку дополнительных программных модулей. Дистрибутивы корпоративных модулей предоставляется по запросу.</p>
