@page "/ru/latest/enterprise-edition/plg-audit"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Журнал аудита";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Журнал аудита</h1>
    <h2 id="overview">Обзор</h2>

</div>