@page "/ru/latest/enterprise-edition/plg-audit"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Журнал аудита";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Журнал аудита</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Журнал аудита записывает действия пользователей приложения Вебстанция в базу данных PostgreSQL. Записываются действия следующих типов:</p>
    <ul>
        <li>вход в систему;</li>
        <li>выход из системы;</li>
        <li>просмотр представления;</li>
        <li>просмотр графика;</li>
        <li>формирование отчёта;</li>
        <li>отправка команды.</li>
    </ul>

    <p>Пользователи с ролью <em>Администратор</em> имеют доступ к формированию отчётов по журналу аудита. Чтобы сформировать отчёт, перейдите в <strong>Главное меню &gt; Отчёты &gt; Журнал аудита</strong>. Пример отчёта показан на следующем рисунке.</p>
    <figure class="figure">
        <img src="plg-audit-files/audit-report-ru.png" class="figure-img img-fluid" alt="Отчёт" />
    </figure>
    <p>Отчёт формируется в формате XLSX и может быть открыт с помощью Miocrosoft Excel, LibreOffice Calc и аналогичными офисными программами.</p>

    <h2 id="installation">Установка</h2>
    <p>Плагин Защитник устанавливается по <a href="../installation/install-modules#plugins">инструкции</a>. Для формирования отчёта плагин использует библиотеки, входящие в плагин Гибкий отчёт, поэтому плагин Гибкий отчёт должен быть также установлен и активирован.</p>
    <p>Плагин использует базу данных PostgreSQL, которая должна быть предварительно создана. Схему <code>plg_audit</code> и таблицу <code>audit_log</code> плагин создаёт автоматически при старте. Параметры соединения с БД необходимо прописать в файле <code>ScadaInstanceConfig.xml</code>, который расположен в поддиректории <code>Config</code> директории установки Rapid SCADA.</p>
    <p>
        Параметры соединения с БД по умолчанию:<br />
        Имя базы данных: <em>rapid_scada</em><br />
        Имя пользователя: <em>postgres</em><br />
        Пароль: <em>postgres</em>
    </p>
    <p>Пароль, который указываеться в файле <code>ScadaInstanceConfig.xml</code> должен быть зашифрован с помощью приложения Администратор. Шифрование пароля доступно в меню <strong>Инструменты &gt; Инструменты проекта &gt; Шифровать пароль</strong>.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <p>В целом, плагин Журнал аудита не требует настройки. Если необходимо изменить длительность хранения действий пользователей, в файле <code>ScadaWebConfig.xml</code> найдите группу пользовательских параметров <code>Audit</code> и отредактируйте параметр <code>Retension</code>. Данный параметр измеряется в сутках.</p>
</div>
