@page "/ru/latest/enterprise-edition/plg-guard"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Защитник";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Защитник</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Защитник выполняет постоянный контроль всех пользовательских запросов к приложению Вебстанция, обнаруживает попытки атаковать веб-приложение методом брутфорса и блокирует запросы злоумышленника. При возникновении событий безопасности они записываются в архив событий.</p>
    <p>Информация о работе плагина доступна пользователям, имеющим роль <em>Администратор</em>. На следующих рисунках показан веб-интерфейс плагина.</p>
    <figure class="figure">
        <img src="plg-guard-files/guard-general-ru.png" class="figure-img img-fluid" alt="Основные сведения" />
    </figure>
    <figure class="figure">
        <img src="plg-guard-files/guard-users-ru.png" class="figure-img img-fluid" alt="Пользователи" />
    </figure>
    <p>Контроль активности осуществляется в разрезе пользователей, IP-адресов и веб-сессий. Блокировка нарушителей выполняется по имени пользователя, по IP-адресу или глобально для веб-приложения. В случае глобальной блокировки пользователи, которые уже вошли в систему, продолжают работать.</p>

    <h2 id="installation">Установка</h2>
    <p>Плагин Защитник устанавливается по <a href="../installation/install-modules#plugins">инструкции</a>. В ходе установки выполните дополнительное действие - скопируйте файл <code>PlgGuard.xml</code> из дистрибутива плагина в свой проект. Файл должен отображаться в проводнике проекта внутри узла <strong>Вебстанция &gt; Конфигурационные файлы</strong>.</p>

    <h2 id="configuring">Конфигурирование</h2>

</div>
