@page "/ru/latest/enterprise-edition/plg-guard"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Плагин Защитник";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#overview">Обзор</a></li>
        <li><a href="#installation">Установка</a></li>
        <li><a href="#configuring">Конфигурирование</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Плагин Защитник</h1>
    <h2 id="overview">Обзор</h2>
    <p>Плагин Защитник выполняет постоянный контроль всех пользовательских запросов к приложению Вебстанция, обнаруживает попытки атаковать веб-приложение методом брутфорса и блокирует запросы злоумышленника. При возникновении событий безопасности они записываются в архив событий.</p>
    <p>Информация о работе плагина доступна пользователям, имеющим роль <em>Администратор</em>. На следующих рисунках показан веб-интерфейс плагина.</p>
    <figure class="figure">
        <img src="plg-guard-files/guard-general-ru.png" class="figure-img img-fluid" alt="Основные сведения" />
    </figure>
    <figure class="figure">
        <img src="plg-guard-files/guard-users-ru.png" class="figure-img img-fluid" alt="Пользователи" />
    </figure>
    <p>Контроль активности осуществляется в разрезе пользователей, IP-адресов и веб-сессий. Блокировка нарушителей выполняется по имени пользователя, по IP-адресу или глобально для веб-приложения. В случае глобальной блокировки пользователи, которые уже вошли в систему, продолжают работать.</p>

    <h2 id="installation">Установка</h2>
    <p>Плагин Защитник устанавливается по <a href="../installation/install-modules#plugins">инструкции</a>. В ходе установки выполните дополнительное действие - скопируйте файл <code>PlgGuard.xml</code> из дистрибутива плагина в свой проект. Файл должен отображаться в проводнике проекта внутри узла <strong>Вебстанция &gt; Конфигурационные файлы</strong>.</p>

    <h2 id="configuring">Конфигурирование</h2>
    <p>Плагин Защитник конфигурируется путём редактирования файла <code>PlgGuard.xml</code> через приложение Администратор. Файл конфигурации содержит параметры, описанные в следующей таблице.</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Параметр</th>
                <th>Значение по умолчанию</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>GeneralOptions</strong></td>
                <td></td>
                <td>Секция основных параметров</td>
            </tr>
            <tr>
                <td>UserFailsPerMinute</td>
                <td>10</td>
                <td>Максимально допустимое количество неудачных попыток входа в систему в минуту для конкретного пользователя</td>
            </tr>
            <tr>
                <td>TotalFailsPerMinute</td>
                <td>100</td>
                <td>Максимально допустимое количество неудачных попыток входа в систему в минуту для всех пользователей</td>
            </tr>
            <tr>
                <td>BlockingDuration</td>
                <td>1</td>
                <td>Длительность блокировки входа в систему, мин.</td>
            </tr>
            <tr>
                <td>CacheExpiration</td>
                <td>30</td>
                <td>Срок хранения данных о нарушениях в кэше, мин.</td>
            </tr>
            <tr>
                <td><strong>EventOptions</strong></td>
                <td></td>
                <td>Параметры записи событий безопасности</td>
            </tr>
            <tr>
                <td>ArchiveCode</td>
                <td>Events</td>
                <td>Код архива для записи событий. Если не указан, используется архив событий по умолчанию</td>
            </tr>
            <tr>
                <td>CnlNum</td>
                <td>0</td>
                <td>Номер канала, к которому относятся генерируемые события</td>
            </tr>
        </tbody>
    </table>
</div>
