@page "/ru/latest/configuration/table-views"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Табличные представления";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#editing">Создание и редактирование</a></li>
        <li><a href="#options">Параметры представления</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Табличные представления</h1>

    <figure class="figure">
        <img src="table-views-files/table-view-ru.png" class="figure-img img-fluid" alt="Табличное представление" />
        <figcaption class="figure-caption">Рис. 1. Табличное представление</figcaption>
    </figure>

</div>
