@page "/ru/latest/configuration/table-views"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Табличные представления";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#editing">Создание и редактирование</a></li>
        <li><a href="#options">Параметры представления</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Табличные представления</h1>

    <p>Табличное представление (рис. 1) предназначено для отображения исторических данных за сутки с заданным периодом, а также текущих данных. Щелчок по элементу таблицы открывает график канала, связанного с элементом. Кнопка <img src="table-views-files/rocket.png" /> вызывает диалог отправки команды.</p>

    <figure class="figure">
        <img src="table-views-files/table-view-ru.png" class="figure-img img-fluid" alt="Табличное представление" />
        <figcaption class="figure-caption">Рис. 1. Табличное представление</figcaption>
    </figure>

    <h2 id="editing">Создание и редактирование</h2>
    <p>Одним из преимуществ табличных представлений является простота их создания. Перейдите в раздел <strong>Представления</strong> проекта, щёлкните правой кнопокой мыши на нужной папке и выберите пункт <strong>Создать файл</strong> в контекстном меню. В открывшемся окне (рис. 2) выберите тип представления <strong>Таблица</strong>, укажите имя файла и нажмите кнопку <strong>OK</strong>. Созданный файл отобразится в проводнике проекта. По двойному щелчку представление открывается в Редакторе таблиц (рис. 3).</p>

    <figure class="figure">
        <img src="table-views-files/new-table-ru.png" class="figure-img img-fluid" alt="Диалог создания представления" />
        <figcaption class="figure-caption">Рис. 2. Диалог создания представления</figcaption>
    </figure>

    <figure class="figure">
        <img src="table-views-files/table-editor-ru.png" class="figure-img img-fluid" alt="Редактор таблиц" />
        <figcaption class="figure-caption">Рис. 3. Редактор таблиц</figcaption>
    </figure>

    <h2 id="options">Параметры представления</h2>

    <figure class="figure">
        <img src="table-views-files/table-options-ru.png" class="figure-img img-fluid" alt="Параметры табличного представления" />
        <figcaption class="figure-caption">Рис. 4. Параметры табличного представления</figcaption>
    </figure>
</div>
