@page "/ru/latest/configuration/user-management"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Управление пользователями";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#creating-users">Создание пользователей</a></li>
        <li><a href="#rights-assignment">Назначение прав</a></li>
        <li><a href="#built-in-roles">Стандартные роли</a></li>
        <li><a href="#custom-roles">Собственные роли</a></li>
        <li><a href="#role-inheritance">Наследование ролей</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Управление пользователями</h1>
    <h2 id="creating-users">Создание пользователей</h2>
    <p>Создание, редактирование и удаление пользователей выполняется в приложении Администратор через таблицу Пользователи (рис. 1).</p>

    <figure class="figure">
        <img src="user-management-files/users-table-ru.png" class="figure-img img-fluid" alt="Таблица Пользователи" />
        <figcaption class="figure-caption">Рис. 1. Таблица Пользователи</figcaption>
    </figure>

    <p>Пользователи с идентификаторами от 1 до 12 созданы по умолчанию из шаблона проекта. Пользователи <em>ScadaWeb</em> и <em>ScadaComm</em> предназначены для подключения приложений Вебстанция и Коммуникатор к приложению Сервер. Пользователи <em>admin</em> и <em>guest</em>, использующие <a href="#built-in-roles">стандартные роли</a>, предназначены для входа в систему. Пользователи <em>alex</em>, <em>ivan</em> и <em>maria</em>, использующие <a href="#custom-roles">собственные роли</a>, созданы в качестве примера.</p>

    <h2 id="rights-assignment">Назначение прав</h2>
    <p>Права назначаются на объекты для ролей. Права назаначаются только для собственных ролей, для стандартных ролей проверка прав уже реализована в приложениях. <strong>Роль</strong> - это именованный набор прав.</p>
    <p>Чтобы назначить права, сначала необходимо заполнить таблицы <strong>Объекты</strong> и <strong>Роли</strong>, затем прописать права в таблице <strong>Права на объекты</strong>. Объекты могут образовывать иерархию. Если для объекта верхнего уровня заданы некоторые права, они наследуются объектами нижних уровней. </p>

    <h2 id="built-in-roles">Стандартные роли</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Идент.</th>
                <th>Наименование</th>
                <th>Код</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>Отключен</td>
                <td>ScadaDisabled</td>
                <td>Доступ запрещён</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Администратор</td>
                <td>ScadaAdmin</td>
                <td>Полный доступ</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Диспетчер</td>
                <td>ScadaDispatcher</td>
                <td>Может просматривать информацию и отправлять команды</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Гость</td>
                <td>ScadaGuest</td>
                <td>Может просматривать информацию</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Приложение</td>
                <td>ScadaApp</td>
                <td>Взаимодействует с сервером</td>
            </tr>
        </tbody>
    </table>

    <h2 id="custom-roles">Собственные роли</h2>

    <h2 id="role-inheritance">Наследование ролей</h2>
</div>
