@page "/ru/latest/configuration/user-management"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Управление пользователями";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#creating-users">Создание пользователей</a></li>
        <li><a href="#rights-assignment">Назначение прав</a></li>
        <li><a href="#built-in-roles">Стандартные роли</a></li>
        <li><a href="#custom-roles">Собственные роли</a></li>
        <li><a href="#role-inheritance">Наследование ролей</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Управление пользователями</h1>
</div>
