@page "/ru/latest/installation/install-modules"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Установка модулей";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#modules">Модули Сервера</a></li>
        <li><a href="#drivers">Драйверы Коммуникатора</a></li>
        <li><a href="#plugins">Плагины Вебстанции</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Установка модулей</h1>
    <p>Rapid SCADA позволяет устанавливать дополнительные модули, которые расширяют функциональность программного обеспечения. Получить дистрибутивы модулей можно в разделе <a href="https://rapidscada.ru/download-all-files/" target="_blank">Скачать</a> официального сайта и в <a href="https://rapidscada.net/store/ru/" target="_blank">Магазине модулей</a>. Версия устанавливаемого модуля должна быть совместимой с установленной версией Rapid SCADA. Информация о совместимости приводится на странице модуля в Магазине приложений. Модули, опубликованные в разделе Скачать, совместимы с текущей версией Rapid SCADA.</p>

    <h2 id="modules">Установка модулей Сервера</h2>
    <p>Последовательность установки нового или обновления существующего модуля для приложения Сервер:</p>
    <ol>
        <li>Закрыть приложение Администратор, если оно запущено.</li>
        <li>Распаковать архив дистрибутива модуля.</li>
        <li>Скопировать все файлы из папки SCADA дистрибутива модуля в <abbr title="C:\Program Files\SCADA, /opt/scada">директорию установки</abbr> Rapid SCADA с сохранением иерархии директорий.</li>
        <li>Если используется Windows, найти скопированные файлы библиотек *.dll, по очереди открыть их свойства и разблокировать файлы.</li>
        <li>Запустить Администратор, открыть проект, в проводнике проекта найти и открыть страницу <strong>Сервер &gt; Модули</strong>.</li>
        <li>Выбрать устанавливаемый модуль в списке неиспользуемых модулей и нажать кнопку <strong>Активировать</strong>.</li>
        <li>Если дистрибутив модуля содержит конфигурационные файлы, расположенные в директории SCADA\ScadaServer\Config, их необходимо скопировать в свой проект.</li>
        <li>Выполнить действия по настройке модуля, указанные в документации на конкретный модуль.</li>
        <li>Сохранить проект и передать конфигурацию на сервер.</li>
        <li>
            Если модуль требует регистрации:
            <ol type="a">
                <li>При запуске модуль запишет код компьютера в файл.</li>
                <li>В приложении Администратор выбрать модуль и нажать кнопку <strong>Регистрация</strong>.</li>
                <li>Получить регистрационный ключ, ввести его в соответствующее поле формы и сохранить.</li>
                <li>Повторно передать конфигурацию на сервер.</li>
            </ol>
        </li>
    </ol>

    <h3>Структура файлов модуля</h3>
    <table class="table table-hover">
        <tr>
            <td>ScadaAdmin\Lang\*.xml</td>
            <td>Языковые файлы пользовательского интерфейса для приложения Администратор</td>
        </tr>
        <tr>
            <td>ScadaAdmin\Lib\*.View.dll</td>
            <td>Библиотека пользовательского интерфейса для приложения Администратор</td>
        </tr>
        <tr>
            <td>ScadaServer\Config\*.xml</td>
            <td>Конфигурация модуля, которую необходимо скопировать в проект</td>
        </tr>
        <tr>
            <td>ScadaServer\Mod\*.Logic.dll</td>
            <td>Библиотека логики модуля для приложения Сервер</td>
        </tr>
    </table>

    <h2 id="drivers">Установка драйверов Коммуникатора</h2>
    <p>Последовательность установки нового или обновления существующего драйвера для приложения Коммуникатор:</p>
    <ol>
        <li>Закрыть приложение Администратор, если оно запущено.</li>
        <li>Распаковать архив дистрибутива драйвера.</li>
        <li>Скопировать все файлы из папки SCADA дистрибутива драйвера в <abbr title="C:\Program Files\SCADA, /opt/scada">директорию установки</abbr> Rapid SCADA, с сохранением иерархии директорий.</li>
        <li>Если используется Windows, найти скопированные файлы библиотек *.dll, по очереди открыть их свойства и разблокировать файлы.</li>
        <li>Запустить Администратор, открыть проект, в проводнике проекта найти и открыть страницу <strong>Коммуникатор &gt; Драйверы</strong>.</li>
        <li>Убедиться, что установленный драйвер присутствует в списке доступных драйверов, и при выборе драйвера отображается его описание.</li>
        <li>Выполнить действия по настройке линии связи и устройства, указанные в документации на конкретный драйвер.</li>
        <li>Сохранить проект и передать конфигурацию на сервер.</li>
        <li>
            Если драйвер требует регистрации:
            <ol type="a">
                <li>При запуске драйвер запишет код компьютера в файл.</li>
                <li>В приложении Администратор выбрать драйвер и нажать кнопку <strong>Регистрация</strong>.</li>
                <li>Получить регистрационный ключ, ввести его в соответствующее поле формы и сохранить.</li>
                <li>Повторно передать конфигурацию на сервер.</li>
            </ol>
        </li>
    </ol>

    <h3>Структура файлов драйвера</h3>
    <table class="table table-hover">
        <tr>
            <td>ScadaAdmin\Lang\*.xml</td>
            <td>Языковые файлы пользовательского интерфейса для приложения Администратор</td>
        </tr>
        <tr>
            <td>ScadaAdmin\Lib\*.View.dll</td>
            <td>Библиотека пользовательского интерфейса для приложения Администратор</td>
        </tr>
        <tr>
            <td>ScadaComm\Drv\*.Logic.dll</td>
            <td>Библиотека логики драйвера для приложения Коммуникатор</td>
        </tr>
    </table>

    <h2 id="plugins">Установка плагинов Вебстанции</h2>
    <p>Дополнительные модули для веб-приложения Вебстанция называются плагины. Последовательность установки нового или обновления существующего плагина:</p>
    <ol>
        <li>Закрыть приложение Администратор, если оно запущено.</li>
        <li>Распаковать архив дистрибутива плагина.</li>
        <li>Скопировать все файлы из папки SCADA дистрибутива плагина в <abbr title="C:\Program Files\SCADA, /opt/scada">директорию установки</abbr> Rapid SCADA с сохранением иерархии директорий.</li>
        <li>Если используется Windows, найти скопированные файлы библиотек *.dll, по очереди открыть их свойства и разблокировать файлы.</li>
        <li>Запустить Администратор, открыть проект, в проводнике проекта найти и открыть страницу <strong>Вебстанция &gt; Плагины</strong>.</li>
        <li>Выбрать устанавливаемый плагин в списке неиспользуемых плагинов и нажать кнопку <strong>Активировать</strong>.</li>
        <li>Если дистрибутив плагина содержит конфигурационные файлы, расположенные в директории SCADA\ScadaWeb\config, их необходимо скопировать в свой проект.</li>
        <li>Если дистрибутив плагина содержит представления, расположенные в директории SCADA\Views, их рекомендуется скопировать в свой проект в качестве примеров.</li>
        <li>Выполнить действия по настройке плагина, указанные в документации на конкретный плагин.</li>
        <li>Сохранить проект и передать конфигурацию на сервер.</li>
        <li>
            Если плагин требует регистрации:
            <ol type="a">
                <li>При запуске плагин запишет код компьютера в файл.</li>
                <li>В приложении Администратор выбрать плагин и нажать кнопку <strong>Регистрация</strong>.</li>
                <li>Получить регистрационный ключ, ввести его в соответствующее поле формы и сохранить.</li>
                <li>Повторно передать конфигурацию на сервер.</li>
            </ol>
        </li>
    </ol>

    <h3>Структура файлов плагина</h3>
    <table class="table table-hover">
        <tr>
            <td>ScadaAdmin\Lib\*.View.dll</td>
            <td>Библиотека пользовательского интерфейса для приложения Администратор</td>
        </tr>
        <tr>
            <td>ScadaWeb\config\*.xml</td>
            <td>Конфигурация плагина, которую необходимо скопировать в проект</td>
        </tr>
        <tr>
            <td>ScadaWeb\lang\*.xml</td>
            <td>Языковые файлы плагина для приложения Вебстанция</td>
        </tr>
        <tr>
            <td>ScadaWeb\wwwroot\*.*</td>
            <td>Статические файлы плагина для приложения Вебстанция</td>
        </tr>
        <tr>
            <td>ScadaWeb\*.dll</td>
            <td>Библиотеки плагина для приложения Вебстанция</td>
        </tr>
    </table>
</div>
