@page "/ru/latest/installation/install-modules"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Установка модулей";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#modules">Модули Сервера</a></li>
        <li><a href="#drivers">Драйверы Коммуникатора</a></li>
        <li><a href="#plugins">Плагины Вебстанции</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Установка модулей</h1>
    <p>Rapid SCADA позволяет устанавливать дополнительные модули, которые расширяют функциональность программного обеспечения. Получить дистрибутивы модулей можно в разделе <a href="https://rapidscada.ru/download-all-files/" target="_blank">Скачать</a> официального сайта и в <a href="http://rapidscada.net/store/ru/" target="_blank">Магазине модулей</a>. Версия устанавливаемого модуля должна быть совместимой с установленной версией Rapid SCADA. Информация о совместимости приводится на странице модуля в Магазине приложений. Модули, выложенные в разделе Скачать, совместимы с текущей версией Rapid SCADA.</p>

    <h2 id="modules">Установка модулей Сервера</h2>
    <p>Последовательность установки нового или обновления существующего модуля для приложения Сервер:</p>
    <ol>
        <li>Закрыть приложение Администратор, если оно запущено.</li>
        <li>Распаковать архив дистрибутива модуля.</li>
        <li>Скопировать все файлы из папки SCADA дистрибутива модуля в <abbr title="C:\Program Files\SCADA, /opt/scada">директорию установки</abbr> Rapid SCADA с сохранением иерархии директорий.</li>
        <li>Если используется Windows, найти скопированные файлы библиотек *.dll, по очереди открыть их свойства и разблокировать файлы.</li>
        <li>Запустить Администратор, открыть проект, в проводнике проекта найти и открыть страницу <strong>Сервер &gt; Модули</strong>.</li>
        <li>Выбрать устанавливаемый модуль в списке неиспользуемых модулей и нажать кнопку <strong>Активировать</strong>.</li>
        <li>Если дистрибутив модуля содержит конфигурационные файлы, расположенные в директории SCADA\ScadaServer\Config, их необходимо скопировать в свой проект.</li>
        <li>Выполнить действия по настройке модуля, указанные в документации на конкретный модуль.</li>
        <li>Сохранить проект и передать конфигурацию на сервер.</li>
        <li>
            Если модуль требует регистрации:
            <ol type="a">
                <li>При запуске модуль запишет код компьютера в файл.</li>
                <li>В приложении Администратор выбрать модуль и нажать кнопку <strong>Регистрация</strong>.</li>
                <li>Получить регистрационный ключ, ввести его в соответствующее поле формы и сохранить.</li>
                <li>Повторно передать конфигурацию на сервер.</li>
            </ol>
        </li>
    </ol>

    <h3>Структура файлов модуля</h3>
    <table class="table table-hover">
        <tr>
            <td>ScadaAdmin\Lang\*.xml</td>
            <td>Языковые файлы пользовательского интерфейса для приложения Администратор</td>
        </tr>
        <tr>
            <td>ScadaAdmin\Lib\*.View.dll</td>
            <td>Библиотека пользовательского интерфейса для приложения Администратор</td>
        </tr>
        <tr>
            <td>ScadaServer\Config\*.xml</td>
            <td>Конфигурация модуля, которую необходимо скопировать в проект</td>
        </tr>
        <tr>
            <td>ScadaServer\Mod\*.Logic.dll</td>
            <td>Библиотека логики модуля для приложения Сервер</td>
        </tr>
    </table>

    <h2 id="drivers">Установка драйверов Коммуникатора</h2>


    <h2 id="plugins">Установка плагинов Вебстанции</h2>

</div>
