[Unit]
Description=Rapid SCADA Server

[Service]
Type=notify
WorkingDirectory=/opt/scada/ScadaServer
ExecStart=/usr/bin/dotnet /opt/scada/ScadaServer/ScadaServerWkr.dll
Restart=always
RestartSec=10
SyslogIdentifier=scadaserver

[Install]
WantedBy=multi-user.target
