@page "/fr/latest/installation/system-requirements"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Configurations requises";
}

<h1>Configurations requises</h1>
<h2>Exigences logicielles du serveur</h2>
<p>Windows:</p>
<ul>
    <li>Système d’exploitation : Microsoft Windows Server 2016/2019/2022, Microsoft Windows 10/11.</li>
    <li>.NET Runtime 6.0.</li>
    <li>Microsoft IIS est requis pour déployer l’application web.</li>
</ul>

<p>Linux:</p>
<ul>
    <li>Système d’exploitation : Ubuntu (recommandé), Alpine, CentOS, Debian, Fedora, OpenSUSE, Red Hat, et plus.</li>
    <li>.NET Runtime 6.0.</li>
    <li>Nginx est requis pour déployer l’application web.</li>
</ul>

<h2>Exigences hardware du serveur</h2>
<p>La configuration hardware d’un serveur dépend de l’échelle du système automatisé. La configuration minimum est déterminée par les exigences du système d’exploitation.</p>
<p>Par défaut, Rapid SCADA utilise ses propres systèmes de management de bases de données intégrées, l’installation d’un SGBD tiers n’est donc pas nécessaire. Le logiciel peut fonctionner sur des machines physiques ou virtuelles.</p>

<h2>Exigences relatives au poste de travail</h2>
<ul>
    <li>Mise à jour du navigateur Chrome, Firefox, Safari ou Edge.</li>
    <li>Microsoft Office ou LibreOffice sont requis pour afficher les rapports.</li>
</ul>
