@page "/ru/6.0/software-overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Введение";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#about">Что такое Rapid SCADA</a></li>
        <li><a href="#key-features">Ключевые характеристики</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Введение</h1>
    <h2 id="about">Что такое Rapid SCADA</h2>
    <p>Rapid SCADA - это платформа для промышленной автоматизации с открытым исходным кодом. Функционал «из коробки» позволяет быстро создавать системы мониторинга и диспетчеризации. В крупных внедрениях Rapid SCADA выступает как основа для разработки индивидуального SCADA и MES решения для Заказчика. Rapid SCADA входит в <a href="https://reestr.digital.gov.ru/reestr/307000/" target="_blank">Единый реестр российских программ</a>.</p>
    <p>Открытый исходный код Rapid SCADA, доступный на <a href="https://github.com/RapidScada/scada-v6" target="_blank">GitHub</a>, обеспечивает прозрачность и безопасность работы программного обеспечения. Использование лицензии <a href="https://ru.wikipedia.org/wiki/Лицензия_Apache" target="_blank">Apache License 2.0</a> позволяет создавать новые производные программные продукты.</p>
    <p>Rapid SCADA отлично подходит для создания крупных распределённых систем промышленной автоматизации. Rapid SCADA работает на серверах, встраиваемых компьютерах и в облаке. Узлы Rapid SCADA обмениваются информацией между собой и с внешними базами данных в реальном времени.</p>
    <p>Основные классы систем, разрабатываемых с помощью Rapid SCADA:</p>
    <ul>
        <li>Системы промышленной автоматизации и промышленного интернета вещей (IIoT).</li>
        <li>Системы управления технологическими процессами (АСУ ТП).</li>
        <li>Системы учёта энергоресурсов (АСКУЭ, АСТУЭ, АИИС КУЭ).</li>
    </ul>

    <h2 id="key-features">Ключевые характеристики</h2>
</div>
