@page "/ru/6.0/version-history/scada-history"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "История Rapid SCADA";
}

<h1>История Rapid SCADA</h1>

<div>Rapid SCADA 6.0.1 (17.01.2023)</div>
<ul>
    <li>
        Сервер 6.0.0.1
        <ul>
            <li>ModActiveDirectory 6.0.0.0</li>
            <li>ModArcInfluxDb 6.0.0.1</li>
            <li>ModDbExport 6.0.0.0</li>
        </ul>
    </li>
    <li>
        Коммуникатор 6.0.0.1
        <ul>
            <li>DrvCnlMqtt 6.0.0.1</li>
            <li>DrvDsMqtt 6.0.0.1</li>
            <li>DrvDsScadaServer 6.0.0.1</li>
            <li>DrvMqttClient 6.0.0.1</li>
            <li>DrvMqttPublisher 6.0.0.1</li>
        </ul>
    </li>
    <li>Вебстанция 6.0.0.1
        <ul>
            <li>PlgChart 6.0.0.1</li>
            <li>PlgSchBasicComp 6.0.0.1</li>
        </ul>
    </li>
    <li>Агент 6.0.0.0</li>
    <li>
        Администратор 6.0.0.1
        <ul>
            <li>ExtProjectTools 6.0.0.1</li>
            <li>ExtServerConfig 6.0.0.1</li>
        </ul>
    </li>
    <li>Редактор схем 5.3.1.1</li>
</ul>

<div>Rapid SCADA 6.0.0 (03.12.2022)</div>
<ul>
    <li>Сервер 6.0.0.0</li>
    <li>Коммуникатор 6.0.0.0</li>
    <li>Вебстанция 6.0.0.0</li>
    <li>Агент 6.0.0.0</li>
    <li>Администратор 6.0.0.0</li>
    <li>Редактор схем 5.3.1.1</li>
</ul>
