@page "/ru/latest/developers/development-basics"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Основы разработки";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#module-development">Разработка модулей</a></li>
        <li><a href="#integration">Интеграция</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Основы разработки</h1>
    <p>Rapid SCADA - это проект с открытым <a href="https://github.com/RapidScada/scada-v6" target="_blank">исходным кодом</a>. Поэтому инженеры и программисты имеют возможность присоединиться к сообществу Rapid SCADA, чтобы разрабатывать программное обеспечение, которое взаимодействует или встраивается в Rapid SCADA. Практика показывает, что инженер с базовыми знаниями по программированию может начать разрабатывать модули для Rapid SCADA, постепенно повышая своё мастерство.</p>

    <h2 id="module-development">Разработка модулей</h2>
    <p>Под термином <em>модуль</em> понимается программный модуль, включающий DLL-библиотеку и набор дополнительных файлов, который встраивается в одно из приложений Rapid SCADA, расширяя его функциональность. Основные виды модулей:</p>

    <ul>
        <li><em>Логический модуль</em> - библиотека, работающая в составе службы Сервер, которая добавляет логику обработки данных и математические расчёты.</li>
        <li><em>Драйвер связи</em> - библиотека, работающая под управлением Коммуникатора, которая реализует промышленный протокол обмена данными. Например, Modbus, OPC или MQTT.</li>
        <li><em>Веб-плагин</em> состоит из набора DLL и скриптов, которые встраиваются в веб-приложение Вебстанция, расширяя возможности веб-интерфейса Rapid SCADA.</li>
        <li><em>Расширение</em> приложения Администратор добавляет новые функции в пользовательский интерфейс приложения.</li>
    </ul>

    <p>Разработка выполняется в бесплатных средах <a href="https://visualstudio.microsoft.com/" target="_blank">Microsoft Visual Studio Community</a> или <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>. Основной язык разработки - C#.</p>

    <h2 id="integration">Интеграция</h2>
    <p>Rapid SCADA предоставляет широкий выбор способов интеграции:</p>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Базы данных</th>
                <td>Rapid SCADA имеет встроенные средства для чтения и записи данных в реальном времени в различные популярные СУБД. Импорт и экспорт гибко настраивается в соотвествии с существующей моделью данных.</td>
            </tr>
            <tr>
                <th scope="row">Промышленные протоколы</th>
                <td>SCADA-системы различных производителей могут обмениваться данными между собой с использованием таких протоколов как Modbus, OPC или MQTT. Одна система выступает в качестве источника данных, а другая в качестве потребителя данных.</td>
            </tr>
            <tr>
                <th scope="row">Протокол приложений</th>
                <td class="text-break">Rapid SCADA поддерживает собственный протокол приложений, реализованный поверх TCP, который используется для обмена данными между приложением Сервер и приложениями-клиентами. Протокол документирован, доступна клиентская .NET-библиотека. Протокол приложений может быть использован сторонним клиентом для чтения данных их архивов SCADA и отправки команд управления.</td>
            </tr>
            <tr>
                <th scope="row">Веб-API</th>
                <td class="text-break">Приложение Вебстанция предоставляет доступ к Веб-API, который может использоваться как из клиентского, так и из серверного кода. Пример использования Веб-API доступен по <a href="https://github.com/RapidScada/scada-v6/tree/master/ScadaWeb/OpenPlugins/PlgMain/wwwroot/custom" target="_blank">ссылке</a>.</td>
            </tr>
            <tr>
                <th scope="row">Прямое чтение архивов</th>
                <td class="text-break">Rapid SCADA поддерживает работу с архивами различных типов на основе файлов, реляционных СУБД и баз данных временных рядов. Интеграция может осуществляться путём прямого чтения данных из архива соответствующими клиентами.</td>
            </tr>
        </tbody>
    </table>
</div>
