@page "/en/latest/configuration/channels"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Channels";
}

<nav class="doc-toc">
    <div class="h6">On this page</div>
    <hr>
    <ul>
        <li><a href="#channel-properties">Channel Properties</a></li>
        <li><a href="#tools">Tools</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Channels</h1>
    <p>A <strong>channel</strong> is an entity that has a number and name, with which current and historical data, as well as events, are associated. Synonyms in other systems: variable and tag.</p>

    <h2 id="channel-properties">Channel Properties</h2>
    <p>A channel can be edited directly in the <strong>Channels</strong> table, as well as using the channel properties form. To open the properties form, select a channel in the table and click the <img src="../common-images/properties.png" /> button or double-click a table row. Below are screenshots of the channel properties form and under each image the specifics of setting the corresponding properties are described.</p>

    <figure class="figure">
        <img src="channels-files/channel-general-en.png" class="figure-img img-fluid" alt="General channel properties" />
        <figcaption class="figure-caption">Figure 1. General channel properties</figcaption>
    </figure>

    <p>If uncheck the <strong>Active</strong> checkbox, the channel will be excluded from processing. The <strong>Code</strong> field is intended for integration with third-party systems and does not affect the operation of Rapid SCADA applications. If <strong>Data type</strong> is not specified, then the <em>Double</em> type is used. If <strong>Data length</strong> is specified and its value is greater than 1, then the Server application creates several channels with sequential numbers. The <strong>Channel types</strong> are described in the table of the same name. The <strong>Tag Code</strong> string field is intended for linking the channel and device tag in Communicator. The <strong>Tag number</strong> numeric field works similarly, but is deprecated. The use of formulas is described in the next <a href="scripts">article</a>.</p>

    <figure class="figure">
        <img src="channels-files/channel-display-en.png" class="figure-img img-fluid" alt="Channel display properties" />
        <figcaption class="figure-caption">Figure 2. Channel display properties</figcaption>
    </figure>

    <p>The <strong>Format</strong> field determines the display of channel values ​​in the user interface, but does not affect saving data to the archive. Specify a <strong>Command format</strong> if the values ​​in the command sending window should be formatted differently than when viewed.</p>

    <figure class="figure">
        <img src="channels-files/channel-limits-en.png" class="figure-img img-fluid" alt="Channel limits" />
        <figcaption class="figure-caption">Figure 3. Channel limits</figcaption>
    </figure>

    <p>A limit record can be used by one or more channels. In the second case, the limit is marked as <strong>shared</strong>. If the <strong>Bound to channels</strong> option is enabled when creating a limit, then the actual values ​​of the limit are the values ​​of the channels whose numbers were specified when creating it.</p>

    <figure class="figure">
        <img src="channels-files/channel-archives-en.png" class="figure-img img-fluid" alt="Channel properties. Archives" />
        <figcaption class="figure-caption">Figure 4. Channel properties. Archives</figcaption>
    </figure>

    <p>It is possible for a channel to specify in which archives its data is stored. If archives are not selected, that is, the archive mask is empty or equal to 0, then the channel data is stored in the default archives.</p>

    <figure class="figure">
        <img src="channels-files/channel-events-en.png" class="figure-img img-fluid" alt="Channel properties. Events" />
        <figcaption class="figure-caption">Figure 5. Channel properties. Events</figcaption>
    </figure>

    <p>On the <strong>Events</strong> page, set the criteria by which events related to the channel should be recorded in the event archive.</p>

    <h2 id="tools">Tools</h2>
    <p>To create channels, there is a wizard (see Figures 6-8), which is called by the <img src="../common-images/create-cnls.png" /> button located on the Administrator application toolbar. However, automatic creation of channels must be supported by the driver of the device for which the channels are created, otherwise the channels are created manually. The channel creation wizard starts <em>after</em> device polling is configured in the Communicator application.</p>

    <figure class="figure">
        <img src="channels-files/create-channels-step1-en.png" class="figure-img img-fluid" alt="Channel creation wizard. Step 1" />
        <figcaption class="figure-caption">Figure 6. Channel creation wizard. Step 1</figcaption>
    </figure>

    <figure class="figure">
        <img src="channels-files/create-channels-step2-en.png" class="figure-img img-fluid" alt="Channel creation wizard. Step 2" />
        <figcaption class="figure-caption">Figure 7. Channel creation wizard. Step 2</figcaption>
    </figure>

    <figure class="figure">
        <img src="channels-files/create-channels-step3-en.png" class="figure-img img-fluid" alt="Channel creation wizard. Step 3" />
        <figcaption class="figure-caption">Figure 8. Channel creation wizard. Step 3</figcaption>
    </figure>

    <p>The cloning tool (see Figure 9) allows to quickly create similar channels based on existing ones. On the cloning form, specify the source and destination channel numbers. You can also select a new object and device for the cloned channels. The feature of updating channel numbers in formulas works if the channel number is used as an argument in the following functions: N(), Val(), Stat(), SetVal(), SetStat() and SetData().</p>

    <figure class="figure">
        <img src="channels-files/clone-channels-en.png" class="figure-img img-fluid" alt="Cloning channels" />
        <figcaption class="figure-caption">Figure 9. Cloning channels</figcaption>
    </figure>

    <p>Tools for importing and exporting configuration database tables (see Figures 10 and 11) make it easier to use previously made work from other projects. DAT, XML and CSV table formats are supported. To limit the range of data that is imported and exported, specify the start and end IDs.</p>

    <figure class="figure">
        <img src="channels-files/import-table-en.png" class="figure-img img-fluid" alt="Import table" />
        <figcaption class="figure-caption">Figure 10. Import table</figcaption>
    </figure>

    <figure class="figure">
        <img src="channels-files/export-table-en.png" class="figure-img img-fluid" alt="Export table" />
        <figcaption class="figure-caption">Figure 11. Export table</figcaption>
    </figure>

    <p>The cloning, import and export tools are accessed through the <strong>Tools &gt; Project Tools</strong> menu of the Administrator application.</p>
</div>
