@page "/en/latest/enterprise-edition/overview"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Enterprise Edition Overview";
}

<h1>Enterprise Edition Overview</h1>
<p>Rapid SCADA Enterprise is proprietary software built on an open source core. Rapid SCADA Enterprise is designed for large-scale implementations with high security requirements. Key features of the Enterprise edition:</p>
<ol>
    <li>The license applies to the main and backup servers.</li>
    <li>The Enterprise edition includes all software modules included in the Standard edition, plus enterprise modules.</li>
    <li>Transfer of the software to another server is permitted upon request.</li>
</ol>

<p>Enterprise modules, distributed only in the Enterprise edition:</p>
<ul>
    <li><a href="plg-audit">Audit Log Plugin</a></li>
    <li><a href="plg-guard">Guard Plugin</a></li>
    <li>Replication Module</li>
    <li>Performance Monitor</li>
</ul>

<p>Installation of Rapid SCADA Enterprise includes installation of the basic Rapid SCADA Standard distribution and subsequent installation of additional software modules. Installation packages of the enterprise modules are available upon request.</p>
