@page "/ru/latest/installation/safety"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Рекомендации по безопасности";
}

<h1>Рекомендации по безопасности</h1>

<h2>Защита файлов</h2>
<p>Если Rapid SCADA используется в корпоративной среде, необходимо убедиться, что другие пользователи не имеют доступа к <abbr title="C:\Program Files\SCADA, /opt/scada">директории установки</abbr> Rapid SCADA. На Windows для этого нужно открыть свойства директории, в которую установлены приложения Rapid SCADA, перейти на закладку <strong>Безопасность</strong>, проверить и настроить права доступа.</p>

<h2>HTTPS</h2>
<p>Рекомендуется настроить веб-сервер таким образом, чтобы веб-приложение Вебстанция работало по протоколу HTTPS. При использовании HTTPS трафик между браузером и веб-сервером, включая пароли, шифруется.</p>

<h2>VPN</h2>
<p>Для доступа внешних пользователей рекомендуется использовать VPN. Следует по возможности избегать открытого доступа извне к Вебстанции.</p>

<h2>Пароли</h2>
<p>Необходимо изменить пароли, установленные по умолчанию. Для создания надёжных паролей следует использовать генератор паролей, например, по <a href="https://passwordsgenerator.net/" target="_blank">ссылке</a>. Если в организации используется Active Directory, настройка аутентификации пользователей Rapid SCADA на основе Active Directory повышает защищённость системы.</p>
<p>Пароли, которые необходимо установить:</p>
<ul>
    <li>Пароли пользователей в таблице <strong>Пользователи</strong> проекта.</li>
    <li>Пароль для соединения с Сервером в настройках приложений Коммуникатор и Вебстанция.</li>
    <li>Пароль приложения Агент в файле <code>ScadaAgentConfig.xml</code>.</li>
    <li>Пароль для соединения с Агентом в профиле развёртывания.</li>
</ul>
