@page "/ru/latest/configuration/channels"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Каналы";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#channel-properties">Свойства канала</a></li>
        <li><a href="#tools">Инструменты</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Каналы</h1>

    <h2 id="channel-properties">Свойства канала</h2>


    <h2 id="tools">Инструменты</h2>


</div>
