@page "/ru/latest/configuration/configuration-basics"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Основы настройки";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#creating-project">Создание проекта</a></li>
        <li><a href="#project-structure">Структура проекта</a></li>
        <li><a href="#configuration-sequence">Последовательность настройки</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Основы настройки</h1>

    <h2 id="creating-project">Создание проекта</h2>
    <p>Настройка Rapid SCADA выполняется в рамках проектов. Проект представляет собой набор файлов в различных форматах, которые сохраняются в директории проекта. Для создания и редактирования проектов предназначено приложение Администратор. При запуске Администратора открывается <strong>Стартовая страница</strong>, с помощью которой можно создать новый или открыть существующий проект (рис. 1).</p>

    <figure class="figure">
        <img src="configuration-basics-files/start-page-ru.png" class="figure-img img-fluid border" alt="Стартовая страница" />
        <figcaption class="figure-caption">Рис. 1. Стартовая страница</figcaption>
    </figure>

    <figure class="figure">
        <img src="configuration-basics-files/new-project-ru.png" class="figure-img img-fluid" alt="Форма создания проекта" />
        <figcaption class="figure-caption">Рис. 2. Форма создания проекта</figcaption>
    </figure>

    <p>При создании проекта (рис. 2) необходимо обратить внимание на используемый шаблон. Шаблон определяет первоначальную конфигурацию, которая добавляется в проект. В качестве шаблона можно использовать другой существующий проект.</p>

    <h2 id="project-structure">Структура проекта</h2>
    <p>Структура проекта Rapid SCADA наглядно представлена в проводнике проекта, который расположен в левой части главного окна Администратора. Проект состоит из следующих основных частей (рис. 3):</p>
    <ul>
        <li><strong>База конфигурации</strong> состоит из таблиц и является общим структурированным описанием автоматизированной системы. Детальные настройки относятся к соответствующим приложениям.</li>
        <li>Раздел <strong>Представления</strong> содержит файлы представлений, которые отображаются приложением Вебстанция, и конфигурационные файлы отчётов. Примеры представлений: мнемосхемы, таблицы, карты и дэшборды.</li>
        <li>Настройки приложения Сервер.</li>
        <li>Настройки приложения Коммуникатор.</li>
        <li>Настройки веб-приложения Вебстанция.</li>
    </ul>

    <figure class="figure">
        <img src="configuration-basics-files/project-structure-ru.png" class="figure-img img-fluid border" alt="Структура проекта" />
        <figcaption class="figure-caption">Рис. 3. Структура проекта</figcaption>
    </figure>

    <p><strong>Экземпляр</strong> - это совокупность приложений Rapid SCADA, выполняющих один и тот же проект и установленных на одном компьютере.</p>
    <p>Один проект может включать в себя несколько экземпляров, между которыми происходит обмен данными. Приложение Администратор поддерживает подключение к удалённым серверам, поэтому настройка и контроль работы Rapid SCADA может осуществляться инженером с одной рабочей станции.</p>

    <h2 id="configuration-sequence">Последовательность настройки</h2>
    <p>Начиная работу с Rapid SCADA, рекомендуется придерживаться общей последовательности настройки, приведённой ниже. Получив определённый опыт работы с комплексом, лучше поняв механизмы взаимодействия приложений, можно варьировать последовательность настройки для удобства.</p>
    <ol>
        <li>Создать новый или открыть существующий проект в приложении Администратор.</li>
        <li>Добавить объекты, линии связи и устройства в базу конфигурации. Для создания линий связи и устройств рекомендуется использовать мастеры, которые вызываются с помощью кнопок <img src="../common-images/add-line.png" /> и <img src="../common-images/add-device.png" />, расположенных на панели инструментов Администратора.</li>
        <li>Проверить, что добавленные линии связи и устройства присутствуют в настройках Коммуникатора. При необходимости создать их, выбрав пункт меню <strong>Синхронизировать</strong> в контекстном меню узла <strong>Линии связи</strong> проводника проекта.</li>
        <li>Настроить обмен данными с устройствами в Коммуникаторе.</li>
        <li>Создать каналы в базе конфигурации. Рекомендуется использовать мастер, вызываемый кнопкой <img src="../common-images/create-cnls.png" />.</li>
        <li>Создать представления и прописать их в таблице <strong>Представления</strong> базы конфигурации.</li>
        <li>Передать проект на выполнение с помощью кнопки <img src="../common-images/upload.png" />.</li>
    </ol>
</div>
