@page "/ru/latest/configuration/database"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "База конфигурации";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#model">Модель базы конфигурации</a></li>
        <li><a href="#editing">Редактирование базы конфигурации</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>База конфигурации</h1>

    <h2 id="model">Модель базы конфигурации</h2>
    <p>База конфигурации – это часть проекта, состоящая из таблиц и являющаяся общей для всех экземпляров проекта. Приложения, входящие в состав Rapid SCADA, используют информацию из базы конфигурации в сочетании со своими параметрами настройки.</p>
    <p>База конфигурации редактируется с помощью программы Администратор. Редактируемая копия базы конфигурации имеет формат XML. При передаче проекта на сервер для выполнения база конфигурации конвертируется в специально разработанный формат DAT.</p>
    <p>База конфигурации состоит из таблиц, которые, в свою очередь, состоят из столбцов и строк. Каждая таблица относится к одной из следующих групп:</p>
    <ol>
        <li><strong>Основные таблицы</strong>. Данная группа содержит таблицы, которые определяют работу конкретного проекта.</li>
        <li><strong>Вспомогательные таблицы</strong>. В таблицы данной группы вносятся незначительные дополнения в процессе разработки проекта.</li>
    </ol>
    <p>Далее приводится перечень таблиц базы конфигурации с их кратким описанием.</p>

    <table class="table table-hover">
        <tr class="table-secondary">
            <td colspan="2"><strong>Основные таблицы</strong></td>
        </tr>
        <tr>
            <td>Объекты</td>
            <td>Содержит логические объекты, которые используются для структурирования информации в системе и управления правами доступа. Объекты могут образовывать иерархию</td>
        </tr>
        <tr>
            <td>Линии связи</td>
            <td>Описывает линии связи, которые группируют устройства и определяют порядок их опроса</td>
        </tr>
        <tr>
            <td>Устройства</td>
            <td>Содержит список физических или виртуальных устройств</td>
        </tr>
        <tr>
            <td>Каналы</td>
            <td>Каналы необходимы для сохранения измеряемых данных, математических расчётов и отправки команд управления</td>
        </tr>
        <tr>
            <td>Границы</td>
            <td>Содержит перечень границ значений каналов</td>
        </tr>
        <tr>
            <td>Представления</td>
            <td>Содержит атрибуты представлений и определяет структуру дерева представлений</td>
        </tr>
        <tr>
            <td>Роли</td>
            <td>Содержит список ролей пользователей. Роль - это набор прав доступа. Встроенные роли изменять и удалять нельзя</td>
        </tr>
        <tr>
            <td>Наследование ролей</td>
            <td>Позволяет настроить родительскую роль на основе прав дочерних ролей</td>
        </tr>
        <tr>
            <td>Права на объекты</td>
            <td>Определяет права пользовательских ролей на объекты</td>
        </tr>
        <tr>
            <td>Пользователи</td>
            <td>Содержит список пользователей системы с указанием их ролей</td>
        </tr>
        <tr class="table-secondary">
            <td colspan="2"><strong>Вспомогательные таблицы</strong></td>
        </tr>
        <tr>
            <td>Архивы</td>
            <td>Справочник архивов. Архивы в таблице должны соответствовать архивам в настройках Сервера</td>
        </tr>
        <tr>
            <td>Величины</td>
            <td>Справочник физических величин</td>
        </tr>
        <tr>
            <td>Виды архивов</td>
            <td>Справочник видов архивов</td>
        </tr>
        <tr>
            <td>Размерности</td>
            <td>Справочник размерностей</td>
        </tr>
        <tr>
            <td>Скрипты</td>
            <td>Справочник скриптов и формул, используемых при расчётах значений каналов и команд управления</td>
        </tr>
        <tr>
            <td>Статусы каналов</td>
            <td>Справочник статусов каналов. В том числе задаёт соответствие между статусом канала и некоторыми параметрами событий</td>
        </tr>
        <tr>
            <td>Типы данных</td>
            <td>Справочник типов данных</td>
        </tr>
        <tr>
            <td>Типы каналов</td>
            <td>Справочник типов каналов</td>
        </tr>
        <tr>
            <td>Типы представлений</td>
            <td>Справочник типов представлений</td>
        </tr>
        <tr>
            <td>Типы устройств</td>
            <td>Справочник типов устройств (драйверов)</td>
        </tr>
        <tr>
            <td>Форматы</td>
            <td>Справочник форматов, которые используются при отображении значений каналов и команд</td>
        </tr>
    </table>

    <h2 id="editing">Редактирование базы конфигурации</h2>
    <p>Таблицы базы конфигурации связаны между собой, то есть значение одной таблицы может ссылаться на запись из другой таблицы. Например, устройство ссылается на линию связи, к которой оно относится. Поэтому редактирование таблиц удобно выполнять в определённой последовательности. Для таблиц из группы <strong>Основные таблицы</strong> ввод данных обычно выполняется по порядку, начиная с таблицы <strong>Объекты</strong>, заканчивая таблицей <strong>Пользователи</strong>.</p>
    <p>Приложение Администратор предоставляет инструменты, которые ускоряют и упрощают редактирование базы конфигурации:</p>
    <ul>
        <li>Окно поиска и замены в таблице вызывается кнопкой <img src="../common-images/find.png" />, которая расположена на панели инструментов таблицы, или сочетанием клавиш <kbd>Ctrl</kbd> + <kbd>F</kbd>.</li>
        <li>Фильтрация таблицы позволяет скрыть лишние записи. Если таблица отфильтрована, то поиск и замена выполняется только для отображаемых записей таблицы. Окно фильтра вызывается кнопкой <img src="../common-images/filter.png" />.</li>
        <li>Для ячеек таблицы доступны функции вырезать <kbd>Ctrl</kbd> + <kbd>X</kbd>, копировать <kbd>Ctrl</kbd> + <kbd>C</kbd> и вставить <kbd>Ctrl</kbd> + <kbd>V</kbd>. Эти функции работают в том числе для ячеек, значения которых выбираются из выпадающего списка.</li>
        <li>Если щёлкнуть по заголовку столбца, строки таблицы отсортируются по значениям данного столбца.</li>
        <li>Если на панели инструментов таблицы отображается кнопка свойств <img src="../common-images/properties.png" />, значит для данной таблицы доступно редактирование записей с помощью диалоговой формы. Кнопка свойств поддерживается для таблицы <strong>Каналы</strong>.</li>
        <li>Мастеры, которые вызываются с помощью кнопок <img src="../common-images/add-line.png" />, <img src="../common-images/add-device.png" /> и <img src="../common-images/create-cnls.png" />, расположенных на основной панели инструментов, позволяют быстро заполнить таблицы <strong>Линии связи</strong>, <strong>Устройства</strong> и <strong>Каналы</strong>.</li>
        <li>Инструмент клонирования каналов ускоряет заполнение таблицы <strong>Каналы</strong>, если система содержит много одинаковых устройств. Инструмент доступен через главное меню <strong>Инструменты &gt; Инструменты проекта &gt; Клонировать каналы</strong>.</li>
        <li>С помощью функций импорта и экспорта таблиц можно переносить сделанные ранее наработки между проектами. Поддерживаются форматы данных XML, CSV и DAT. Функции доступны в разделе главного меню <strong>Инструменты &gt; Инструменты проекта</strong>.</li>
        <li>Инструмент проверки целостности базы конфигурации позволяет убедиться, что связи между таблицами корректны, и внешние ключи таблиц указывают на существующие записи.</li>
    </ul>
</div>
