@page "/ru/latest/configuration/device-polling"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Опрос устройств";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#line-options">Параметры линии связи</a></li>
        <li><a href="#device-options">Параметры устройства</a></li>
        <li><a href="#sync-settings">Синхронизация настроек</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Опрос устройств</h1>
    <p>Взаимодействие с устройствами выполняется приложением Коммуникатор, которое, выступая в качестве ведущего (Master) или ведомого (Slave), запрашивает данные и передаёт команды устройствам. Опрашиваемые устройства - это контроллеры, модули ввода-вывода, приборы учёта, а также внешние источники данных, которые условно тоже называются устройствами. Все устройства привязываются к своим линиям связи, которые не зависят друг от друга и работают параллельно.</p>
    <p>Устройства опрашиваются с использованием различных протоколов обмена данными, например, Modbus, OPC или MQTT. За реализацию каждого протокола отвечает соответствующий драйвер. Часть драйверов устанавливается по умолчанию в процессе установки Rapid SCADA, некоторые другие драйверы можно установить дополнительно.</p>

    <h2 id="line-options">Параметры линии связи</h2>
    <p>На рис. 1 показан пример настройки основных параметров линии связи. Обратите внимание на настройку канала связи. Канал связи определяет, с помощью какого физического интерфейса или сетевого протокола производится опрос устройств. Поддерживаются следующие каналы связи: Последовательный порт, TCP-клиент, TCP-сервер, UDP, MQTT-клиент. В некоторых случаях, если подключение к устройствам реализовано непосредственно в драйвере (например, OPC), канал связи следует оставить незаданным.</p>
    
    <figure class="figure">
        <img src="device-polling-files/line-options-ru.png" class="figure-img img-fluid border" alt="Основные параметры линии" />
        <figcaption class="figure-caption">Рис. 1. Основные параметры линии</figcaption>
    </figure>

    <p>Пользовательские параметры линии связи являются специфичными для используемого драйвера. Их установка выполняется через пользовательский интерфейс, реализуемый драйвером, или может быть описана в инструкции по настройке конкретного типа устройств.</p>

    <h2 id="device-options">Параметры устройства</h2>
    <p>В разделе <strong>Опрос устройств</strong> настраиваются индивидуальные параметры опроса каждого устройства, относящегося к линии связи.</p>

    <figure class="figure">
        <img src="device-polling-files/device-options-ru.png" class="figure-img img-fluid" alt="Параметры опроса устройства" />
        <figcaption class="figure-caption">Рис. 2. Параметры опроса устройства</figcaption>
    </figure>

    <p>Таблица ниже содержит описание параметров опроса устройства.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Параметр</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Активно</td>
                <td>Означает, что устройство опрашивается</td>
            </tr>
            <tr>
                <td>Опрос только по команде</td>
                <td>Чтобы выполнить опрос устройства, необходимо отправить команду</td>
            </tr>
            <tr>
                <td>Привязано к базе конфигурации</td>
                <td>Если параметр включен, теги устройства привязываются к каналам базы конфигурации, и полученные данные отправляются приложению Сервер</td>
            </tr>
            <tr>
                <td>Номер</td>
                <td>Номер устройства. Должен соответствовать номеру устройства в базе конфигурации</td>
            </tr>
            <tr>
                <td>Наименование</td>
                <td>Наименование устройства</td>
            </tr>
            <tr>
                <td>Драйвер</td>
                <td>Драйвер, который реализует протокол обмена данными, поддерживаемый устройством</td>
            </tr>
            <tr>
                <td>Числовой адрес</td>
                <td>Адрес устройства в виде числа</td>
            </tr>
            <tr>
                <td>Строковый адрес или имя сервера</td>
                <td>Адрес устройства в виде строки. Обычно это IP-адрес</td>
            </tr>
            <tr>
                <td>Таймаут</td>
                <td>Длительность ожидания ответа от устройства в миллисекундах</td>
            </tr>
            <tr>
                <td>Пауза</td>
                <td>Задержка после приёма данных в миллисекундах</td>
            </tr>
            <tr>
                <td>Время и Период</td>
                <td>Если оба параметра нулевые, то опрос устройства производится непрерывно циклически. Если указано время, а период равен нулю, то опрос выполняется один раз в сутки в указанное время. Если период не нулевой, то опрос выполняется периодически, начиная с заданного времени</td>
            </tr>
            <tr>
                <td>Командная строка</td>
                <td>Дополнительные параметры, которые определяются драйвером и указаны в его описании</td>
            </tr>
            <tr>
                <td>Параметры</td>
                <td>Аналогично командной строке, но более структурированы</td>
            </tr>
        </tbody>
    </table>

    <p>Если устройство имеет специфичные для данного типа устройств параметры, то для их настройки нужно нажать кнопку <strong>Свойства</strong>, чтобы открыть окно настроек, предоставляемое драйвером. Кнопка <strong>Сброс</strong> возвращает параметры опроса устройства к значениям по умолчанию, которые определяются выбранным драйром.</p>

    <h2 id="sync-settings">Синхронизация настроек</h2>
    <p>Функция синхронизации позволяет создать линии связи и устройства в настройках Коммуникатора на основе данных из таблиц <strong>Линии связи</strong> и <strong>Устройства</strong> базы конфигурации. И наоборот, заполнить таблицы базы конфигурации на основе настроек Коммуникатора. Чтобы вызвать диалог синхронизации, в проводнике проекта щёлкните правой кнопкой мыши на узле <strong>Линии связи</strong> или на узле конкретной линии связи, затем в контекстном меню выберите пункт <strong>Синхронизировать</strong>.</p>

    <figure class="figure">
        <img src="device-polling-files/line-device-sync-ru.png" class="figure-img img-fluid" alt="Синхронизация линий и устройств" />
        <figcaption class="figure-caption">Рис. 3. Синхронизация линий и устройств</figcaption>
    </figure>

</div>
