@page "/ru/latest/configuration/device-polling"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Опрос устройств";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#line-options">Параметры линии связи</a></li>
        <li><a href="#device-options">Параметры устройства</a></li>
        <li><a href="#sync-settings">Синхронизация настроек</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Опрос устройств</h1>
    <p>Взаимодействие с устройствами выполняется приложением Коммуникатор, которое, выступая в качестве ведущего (Master) или ведомого (Slave), запрашивает данные и передаёт команды устройствам. Опрашиваемые устройства - это контроллеры, модули ввода-вывода, приборы учёта, а также внешние источники данных, которые условно тоже называются устройствами. Все устройства привязываются к своим линиям связи, которые не зависят друг от друга и работают параллельно.</p>
    <p>Устройства опрашиваются с использованием различных протоколов обмена данными, например, Modbus, OPC или MQTT. За реализацию каждого протокола отвечает соответствующий драйвер. Часть драйверов устанавливается по умолчанию в процессе установки Rapid SCADA, некоторые другие драйверы можно установить дополнительно.</p>

    <h2 id="line-options">Параметры линии связи</h2>
    <p>На рис. 1 показан пример настройки основных параметров линии связи. Обратите внимание на настройку канала связи. Канал связи определяет, с помощью какого физического интерфейса или сетевого протокола производится опрос устройств. Поддерживаются следующие каналы связи: Последовательный порт, TCP-клиент, TCP-сервер, UDP, MQTT-клиент. В некоторых случаях, если подключение к устройствам реализовано непосредственно в драйвере (например, OPC), канал связи следует оставить незаданным.</p>
    
    <figure class="figure">
        <img src="device-polling-files/line-options-ru.png" class="figure-img img-fluid border" alt="Основные параметры линии" />
        <figcaption class="figure-caption">Рис. 1. Основные параметры линии</figcaption>
    </figure>

    <p>Пользовательские параметры линии связи являются специфичными для используемого драйвера. Их установка выполняется через пользовательский интерфейс, реализуемый драйвером, или может быть описана в инструкции по настройке конкретного типа устройств.</p>

</div>
