@page "/ru/latest/configuration/views"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Представления";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#creating-views">Создание представлений</a></li>
        <li><a href="#view-table">Таблица представлений</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Представления</h1>
    <p><strong>Представление</strong> – это форма отображения информации в приложении Вебстанция. По умолчанию поддерживается 3 типа представлений: табличные представления, мнемосхемы и веб-страницы. С помощью подключения дополнительных плагинов может быть добавлена поддержка других типов представлений. Полный список реализованных типов представлений содержится в таблице <strong>Типы представлений</strong> базы конфигурации проекта.</p>

    <h2 id="creating-views">Создание представлений</h2>
    <p>Файлы представлений находятся в разделе <strong>Представления</strong> проекта. Чтобы создать файл или папку в разделе представлений, щёлкните правой кнопокой мыши на узле проводника в этом разделе, затем в появившемся контекстном меню выберите пункт <strong>Создать файл</strong> или <strong>Создать папку</strong> (рис. 1).</p>

    <figure class="figure">
        <img src="views-files/view-menu-ru.png" class="figure-img img-fluid" alt="Контекстное меню представлений" />
        <figcaption class="figure-caption">Рис. 1. Контекстное меню представлений</figcaption>
    </figure>

    <p>При создании файла в открывшемся окне выберите тип представления, укажите имя файла и нажмите кнопку <strong>OK</strong> (рис. 2). Созданный файл отобразится в проводнике проекта. По двойному щечку представление открывается в редакторе, соответствующему расширению файла.</p>

    <figure class="figure">
        <img src="views-files/new-file-ru.png" class="figure-img img-fluid" alt="Диалог создания представления" />
        <figcaption class="figure-caption">Рис. 2. Диалог создания представления</figcaption>
    </figure>

    <p>Для табличных представлений и мнемосхем существуют специализированные программы-редакторы. Файлы представлений других типов имеют формат XML и редактируются с помощью обычных текстовых редакторов.</p>

    <h2 id="view-table">Таблица представлений</h2>

    <p>После того, как файл представления создан, его необходимо прописать в базе конфигурации в таблице <strong>Представления</strong>, как показано на рис. 3. Папки, в которых находятся файлы представлений, также нужно прописать в таблице, чтобы назначить на них права доступа.</p>

    <figure class="figure">
        <img src="views-files/view-table-ru.png" class="figure-img img-fluid" alt="Таблица Представления" />
        <figcaption class="figure-caption">Рис. 3. Таблица Представления</figcaption>
    </figure>

    <p><strong>Путь</strong> к представлению указывается относительно директории представлений. Независимо от операционной системы, используемой на сервере, разделителем пути является обратный слеш. Некоторые представления, например, представления типа <strong>Веб-страница</strong> не имеют файла представлений. Для таких представлений необходимо указать путь, который определит расположение представления в проводнике представлений приложения Вебстанция.</p>
    <p><strong>Тип представления</strong> выбирается из выпадающего списка. Если файл представления имеет расширение, зарегистрированное в таблице <strong>Типы предоставлений</strong>, то тип можно не указывать, он будет определён автоматически.</p>
    <p><strong>Объект</strong>, данные которого отображает представление, необходимо указать для разграничения прав доступа пользователей к представлению.</p>
    <p>Столбец <strong>Аргументы</strong> содержит дополнительные параметры представления, которые влияют на его работу. Для представлений типа <strong>Веб-страница</strong> в качестве аргументов указывается её адрес.</p>
    <p>Указанный для представления <strong>Заголовок</strong> отображается в дереве представлений. Если оставить заголовок пустым, то в качестве заголовка будет использовано имя файла.</p>
    <p>Поле <strong>Порядок</strong> определяет порядок обработки представлений при формировании дерева представлений. Если порядок не задан, представления обрабатываются по порядку их идентификаторов.</p>
    <p>Галочка <strong>Скрыть</strong> позволяет убрать представление из дерева представлений. Это удобно для вспомогательных представлений, которые открываются по ссылке из других представлений.</p>

    <figure class="figure">
        <img src="views-files/explorer-ru.png" class="figure-img img-fluid" alt="Проводник представлений" />
        <figcaption class="figure-caption">Рис. 4. Проводник представлений</figcaption>
    </figure>

    <p>На основе рассмотренной таблицы представлений заполнен проводник, который показан на рис. 4.</p>
</div>
