@page "/ru/latest/configuration/views"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Представления";
}

<nav class="doc-toc">
    <div class="h6">На этой странице</div>
    <hr>
    <ul>
        <li><a href="#creating-views">Создание представлений</a></li>
        <li><a href="#view-table">Таблица представлений</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Представления</h1>

    <h2 id="creating-views">Создание представлений</h2>

    <h2 id="view-table">Таблица представлений</h2>
</div>
