@page "/fr/latest/software-overview/introduction"
@{
    Layout = "_ArticleLayout";
    ViewBag.Title = "Introduction";
}

<nav class="doc-toc">
    <div class="h6">Sur cette page</div>
    <hr>
    <ul>
        <li><a href="#about">Qu’est-ce que Rapid SCADA</a></li>
        <li><a href="#key-features">Principales caractéristiques</a></li>
    </ul>
</nav>

<div class="doc-content">
    <h1>Introduction</h1>
    <h2 id="about">Qu’est-ce que Rapid SCADA</h2>
    <p>Rapid SCADA est une plateforme d’automatisation industrielle open source. Le logiciel prêt à l’emploi fournit des outils de création rapide de système de surveillance et de contrôle.</p>
    <p>L’open source est la clef de la transparence et de la sécurité des logiciels. Le code open source est disponible sur <a href="https://github.com/RapidScada/scada-v6" target="_blank">GitHub</a>. Rapid SCADA est délivré sous <a href="http://en.wikipedia.org/wiki/Apache_License" target="_blank">Apache License 2.0</a> qui permet la création de nouveaux produits logiciels dérivés.</p>
    <p>Rapid SCADA est le choix parfait pour la création d’importants systèmes d’automatisation industrielle distribués. Rapid SCADA fonctionne sur serveur, sur calculateurs embarqués et sur le cloud. Les nœuds Rapid SCADA échangent des informations entre eux, et interagissent avec des bases de données externes en temps réel.</p>
    <p>Les principales classes de systèmes développées utilisées par Rapid SCADA sont les suivantes :</p>
    <ul>
        <li>Systèmes d’automatisation industrielle et systèmes IIoT.</li>
        <li>Systèmes de contrôle de procédures.</li>
        <li>Systèmes de comptabilité énergétiques.</li>
    </ul>

    <h2 id="key-features">Principales caractéristiques</h2>
    <table class="table table-hover">
        <tr class="table-secondary">
            <th colspan="2">Général</th>
        </tr>
        <tr>
            <td>Familles de systèmes d’exploitation prises en charge</td>
            <td>Windows, Linux</td>
        </tr>
        <tr>
            <td>Nombre illimité de canaux, tags et appareils</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Configuration et maintenance à distance des projets</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Travail simultané sur des projets avec GIT</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Support technique gratuit et payant</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Sécurité</th>
        </tr>
        <tr>
            <td>HTTPS, SSL</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Protection contre les attaques par force brute</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Captcha à la connexion</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Surveillance des connexions</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Cryptage du mot de passe</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Journalisation de l’activité des utilisateurs</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Redondace</th>
        </tr>
        <tr>
            <td>Serveur principal et serveur de sauvegarde avec synchronisation automatique des données</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Serveurs centraux et distants avec synchronisation automatique des données</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Mise en miroir</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Archivage</th>
        </tr>
        <tr>
            <td>Stockage des données</td>
            <td>Fichiers, PostgreSQL, InfluxDB</td>
        </tr>
        <tr>
            <td>Nombre maximum d’archives indépendantes</td>
            <td>31</td>
        </tr>
        <tr>
            <td>Période d’écriture </td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Écriture sur le changement</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Connectivité</th>
        </tr>
        <tr>
            <td>Intégration avec des bases de données</td>
            <td>Oracle, MS SQL, MySQL, PostgreSQL</td>
        </tr>
        <tr>
            <td>Protocoles industriels </td>
            <td>OPC UA, OPC Classic, Modbus, MQTT, SNMP, etc.</td>
        </tr>
        <tr class="table-secondary">
            <th colspan="2">Programmation</th>
        </tr>
        <tr>
            <td>REST API</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Exemples de modules avec code source</td>
            <td><strong>&check;</strong></td>
        </tr>
        <tr>
            <td>Documentation pour les développeurs </td>
            <td><strong>&check;</strong></td>
        </tr>
    </table>
</div>
